@using NovatecEnergyWeb.Models;

@model  IEnumerable<NovatecEnergyWeb.Models.ClientesWeb>
@{
    ViewData["Title"] = "Clientes Web";
}

<h2>@ViewData["Title"]</h2>
<h4>Ativação de clientes.</h4>
<hr />
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th class="text-center">Nome Completo</th>
            <th class="text-center">Login</th>
            <th class="text-center">Ativar login</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="linha_@item.Id">
                <td class="text-center">
                    @item.NomeCompleto 
                </td>
                <td class="text-center">
                    @item.Login
                </td>
                <td class="text-center">
                    <input type="checkbox" onclick="ativaStatus(@item.Id)" checked="@item.StatusLogin">
                </td>
                <!--<td class="text-center"><input type="checkbox" onclick="ativaStatus(@item.Id)"></td>-->
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    function ativaStatus(clienteID) {
        var parametro = {};

        parametro.clienteId = clienteID;

        $.post("@Url.Action("AtivaClienteCadastrado", "ClientesWeb")", parametro, atualizaGradeCliente);
    };

    function atualizaGradeCliente(clienteretorno) {
        var idTableRow = '#linha_' + clienteretorno.id;
     //   $(idTableRow).remove();


        if(clienteretorno.statusLogin){
            $('<div id="prediv" ><div id="bootAlert" class="alert alert-success">Cliente <strong>' + clienteretorno.nomeCompleto + '</strong> foi ativado!</div></div>')
                .prependTo('#container1');
        }else{
            $('<div id="prediv" ><div id="bootAlert" class="alert alert-warning">Cliente <strong>' + clienteretorno.nomeCompleto + '</strong> foi desativado!</div></div>')
                    .prependTo('#container1');
        }


        setTimeout(encobre, 3000);
    };

    function encobre() {
        $('#prediv').remove();
        $('#bootAlert').remove();
    };
</script>

    
