@using NovatecEnergyWeb.Models.ProducaoViewModels;

@model  IEnumerable<AvancoMesViewModel>
@{
    ViewData["Title"] = "Avanço de Produção - Mensal";
}

<h4>@ViewData["Title"]</h4>

<ins>Nº Linhas           <b>@Model.Count()</b></ins>
<br />
    <br />

    <a href="#" class="btn btn-default btn-lg" role="button">Produção Diária </a>
    <br /> <br />
    <a href="#" class="btn btn-default btn-lg disabled" role="button">Produção Mensal</a>
    <br /><br />

<label>Ano</label>
<select id="anos" class="form-control inputsAvancoMes">
    @foreach (var item in ViewBag.ListaAnos)
    {
        <option>@item</option>
    } 
</select>
<br />
<label>Status</label>
<select id="status"class="form-control inputsAvancoMes">
    @foreach (var item in ViewBag.ListaStatus)
    {
        <option value="@item.Id">@item.Nome</option>
    }
</select>
<br />
<label>Tipo (Rede ou Ramal)</label>
<select id="tipoRede" class="form-control inputsAvancoMes">
    <option value ="1">REDE</option>
    <option value ="2">RAMAL</option>
</select>
<br />
<label>Tipo de Conta</label>
    <select id="tipoConta"class="form-control inputsAvancoMes">
        @foreach (var item in ViewBag.ListaTipoConta)
        {
            <option value="@item.Id">@item.Nome</option>
        }
    </select>
<br />
<label>Zona</label>
<select id="zona"class="form-control inputsAvancoMes">
    @foreach (var item in ViewBag.ListaZona)
    {
        <option value="@item.Id">@item.Zona</option>
    }
</select>
<br />
<label>Delegação</label>
<select id="delegacao" class="form-control inputsAvancoMes">
    @foreach (var item in ViewBag.ListaDelegacao)
    {
        <option value="@item.Id">@item.Delegacao</option>
    }
</select>
<br />
<label>Obra</label>
<input type="text" name="Obra" class="form-control inputsAvancoMes"/>
<br />
<a href="#" class="btn btn-default btn-lg" 
   role="button">Limpar filtro</a>
<br />
<br />
    <table class="table table-bordered  tableAvancoMes">
        <thead>
            <tr>
                <th class="text-center">Z</th>
                <th class="text-center">D</th>
                <th class="text-center">Obra</th>
                <th class="text-center">Natureza</th>
                <th class="text-center">DM</th>
                <th class="text-center">Jan</th>
                <th class="text-center">Fev</th>
                <th class="text-center">Mar</th>
                <th class="text-center">Abr</th>
                <th class="text-center">Mai</th>
                <th class="text-center">Jun</th>
                <th class="text-center">Jul</th>
                <th class="text-center">Ago</th>
                <th class="text-center">Set</th>
                <th class="text-center">Out</th>
                <th class="text-center">Nov</th>
                <th class="text-center">Dez</th>
                <th class="text-center">Total</th>
            </tr>
        </thead>
        <tbody class="fontTableBodyAvancoMes" >


            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Z</td>
                    <td>@item.D</td>
                    <td>@item.Obra</td>
                    <td>@item.Natureza</td>
                    <td>@item.DM</td>
                    <td>@item.Meses[0]</td>
                    <td>@item.Meses[1]</td>
                    <td>@item.Meses[2]</td>
                    <td>@item.Meses[3]</td>
                    <td>@item.Meses[4]</td>
                    <td>@item.Meses[5]</td>
                    <td>@item.Meses[6]</td>
                    <td>@item.Meses[7]</td>
                    <td>@item.Meses[8]</td>
                    <td>@item.Meses[9]</td>
                    <td>@item.Meses[10]</td>
                    <td>@item.Meses[11]</td>
                    <td>@item.Total</td>
                </tr>
            }


        </tbody>
    </table>
<script>
    $("#anos").prop("selectedIndex", -1);
    $("#status").prop("selectedIndex", -1);
    $("#tipoRede").prop("selectedIndex", -1);
    $("#tipoConta").prop("selectedIndex", -1);
    $("#zona").prop("selectedIndex", -1);
    $("#delegacao").prop("selectedIndex", -1);
</script>