@using NovatecEnergyWeb.Models.AccountViewModels;

@model NovatecEnergyWeb.Models.AccountViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Informe seu Login e Senha</h2>

    <div class="row">
        <div class="col-md-8">
            <section>

                <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal">
                    @Html.AntiForgeryToken()
                    <div class="col-md-12">
                        <label class="radio-inline">
                            <input type="radio" name="Tipo" id="radio_func" checked value="func" >Funcionários
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Tipo" id="radio_cli" value="cli" >Clientes
                        </label>
                        <br />
                    </div>
                          
                               
                    <br /><br /><label class="col-md-2 control-label">Usuário</label>
                    <div class="col-md-10">
                        <input id="log" type="text" name="Login" style="text-transform:uppercase" value="@ViewBag.Account.Login" class="form-control" />
                        @Html.ValidationMessage("Login", new { @class = "text-danger" })
                             <br />
                    </div>
                    
                    
                    <label  class="col-md-2 control-label">Senha</label>
                    <div class="col-md-10">
                        <input id ="pass" type="password" name="Senha" class="form-control" />
                        @Html.ValidationMessage("Senha", new { @class = "text-danger" }) <br />
                    </div>

                    
                    <div class="col-sm-offset-2 col-md-10">
                        <input type="submit" onclick="clickSubmit()" value="OK" class="btn btn-default" />
                    </div>
               
                </form>
            </section>
        </div>
   </div>

<script type="text/javascript">

    function trocaUser() {
        var parametros = {};

        if (document.getElementById('radio_func').checked) {
            parametros.control = 'func';
        } else if (document.getElementById('radio_cli').checked) {
            parametros.control = 'cli';

        }
        $.post("@Url.Action("TrocaTipoUsuario", "Account")", parametros, atualizaDrop);
    };

    function atualizaDrop(list) {

        $("#usuarios").empty();
        $("#usuarios").append($("<option />").val('').text(''));

        $.each(list, function () {
            $("#usuarios").append($("<option />").val(this.id + '|' + this.login).text(this.login));
        });

    };

    function encriptaPass() {
        var valor = $('#pass').val();

        if (valor != '') {
            $("#pass").val(SHA1(valor));
        }
    };

    function upperLogin() {
        $('#log').val($('#log').val().toUpperCase());
    };

    function clickSubmit() {
        encriptaPass();
        upperLogin();
    };

   
  
</script>
