@using NovatecEnergyWeb.Models;

@model NovatecEnergyWeb.Models.AccountViewModels.TrocaSenhaViewModel
@{
    ViewData["Title"] = "Troca de Senha";
}

<h2>Troca de Senha</h2>


<div class="row">
    <div class="col-md-8">
        <section>

            <form asp-controller="Account" asp-action="TrocaSenha" method="post" class="form-horizontal">
                @Html.AntiForgeryToken()
                <input type="hidden" name="Tipo" value="@ViewBag.Account.Tipo" />
                <input type="hidden" name="Id" value="@ViewBag.Account.Id" />
                <br />
                <label class="col-md-3 control-label">Usuário</label>
                <div class="col-md-9">
                    <input  type="text" name="Usuario" style="text-transform:uppercase"  readonly value="@ViewBag.Account.Usuario"  class="form-control forms-inputs" />
                    @Html.ValidationMessage("Usuario", new { @class = "text-danger" })
                    <br />
                </div>

                <br /><br /><label class="col-md-3 control-label">Senha Atual</label>
                <div class="col-md-9">
                    <input id="atual" type="password" name="SenhaAtual"  class="form-control forms-inputs" />
                    @Html.ValidationMessage("SenhaAtual", new { @class = "text-danger" })
                    <br />
                </div>

                <br /><br /><label class="col-md-3 control-label">Nova Senha</label>
                <div class="col-md-9">
                    <input id="nova" type="password" name="NovaSenha"  class="form-control forms-inputs" />
                    @Html.ValidationMessage("NovaSenha", new { @class = "text-danger" })
                    <br />
                </div>

                <br /><br /><label class="col-md-3 control-label">Repetir Nova Senha</label>
                <div class="col-md-9">
                    <input id="confirma" type="password" name="ConfirmaSenha" class="form-control forms-inputs" />
                    @Html.ValidationMessage("ConfirmaSenha", new { @class = "text-danger" })
                    <br />
                </div>

                <div class="col-sm-offset-3 col-md-9">
                    <input type="submit"  value="OK" class="btn btn-default" />
                  <!--  <input type="submit" value="Cancelar" class="btn btn-default" />-->
                </div>
            </form>
        </section>
    </div>
</div>
<script type="text/javascript">
    function encriptaPass() {
        var valor = $('#nova').val();
        var confirma = $('#confirma').val();
        var atual = $('#atual').val();

        if (valor != '') {
            $("#nova").val(SHA1(valor));
        }

        if (confirma != '') {
            $("#confirma").val(SHA1(confirma));
        }

        if (atual != '') {
            $("#atual").val(SHA1(atual));
        }
    };

    function clickSubmit() {
        encriptaPass();
    };
</script>