@using NovatecEnergyWeb.Models.StoredProcedures;
@using Microsoft.AspNetCore.Http;
@using NovatecEnergyWeb.Core;
@model IEnumerable<LotePorCliente>
@{ 
    Layout = "~/Views/Shared/_LayoutSideNavBar.cshtml";
    ViewData["Title"] = "Status de Clientes Com Tratamento Comercial";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side">
                <h4 id="titulo" class="text-center">Clientes de Lotes Ativos</h4>

                <table>
                    <tbody class="fontTableBodyNavBar">
                        <tr>
                            <td class="col-xs-9" style="padding-right:0px; "><b>Unidades (Potencial)</b> </td>
                            <td id="e0" class="col-xs-2 text-right"><b>@Model.Count()</b></td>
                            <td class="col-xs-1 text-right"></td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Unidades Visitadas</td>
                            <td id="e1" class="col-sm-2 text-right">@ViewBag.Visitados</td>
                            <td id="ep0" class="col-sm-2 text-right">@ViewBag.VisitadosPercent%</td>
                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-xs-8"style="padding-right:0px;">Unidades Não Visitadas</td>
                            <td id="e2" class="col-xs-2 text-right">@ViewBag.NaoVisitados</td>
                            <td id="ep1" class="col-xs-2 text-right">@ViewBag.NaoVisitadosPercent%</td>
                        </tr>


                        <tr>
                            <td class="col-sm-8">Unidades Contratadas</td>
                            <td id="e3" class="col-sm-2 text-right">@ViewBag.Contratados</td>
                            <td id="ep2" class="col-sm-2 text-right">@ViewBag.ContratadosPercent%</td>
                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-sm-8" style="padding-right:0px;">Unidades Não Contratadas</td>
                            <td id="e4" class="col-sm-2 text-right">@ViewBag.NaoContratados</td>
                            <td id="ep3" class="col-sm-2 text-right">@ViewBag.NaoContratadosPercent%</td>

                        </tr>

                        <tr>
                            <td class="col-sm-8">D2 Contratados</td>
                            <td id="e5" class="col-sm-2 text-right">@ViewBag.D2</td>
                            <td id="ep4" class="col-sm-2 text-right">@ViewBag.D2Percent%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">SVG Contratados</td>
                            <td id="e6" class="col-sm-2 text-right">@ViewBag.Svg</td>
                            <td id="ep5" class="col-sm-2 text-right">@ViewBag.SvgPercent%</td>
                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-sm-8">SVE Contratados</td>
                            <td id="e7" class="col-sm-2 text-right">@ViewBag.Sve</td>
                            <td id="ep6" class="col-sm-2 text-right">@ViewBag.SvePercent%</td>
                        </tr>

                        <tr>
                            <td class="col-sm-8"><b>Visitas Realizadas</b></td>
                            <td id="e8" class="col-sm-2 text-right">@ViewBag.Visitas</td>
                            <td class="col-sm-2 text-right"></td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Entrevistas Realizadas</td>
                            <td id="e9" class="col-sm-2 text-right">@ViewBag.VisitasComResposta</td>
                            <td id="ep7" class="col-sm-2 text-right">@ViewBag.VisitasComRespostaPercent%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Visitas Improdutivas</td>
                            <td id="e10" class="col-sm-2 text-right">@ViewBag.VisitasImprodutivas</td>
                            <td id="ep8" class="col-sm-2 text-right">@ViewBag.VisitasImprodutivasPercent%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Ausentes(Improdutivas)</td>
                            <td id="e11" class="col-sm-2 text-right">@ViewBag.Ausentes</td>
                            <td id="ep9" class="col-sm-2 text-right">@ViewBag.AusentesPercent%</td>
                        </tr>

                        <tr>
                            <td class="col-xs-8" style="padding-right:0px;">Visitas Agendadas</td>
                            <td id="e12" class="col-sm-2 text-right">@ViewBag.NovaVisitaAgendada</td>
                            <td class="col-sm-2 text-right"></td>
                        </tr>

                    </tbody>
                </table>



                  <!-- 
                <div class="buttonGroupNavBar">
                    <ul class="nav ">
                        <li id ="todosli" class="fontTableBodyNavBar">
                            <a href="#" onclick="$(this).data('clicked', true); $('#titulo').html('Clientes de Lotes - Todos'); postToController();" id="todos" >Clientes de Lotes - Todos</a>
                        </li>
                        <li id ="ativosli" class="disabled fontTableBodyNavBar">
                            <a href="#" id="ativos" onclick="$(this).data('clicked', true); $('#titulo').html('Clientes de Lotes Ativos'); postToController();" > Clientes de Lotes Ativos</a>
                        </li>
                      <li id ="semLoteTodosli" class="fontTableBodyNavBar">
                            !--href="/Adesao/EnderecosVisitasSemLote"-- 
                            <a href="#" onclick="$(this).data('clicked', true);  postToControllerSemLote();" id="semLoteTodos" >Clientes Sem Lote - Todos</a>
                        </li>
                        <li id ="semLoteNaoli" class="fontTableBodyNavBar ">
                            <a href="#" id="semLoteNao">Clientes Sem Lote - Não Contratados</a>
                        </li> 
                        
                    </ul>
                </div>
                       -->

               
                <form class="form-horizontal" style="padding-left:15px;padding-right:15px;">
                   <!-- <div class="control-group">
                        <label class="control-label labelsFormNav">Cliente</label>
                        <div class="controls">
                            <select id="clientesCeg" onchange="postCascadeCliente(); postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                <option value="12">CEG</option>
                                <option value="13">CEG RIO</option>
                            </select>
                        </div>
                    </div> -->
                    
                    <div class="control-group">
                        <label class="control-label labelsFormNav">Zona</label>
                        <div class="controls">
                            @{
                                int? zona = Context.Session.GetInt32("Zona");

                                if (zona != null)
                                {
                                    <select id="zonas" onchange="postZona(); postToController();" disabled="disabled" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                        @for (int i = 0; i < ViewBag.Zonas.Count; i++)
                                        {
                                            if (zona == ViewBag.Zonas[i].Id)
                                            {
                                                ViewBag.ZonaSelecionada = i;
                                                <option value="@ViewBag.Zonas[i].Id">@ViewBag.Zonas[i].Zona</option>
                                            }
                                            else
                                            {
                                                <option value="@ViewBag.Zonas[i].Id">@ViewBag.Zonas[i].Zona</option>
                                            }
                                        }

                                    </select>
                                }
                                else
                                {
                                    <select id="zonas" onchange="postZona();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                        @foreach (var item in ViewBag.Zonas)
                                        {
                                            <option value="@item.Id">@item.Zona</option>
                                        }
                                    </select>
                                }
                            }
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Delegação</label>
                        <div class="controls">
                            @{
                                int? delegacao = Context.Session.GetInt32("Delegação");

                                if (delegacao != null)
                                {
                                    <select id="delegacoes" onchange="postDelegacao();" disabled="disabled" class="alturaFormNavInput form-control fontTableBodyNavBar delegacaoSelect">
                                        @for (int i = 0; i < ViewBag.Delegacao.Count; i++)
                                        {
                                            if (delegacao == ViewBag.Delegacao[i].Id)
                                            {
                                                ViewBag.DelegacaoSel = i;
                                            }
                                            <option value="@ViewBag.Delegacao[i].Id">@ViewBag.Delegacao[i].Delegacao</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select id="delegacoes" onchange="postDelegacao(); postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar delegacaoSelect">
                                        @foreach (var item in ViewBag.Delegacao)
                                        {
                                            <option value="@item.Id">@item.Delegacao</option>
                                        }
                                    </select>
                                }
                            }
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Área</label>
                        <div class="controls">

                            @{
                                int? area = Context.Session.GetInt32("Área");
                                int? areaQuantidade = Context.Session.GetInt32("QuantidadeArea");
                                if ((area != null) && (areaQuantidade != null && areaQuantidade == 1))
                                {
                                    <select id="areas" onchange="postArea(); postToController();" disabled="disabled" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:70px;">
                                        @for (int i = 0; i < ViewBag.Area.Count; i++)
                                        {
                                            if (area == ViewBag.Area[i].Id)
                                            {
                                                ViewBag.AreaSel = ViewBag.Area[i].Id;
                                            }
                                            <option value="@ViewBag.Area[i].Id">@ViewBag.Area[i].Area</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select id="areas" onchange="postArea(); postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:70px;">
                                        @foreach (var item in ViewBag.Area)
                                        {
                                            <option value="@item.Id">@item.Area</option>
                                        }
                                    </select>
                                }
                            }

                        </div>
                    </div>


                     <div class="control-group">
                        <label class="control-label labelsFormNav">Lote</label>
                        <div class="controls">
                            <select id="lotes" name="LoteError" onchange="postLote(); postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:100px;">

                                @foreach (var item in ViewBag.Lotes)
                                {
                                    <option value="@item[0]">
                                        @item[1]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @item[2]
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @item[3]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item[4]
                                    </option>
                                }

                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Status Casa</label>
                        <div class="controls">
                            <select id="CasaStatus" name="CasaStatus" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                <option value="1">NÃO CONTRATADO</option>
                                <option value="2">VISITA AGENDADA</option>
                                <option value="3">CONTRATADO</option>
                            </select>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label labelsFormNav">Ult. Rejeição</label>
                        <div class="controls">
                            <select id="motivosRejeicao" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.MotivosRejeicao)
                                {
                                    <option value="@item.Id">@item.Motivo</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Data da Ult. Rejeição</label>
                        <div class="controls">
                            <input id="dtult" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:100px;" type="text">
                        </div>
                    </div>

                   

                   

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Status Cond.</label>
                        <div class="controls">
                            <select id="statusCond" onchange="postStatusCond(); postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.StatusCondominios)
                                {
                                    <option value="@item.Id">@item.Item</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Condomínio</label>
                        <div class="controls">
                            <select id="condominiosId" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.ListaCondominios)
                                {
                                    <option value="@item.Id">
                                        @item.Nome
                                        @item.Num
                                        @item.Complemento
                                        @item.Item
                                        @item.Z
                                        @item.D
                                    </option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Condomínio</label>
                        <div class="controls">
                            <input id="CondNome" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Localidade</label>
                        <div class="controls">
                            <input id="Localidade" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label  labelsFormNav">Bairro</label>
                        <div class="controls">
                            <input id="Bairro" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Logradouro</label>
                        <div class="controls">
                            <input id="Logradouro" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="col-xs-6" style="padding-left:0px;">
                        <label class="labelsFormNav">Número Entre</label>
                        <input id="Numero1" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:60px" type="text" />
                    </div>
                    <div class="col-xs-offset-3"></div>
                    <div class="col-xs-4">
                        <label class="labelsFormNav">E</label>
                        <input id="Numero2" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:60px" type="text" />
                    </div>


                    <br />
                    <br />
                    <br />

                    <div class="col-xs-4"><a href="#" onclick="limpaFiltro();"><img src="~/images/filter_delete.png" title="Limpar Filtro" width="25" height="25" /></a></div>
                    <div class="col-xs-8"><a href="#" onclick="postToController();"><img src="~/images/binoculars_128.png" title="Filtrar" width="35" height="35" /></a></div>
                    


                    <br />
                    <label  class="fontTableBodyNavBar">Exportar Pijama Formato Novatec</label>
                    <a href="#" onclick="ExportaPadraoNovatec();">
                        <img src="~/images/ms_excel.png" style="margin-left:19px;" width="30" height="30" />
                    </a>

                    <br />

                    <label class="fontTableBodyNavBar">Exportar Pijama Formato Gás Natural</label>

                    <a href="#" onclick="ExportaPadraoGas();">
                        <img src="~/images/ms_excel.png" width="30" height="30" />
                    </a>
                    <br />

                </form>

            </nav>
        </div>
        <div class="col-sm-9 col-lg-10">
            <div id="page-selection"></div>
            <table id="tabelaEnderecoVisitas" class="table table-bordered table-striped tabelaModal">
                <thead id="headTabelaLote" >
                    <tr>
                       <!-- <th class="text-center">Casa</th>  retirados 11/05/2017 à pedido do Javier
                        <th class="text-center">Lote</th> --> 
                        <th class="text-center">Z</th>
                        <th class="text-center">D</th>
                        <th class="text-center">AR</th>
                        <th class="text-center">PT</th>
                        <th class="text-center">Condomínio</th>
                        <th class="text-center">Localidade</th>
                        <th class="text-center">Bairro</th>
                        <th class="text-center">Via</th>
                        <th class="text-center">Logradouro</th>
                        <th class="text-center">Num</th>
                        <th class="text-center">Comp</th>
                        <th class="text-center">Bloco</th>
                        <th class="text-center">Apt</th>
                        <th class="text-center">ULTMOTIVO</th>
                        <th class="text-center">AGULT</th>
                        <th class="text-center">DTULT</th>
                    </tr>
                </thead>
                <tbody id="corpoTabelaAtivos" class="corpoTabela">
                    @foreach (var item in Model)
                    {
                        <tr>
                           <!-- <td id="Casa_Arrobaitem.Id" class="text-left">Arrobaitem.Casa</td> retirados 11/05/2017 à pedido do Javier
                            <td id="Lote_Arrobaitem.Id">Arrobaitem.Lote</td> --> 
                            <td id="Z_@item.Id">@item.Z</td>
                            <td id="D_@item.Id">@item.D</td>
                            <td id="AR_@item.Id">@item.Ar</td>
                            <td id="PT_@item.Id">@item.Pt</td>
                            <td id="Localidade_@item.Id">@item.Localidade</td>
                            <td id="Bairro_@item.Id">@item.Bairro</td>
                            <td id="Via_@item.Id">@item.Via</td>
                            <td id="Logradouro_@item.Id" class="text-left" >@item.Logradouro</td>
                            <td id="Num_@item.Id">@item.Num</td>
                            <td id="Comp_@item.Id">@item.Complemento</td>
                            <td id="Bloco_@item.Id">@item.Bloco</td>
                            <td id="Apt_@item.Id">@item.Apt</td>
                            <td id="UltMotivo_@item.Id">@item.UltMotivo</td>
                            <td id="Agult_@item.Id">@item.Agult</td>
                            <td id="Dtult_@item.Id">@item.Dtult</td>
                         
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
<script type="text/javascript">
    $("#lotes").prop("selectedIndex", -1);
    $("#CasaStatus").prop("selectedIndex", -1);
    $("#motivosRejeicao").prop("selectedIndex", -1);
    $("#clientesCeg").prop("selectedIndex", -1);
    $("#zonas").prop("selectedIndex", -1);
    $("#delegacoes").prop("selectedIndex", -1);
    $("#areas").prop("selectedIndex", -1);
    $("#statusCond").prop("selectedIndex", -1);
    $("#condominiosId").prop("selectedIndex", -1);

    $('#dtult').datepicker({
        format: "dd/mm/yyyy",
        todayBtn: "linked",
        language: "pt-BR",
        orientation: "bottom left"
    });

    window.onload = function () {
        postToController();
        selecionaInfoCliente();
    };

    function getFormDataAsJson() {
        var botaoClicado = clicado();

        return {
            IdLote: $('#lotes').val(),
            CasaStatus: $('#CasaStatus').val(),
            IdultMotivo: $('#motivosRejeicao').val(),
            Dtult: $('#dtult').val(),
            ClId: $('#clientesCeg').val(),
            ZId: $('#zonas').val(),
            DId: $('#delegacoes').val(),
            AId: $('#areas').val(),
            StatusId: $('#statusCond').val(),
            CondId: $('#condominiosId').val(),
            CondNome: $('#CondNome').val().toString().trim(),
            Localidade: $('#Localidade').val().toString().trim(),
            Bairro: $('#Bairro').val().toString().trim(),
            Logradouro: $('#Logradouro').val().toString().trim(),
            Numero1: $('#Numero1').val(),
            Numero2: $('#Numero2').val(),
            Botao: botaoClicado
        }
    }

    function clicado() {
        var id = '';
        if ($('#todos').data('clicked')) {
            $('#todos').data('clicked', false);
            id = 'todos';
            $('#todosli').addClass('disabled');

            $('#ativosli').removeClass('disabled');
            $('#semLoteTodosli').removeClass('disabled');
            $('#semLoteNaoli').removeClass('disabled');

        } else if ($('#ativos').data('clicked')) {
            $('#ativos').data('clicked', false);
            id = 'ativos';
            $('#todosli').removeClass('disabled')
            $('#ativosli').addClass('disabled');

            $('#semLoteTodosli').removeClass('disabled');
            $('#semLoteNaoli').removeClass('disabled');


        } else if ($('#semLoteTodos').data('clicked')) {
            $('#semLoteTodos').data('clicked', false)
            id = 'semLoteTodos';
            $('#todosli').removeClass('disabled')
            $('#ativosli').removeClass('disabled');

            $('#semLoteTodosli').addClass('disabled');
            $('#semLoteNaoli').removeClass('disabled');

        } else if ($('#semLoteNao').data('clicked')) {
            $('#semLoteNao').data('clicked', false)
            id = 'semLoteNao';
            $('#todosli').removeClass('disabled')
            $('#ativosli').removeClass('disabled');
            $('#semLoteTodosli').removeClass('disabled');

            $('#semLoteNaoli').addClass('disabled');
        } else if (id == '') {
            if ($("#todosli").hasClass('disabled')) {
                id = 'todos';
            } else if ($("#ativosli").hasClass('disabled')) {
                id = 'ativos';
            } else if ($("#semLoteTodosli").hasClass('disabled')) {
                id = 'semLoteTodos';
            } else if ($("#semLoteNaoli").hasClass('disabled')) {
                id = 'semLoteNao';
            }
        }

        return id;
    }

    function atualizaView(retorno) {
        tabelaEstatisticas(retorno)
        montaPaginacao(retorno);
        tabelaLoteAtivos(retorno);
    };

    function montaPaginacao(retorno) {
        //paginação
        $('#page-selection').unbind(); // limpa os eventos adicionados nessa tag

          $('#page-selection').bootpag({
              total: retorno.QuantasPaginasExistem,
              page: 1,
              maxVisible: 5,
              firstLastUse: true,
              first: '←',
              last: '→',
              nextClass: 'next',
              prevClass: 'prev',
              lastClass: 'last',
              firstClass: 'first'

          }).on("page", function (event, num) {
              // some ajax content loading...
              postPaginacao(num);

          });

    }

    function postPaginacao(num) {
        var data = getFormDataAsJson();
        data.PaginaClicada = num;
           $.post("@Url.Action("GetListLoteAtivoView", "LotePorCliente")", data, tabelaLoteAtivos);
    }

    function montaHeadLocal() {
        $('#headTabelaLote tr').remove();

        var tr = $('<tr/>');

       // tr.append('<th class="text-center">Casa</th>');
       // tr.append('<th class="text-center">Lote</th>'); 
        tr.append('<th class="text-center">Z</th>');
        tr.append('<th class="text-center">D</th>');
        tr.append('<th class="text-center">AR</th>');
        tr.append('<th class="text-center">PT</th>');
        tr.append('<th class="text-center">Condomínio</th>');

        tr.append('<th class="text-center">Localidade</th>');
        tr.append('<th class="text-center">Bairro</th>');
        tr.append('<th class="text-center">Via</th>');
        tr.append('<th class="text-center">Logradouro</th>');
        tr.append('<th class="text-center">Num</th>');
        tr.append('<th class="text-center">Comp</th>');
        tr.append('<th class="text-center">Bloco</th>');
        tr.append('<th class="text-center">Apt</th>');
        tr.append('<th class="text-center">ULTMOTIVO</th>');
        tr.append('<th class="text-center">AGULT</th>');
        tr.append('<th class="text-center">DTULT</th>');

        $('#headTabelaLote').append(tr);
    };

    function postToController() {
        var data = getFormDataAsJson();
        //, 'application/json; charset=utf-8'
        $.post("@Url.Action("GetListLoteAtivoView", "LotePorCliente")", data, atualizaView);
    }

    function postToControllerSemLote() {
            var data = getFormDataAsJson();
            $.post( "@Url.Action("GetListLoteNaoView","LotePorCliente")", data, atualizaViewNao);
        }

   function tabelaLoteAtivos(retorno) {

       montaHeadLocal();

       $('#corpoTabelaAtivos tr').remove();

       var tr;
       var r = new Array();
       var j = -1;

        //tr = $('<tr/>');

       for (var i = 0; i < retorno.EV.length; i++) {

            r[++j] = "<tr>";
           /* r[++j] = "<td>" ;
            r[++j] = retorno.EV[i].casa;
            r[++j] =  "</td>"; Retirados 11/05/2017 à pedido do Javier
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].lote;
            r[++j] = "</td>";*/
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].z;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].d;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].ar;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].pt;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].condominio;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].localidade;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].bairro;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].via;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].logradouro;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].num;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].complemento;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].bloco;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].apt;
            r[++j] = "</td>";

            if (retorno.EV[i].ultMotivo == null) {
                r[++j] = "<td>";
                r[++j] = "</td>";
            } else {
                r[++j] = "<td>";
                r[++j] = retorno.EV[i].ultMotivo;
                r[++j] = "</td>";
            }

            if (retorno.EV[i].agult == null) {
                r[++j] = "<td>";
                r[++j] = "</td>";
            } else {
                r[++j] = "<td>";
                r[++j] = retorno.EV[i].agult;
                r[++j] = "</td>";
            }

            r[++j] = "<td>";
            r[++j] = retorno.EV[i].dtult;
            r[++j] = "</td>";
            r[++j] = "</tr>";
        }
        $('#corpoTabelaAtivos').html(r.join(''));

    };

   function tabelaEstatisticas(retorno) {
        for (var i = 0; i < retorno.Numeracoes.length; i++) {
            $('#e' + i).html(retorno.Numeracoes[i]);
        }

        for (var j = 0; j < retorno.Porcentagens.length; j++) {
            $('#ep' + j).html(retorno.Porcentagens[j] + '%');
        }

    }

   function limpaFiltro() {
        $('#lotes').val("");
        $('#CasaStatus').val("");
        $('#motivosRejeicao').val("");
        $('#dtult').val("");
        $('#clientesCeg').val("");
        $('#zonas').val("");
        $('#delegacoes').val("");
        $('#areas').val("");
        $('#statusCond').val("");
        $('#condominiosId').val("");
        $('#CondNome').val("");
        $('#Localidade').val("");
        $('#Bairro').val("");
        $('#Logradouro').val("");
        $('#Numero1').val("");
        $('#Numero2').val("");

        var parametro = {};
        parametro.Botao = clicado();
        parametro.LimpaFiltro = true;


        if ($("#todosli").hasClass('disabled')) {
            id = 'todos';
        } else if ($("#ativosli").hasClass('disabled')) {
            id = 'ativos';
        } else if ($("#semLoteTodosli").hasClass('disabled')) {
            id = 'semLoteTodos';
        } else if ($("#semLoteNaoli").hasClass('disabled')) {
            id = 'semLoteNao';
        }

        $.post("@Url.Action("LimpaFiltros", "LotePorCliente")", parametro, bindSelects);

    }

    function bindSelects(retorno) {
        atualizaView(retorno);
        var parametro = {};

        parametro.LimpaFiltro = true;
        $.post("@Url.Action("LimpaSelects","LotePorCliente")", parametro, atualizaSelects);
    }

    function atualizaSelects(retorno) {

        preencheLotes(retorno);
        $('#motivosRejeicao').empty();
        $('#zonas').empty();
        preencheDelegacao(retorno);
        preencheArea(retorno);
        $('#statusCond').empty();
        preencheCondominio(retorno);

        for (var i = 0; i < retorno.MotivosRejeicao.length; i++) {
            $('#motivosRejeicao').append($("<option />").val(retorno.MotivosRejeicao[i].id).text(retorno.MotivosRejeicao[i].motivo));
        }

        for (var i = 0; i < retorno.Zonas.length; i++) {
            $('#zonas').append($("<option />").val(retorno.Zonas[i].id).text(retorno.Zonas[i].zona));
        }

        for (var i = 0; i < retorno.StatusCondominios.length; i++) {
            $('#statusCond').append($("<option />").val(retorno.StatusCondominios[i].id).text(retorno.StatusCondominios[i].item));
        }

        $('#CasaStatus').prop("selectedIndex", -1);
        $('#motivosRejeicao').prop("selectedIndex", -1);
        $('#zonas').prop("selectedIndex", -1);
        $('#statusCond').prop("selectedIndex", -1);

        selecionaInfoCliente();
    }

    function ExportaPadraoNovatec() {
        var data = getFormDataAsJson();
        //   $.get('/LotePorCliente/ExportaExcel', data, DownloadExcel); //loteAtivo=' + JSON.stringify(data)
        //  window.location = '/LotePorCliente/ExportaExcel?loteAtivo=' + JSON.stringify(data);
        //"@Url.Action("ExportaExcel?loteAtivo= JSON.stringify(data);", "LotePorCliente")";
        var urlconfig = '@AppSettings.ExcelExportUrl';
        window.location.href = '' + urlconfig + '/LotePorCliente/ExportaExcel?loteAtivo=' + JSON.stringify(data);
        //'/Adesao/ExportaExcel?loteAtivo=' + JSON.stringify(data);
    }

    function ExportaPadraoGas() {
        var data = getFormDataAsJson();
        //   $.get('/LotePorCliente/ExportaExcel', data, DownloadExcel); //loteAtivo=' + JSON.stringify(data)
        //  window.location = '/LotePorCliente/ExportaExcel?loteAtivo=' + JSON.stringify(data);
        var lc = $('#lotes').val();
        var url = '@AppSettings.ExcelExportUrl';

        if (lc != null) {
            window.location.href = '' + url + '/LotePorCliente/ExportaPadraoGasNatural?loteAtivo=' + JSON.stringify(data);
        } else {
            alert('Selecione um lote');
        }
    }

    function postCascadeCliente() {
        var p = {};
        p.cliente = $('#clientesCeg').val();
        $.post('/Adesao/ClienteCascade', p, atualizaDropsCliente);

    }

    function atualizaDropsCliente(retorno) {
        $("#zonas").empty();
        $("#delegacoes").empty();
        $("#areas").empty();
        $("#lotes").empty();

        $.each(retorno.Zonas, function () {
            $("#zonas").append($("<option />").val(this.id).text(this.zona));
        });

        $.each(retorno.Delegacao, function () {
            $("#delegacoes").append($("<option />").val(this.id).text(this.delegacao));
        });

        $.each(retorno.Area, function () {
            $("#areas").append($("<option />").val(this.id).text(this.area));
        });

        $.each(retorno.Lote, function () {
            var p = $('<p>').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');

            $("#lotes").append($("<option />").val(this.id).text(this.loteNum + p.text()
                  + this.ge + p.text()
                  + this.dataLote + p.text()
                  + this.item));
        });

        $("#zonas").prop("selectedIndex", -1);
        $("#delegacoes").prop("selectedIndex", -1);
        $("#areas").prop("selectedIndex", -1);
        $("#lotes").prop("selectedIndex", -1);
    }

    function postZona() {
        var p = {};
        p.zona = $("#zonas").val();
        $.post("@Url.Action("ZonaCascade","LotePorCliente")", p, atualizaDropsZona);
    }


    function atualizaDropsZona(retorno) {
        preencheDelegacao(retorno);
        preencheArea(retorno);
        preencheLotes(retorno);
        preencheCondominio(retorno);

        postToController();
    }

    function preencheDelegacao(retorno) {
        $("#delegacoes").empty();

        $.each(retorno.Delegacao, function () {
            $("#delegacoes").append($("<option />").val(this.id).text(this.delegacao));
        });

        $("#delegacoes").prop("selectedIndex", -1);
    }

    function preencheArea(retorno) {
        if (retorno.Area.length > 0) {
            $("#areas").empty();

            $.each(retorno.Area, function () {
                $("#areas").append($("<option />").val(this.id).text(this.area));
            });

            $("#areas").prop("selectedIndex", -1);
        }
    }

    function preencheLotes(retorno) {
        $("#lotes").empty();

        $.each(retorno.Lote, function () {
            var p = $('<p>').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');

            $("#lotes").append($("<option />").val(this[0]).text(this[1] + p.text()
                  + this[2] + p.text()
                  + this[3] + p.text()
                  + this[4]));
        });

        $("#lotes").prop("selectedIndex", -1);
    }

    function preencheCondominio(retorno) {
        $("#condominiosId").empty();

        $.each(retorno.Condominio, function () {
            var p = $('<p>').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
            $("#condominiosId").append($("<option />").val(this.id)
            .text(this.nome + p.text() + this.num + p.text() + this.complemento + p.text() +
            this.item + p.text() + this.z + p.text() + this.d));
        });

        $("#condominiosId").prop("selectedIndex", -1);
    }

    function postDelegacao() {
        var p = {};
        p.delegacao = $("#delegacoes").val();
        $.post("@Url.Action("DelegacaoCascade","LotePorCliente")", p, atualizaDropsDelegacao);
    }

    function atualizaDropsDelegacao(retorno) {
        preencheArea(retorno);
        preencheLotes(retorno);
        preencheCondominio(retorno);

        postToController();
    }

    function postArea() {
        var p = {};

        p.area = $("#areas").val();
        $.post("@Url.Action("AreaCascade", "LotePorCliente")", p, atualizaDropsArea);
    }

    function atualizaDropsArea(retorno) {
        preencheLotes(retorno);
        preencheCondominio(retorno);
    }

    function postLote() {
        var p = {};

        p.lote = $("#lotes").val();
        $.post("@Url.Action("LoteCascade", "LotePorCliente")", p, atualizaDropsLote);
    }

    function atualizaDropsLote(retorno) {
        preencheCondominio(retorno);
    }

    function postStatusCond() {
        var p = {};

        p.status = $("#statusCond").val();
        p.area = $("#areas").val();
        $.post("@Url.Action("StatusCliCascade", "LotePorCliente")", p, atualizaDropsStatus);
    }

    function atualizaDropsStatus(retorno) {
        preencheCondominio(retorno);
        postToController();
    }

    ///--------

    function selecionaInfoCliente() {
        var zs = '';
        var ds = '';

        if ('@ViewBag.ZonaSelecionada' != '') {
            zs = '@ViewBag.ZonaSelecionada';
            $("#zonas").prop("selectedIndex", zs);
        }

        if ('@ViewBag.DelegacaoSel' != '') {
            ds = '@ViewBag.DelegacaoSel';
            $("#delegacoes").prop("selectedIndex", ds);

            if ('@ViewBag.areaQuantidade' < 1) {
                postDelegacao();
            }
        }

        if ('@Context.Session.GetString("UserTipo")' == 'cli') {
            selecionaAreaCliente();
        }
    }

    function selecionaAreaCliente() {
        var data = {};
        $.post("@Url.Action("AreasDoCliente", "LotePorCliente")", data, atualizaDropsDelegacao);
    }

</script>
    }
   
   