@using NovatecEnergyWeb.Models.StoredProcedures;
@using Microsoft.AspNetCore.Http;
@using NovatecEnergyWeb.Core;
@model IEnumerable<LotePorCliente>
@{ 
    Layout = "~/Views/Shared/_LayoutSideNavBar.cshtml";
    ViewData["Title"] = "Status de Clientes Com Tratamento Comercial";
}

<div class="container-fluid">
    <div class="row">

        <div id="load" class="col-md-offset-5 col-md-3 col-md-offset-4">

            <!--- Lado Conteudo-->
            <img id="centro" src="~/images/load.gif" alt="Carregando..." title="Carregando...">

        </div>

    </div>


    <div class="row">
        <div class=" col-md-3 col-lg-2  ">
            <nav class="navbar navbar-default navbar-fixed-side">
                <h4 id="titulo" class="text-center">Clientes de Lotes Ativos</h4>

                <!-- 
                  -------------------------------------------------------------------------------------------------------------------  
                    Estatísticas
                  ------------------------------------------------------------------------------------------------------------------- 
                    -->

                <table>
                    <tbody class="fontTableBodyNavBar">
                        <tr >
                            <td class="col-xs-9" style="padding-right:0px; "><b>Unidades (Potencial)</b> </td>
                            <td id="e0" class="col-xs-2 text-right"><b>@Model.Count()</b></td>
                            <td class="col-xs-1 text-right"></td>
                        </tr>

                        <tr>
                            <td class="col-sm-8">Unidades Tratadas</td>
                            <td id="e13" class="col-sm-2 text-right"></td>
                            <td id="ep10" class="col-sm-2 text-right"></td>
                        </tr>

                        <tr>
                            <td class="col-sm-8">Unidades Não Tratadas</td>
                            <td id="e14" class="col-sm-2 text-right"></td>
                            <td id="ep11" class="col-sm-2 text-right"></td>
                        </tr>

                        <tr>
                            <td class="col-sm-8">&nbsp &nbsp &nbsp Unidades C/0 Visita</td>
                            <td id="e15" class="col-sm-2 text-right"></td>
                            <td id="ep12" class="col-sm-2 text-right"></td>
                        </tr>

                        <tr>
                            <td class="col-sm-8">&nbsp &nbsp &nbsp Unidades C/1 Visita</td>
                            <td id="e16" class="col-sm-2 text-right"></td>
                            <td id="ep13" class="col-sm-2 text-right"></td>

                        </tr>

                        <tr>
                            <td class="col-sm-8">&nbsp &nbsp &nbsp Unidades C/2 Visita</td>
                            <td id="e17" class="col-sm-2 text-right"></td>
                            <td id="ep14" class="col-sm-2 text-right"></td>

                        </tr>


                        <tr>
                            <td class="col-sm-8">Unidades Visitadas</td>
                            <td id="e1" class="col-sm-2 text-right">@ViewBag.Visitados</td>
                            <td id="ep0" class="col-sm-2 text-right">@ViewBag.VisitadosPercent%</td>
                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-xs-8"style="padding-right:0px;">Unidades Não Visitadas</td>
                            <td id="e2" class="col-xs-2 text-right">@ViewBag.NaoVisitados</td>
                            <td id="ep1" class="col-xs-2 text-right">@ViewBag.NaoVisitadosPercent%</td>
                        </tr>


                        <tr>
                            <td class="col-sm-8">Unidades Contratadas</td>
                            <td id="e3" class="col-sm-2 text-right">@ViewBag.Contratados</td>
                            <td id="ep2" class="col-sm-2 text-right">@ViewBag.ContratadosPercent%</td>
                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-sm-8" style="padding-right:0px;">Unidades Não Contratadas</td>
                            <td id="e4" class="col-sm-2 text-right">@ViewBag.NaoContratados</td>
                            <td id="ep3" class="col-sm-2 text-right">@ViewBag.NaoContratadosPercent%</td>

                        </tr>

                        <tr>
                            <td class="col-sm-8">D2 Contratados</td>
                            <td id="e5" class="col-sm-2 text-right">@ViewBag.D2</td>
                            <td id="ep4" class="col-sm-2 text-right">@ViewBag.D2Percent%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">SVG Contratados</td>
                            <td id="e6" class="col-sm-2 text-right">@ViewBag.Svg</td>
                            <td id="ep5" class="col-sm-2 text-right">@ViewBag.SvgPercent%</td>
                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-sm-8">SVE Contratados</td>
                            <td id="e7" class="col-sm-2 text-right">@ViewBag.Sve</td>
                            <td id="ep6" class="col-sm-2 text-right">@ViewBag.SvePercent%</td>
                        </tr>

                        <tr>
                            <td class="col-sm-8"><b>Visitas Realizadas</b></td>
                            <td id="e8" class="col-sm-2 text-right">@ViewBag.Visitas</td>
                            <td class="col-sm-2 text-right"></td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Entrevistas Realizadas</td>
                            <td id="e9" class="col-sm-2 text-right">@ViewBag.VisitasComResposta</td>
                            <td id="ep7" class="col-sm-2 text-right">@ViewBag.VisitasComRespostaPercent%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Visitas Improdutivas</td>
                            <td id="e10" class="col-sm-2 text-right">@ViewBag.VisitasImprodutivas</td>
                            <td id="ep8" class="col-sm-2 text-right">@ViewBag.VisitasImprodutivasPercent%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Ausentes(Improdutivas)</td>
                            <td id="e11" class="col-sm-2 text-right">@ViewBag.Ausentes</td>
                            <td id="ep9" class="col-sm-2 text-right">@ViewBag.AusentesPercent%</td>
                        </tr>

                        <tr>
                            <td class="col-xs-8" style="padding-right:0px;">Visitas Agendadas</td>
                            <td id="e12" class="col-sm-2 text-right">@ViewBag.NovaVisitaAgendada</td>
                            <td class="col-sm-2 text-right"></td>
                        </tr>

                    </tbody>
                </table>

                        <!--
              -------------------------------------------------------------------------------------------------------------------
               fim das Estatísticas
              -------------------------------------------------------------------------------------------------------------------
                -->


                  <!-- 
                <div class="buttonGroupNavBar">
                    <ul class="nav ">
                        <li id ="todosli" class="fontTableBodyNavBar">
                            <a href="#" onclick="$(this).data('clicked', true); $('#titulo').html('Clientes de Lotes - Todos'); postToController();" id="todos" >Clientes de Lotes - Todos</a>
                        </li>
                        <li id ="ativosli" class="disabled fontTableBodyNavBar">
                            <a href="#" id="ativos" onclick="$(this).data('clicked', true); $('#titulo').html('Clientes de Lotes Ativos'); postToController();" > Clientes de Lotes Ativos</a>
                        </li>
                      <li id ="semLoteTodosli" class="fontTableBodyNavBar">
                            !--href="/Adesao/EnderecosVisitasSemLote"-- 
                            <a href="#" onclick="$(this).data('clicked', true);  postToControllerSemLote();" id="semLoteTodos" >Clientes Sem Lote - Todos</a>
                        </li>
                        <li id ="semLoteNaoli" class="fontTableBodyNavBar ">
                            <a href="#" id="semLoteNao">Clientes Sem Lote - Não Contratados</a>
                        </li> 
                        
                    </ul>
                </div>
                       -->



                            <!--
                  -------------------------------------------------------------------------------------------------------------------
                    Filtros laterais
                  -------------------------------------------------------------------------------------------------------------------
                    -->

               
                <form class="form-horizontal" style="padding-left:15px;padding-right:15px;">
                    
                    <div class="control-group">
                        <label class="control-label labelsFormNav">Zona</label>
                        <div class="controls">
                            @{
                                int? zona = Context.Session.GetInt32("Zona");

                                if (zona != null)
                                {
                                    <select id="zonas" onchange="postZona(); postToController();" disabled="disabled" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                        @for (int i = 0; i < ViewBag.Zonas.Count; i++)
                                        {
                                            if (zona == ViewBag.Zonas[i].Id)
                                            {
                                                ViewBag.ZonaSelecionada = i;
                                                <option value="@ViewBag.Zonas[i].Id">@ViewBag.Zonas[i].Zona</option>
                                            }
                                            else
                                            {
                                                <option value="@ViewBag.Zonas[i].Id">@ViewBag.Zonas[i].Zona</option>
                                            }
                                        }

                                    </select>
                                }
                                else
                                {
                                    <select id="zonas" onchange="postZona();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                        @foreach (var item in ViewBag.Zonas)
                                        {
                                            <option value="@item.Id">@item.Zona</option>
                                        }
                                    </select>
                                }
                            }
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Delegação</label>
                        <div class="controls">
                            @{
                                int? delegacao = Context.Session.GetInt32("Delegação");

                                if (delegacao != null)
                                {
                                    <select id="delegacoes" onchange="postDelegacao();" disabled="disabled" class="alturaFormNavInput form-control fontTableBodyNavBar delegacaoSelect">
                                        @for (int i = 0; i < ViewBag.Delegacao.Count; i++)
                                        {
                                            if (delegacao == ViewBag.Delegacao[i].Id)
                                            {
                                                ViewBag.DelegacaoSel = i;
                                            }
                                            <option value="@ViewBag.Delegacao[i].Id">@ViewBag.Delegacao[i].Delegacao</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select id="delegacoes" onchange="postDelegacao(); postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar delegacaoSelect">
                                        @foreach (var item in ViewBag.Delegacao)
                                        {
                                            <option value="@item.Id">@item.Delegacao</option>
                                        }
                                    </select>
                                }
                            }
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Área</label>
                        <div class="controls">

                            @{
                                int? area = Context.Session.GetInt32("Área");
                                int? areaQuantidade = Context.Session.GetInt32("QuantidadeArea");
                                if ((area != null) && (areaQuantidade != null && areaQuantidade == 1))
                                {
                                   
                                    <select id="areas" onchange="postArea(); postToController();" disabled="disabled" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:70px;">
                                        @for (int i = 0; i < ViewBag.Area.Count; i++)
                                        {
                                            if (area == ViewBag.Area[i].Id)
                                            {
                                                ViewBag.AreaSel = ViewBag.Area[i].Id;
                                            }
                                            <option value="@ViewBag.Area[i].Id">@ViewBag.Area[i].Area</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select id="areas" onchange="postArea(); postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:70px;">
                                        @foreach (var item in ViewBag.Area)
                                        {
                                            <option value="@item.Id">@item.Area</option>
                                        }
                                    </select>
                                }
                                ViewBag.areaQuantidade = areaQuantidade;
                            }

                        </div>
                    </div>


                     <div class="control-group">
                        <label class="control-label labelsFormNav">Lote</label>
                        <div class="controls">
                            <select id="lotes" name="LoteError" onchange="postLote(); postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:100px;">

                                @foreach (var item in ViewBag.Lotes)
                                {
                                    <option value="@item[0]">
                                        @item[1]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @item[2]
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @item[3]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item[4]
                                    </option>
                                }

                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Status Casa</label>
                        <div class="controls">
                            <select id="CasaStatus" name="CasaStatus" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                <option value="145">SEM TRATAR</option>
                                <option value="146">SEM CONTRATAR</option>
                                <option value="147">VISITA AGENDADA</option>
                                <option value="148">CONTRATADO</option>
                            </select>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label labelsFormNav">Ult. Rejeição</label>
                        <div class="controls">
                            <select id="motivosRejeicao" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.MotivosRejeicao)
                                {
                                    <option value="@item.Id">@item.Motivo</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Data da Ult. Rejeição</label>
                        <div class="controls">
                            <input id="dtult" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:100px;" type="text">
                        </div>
                    </div>

                   

                   

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Status Cond.</label>
                        <div class="controls">
                            <select id="statusCond" onchange="postStatusCond(); postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.StatusCondominios)
                                {
                                    <option value="@item.Id">@item.Item</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Condomínio</label>
                        <div class="controls">
                            <select id="condominiosId" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.ListaCondominios)
                                {
                                    <option value="@item.Id">
                                        @item.Nome
                                        @item.Num
                                        @item.Complemento
                                        @item.Item
                                        @item.Z
                                        @item.D
                                    </option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Condomínio</label>
                        <div class="controls">
                            <input id="CondNome" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Localidade</label>
                        <div class="controls">
                            <input id="Localidade" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label  labelsFormNav">Bairro</label>
                        <div class="controls">
                            <input id="Bairro" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Logradouro</label>
                        <div class="controls">
                            <input id="Logradouro" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="col-xs-6" style="padding-left:0px;">
                        <label class="labelsFormNav">Número Entre</label>
                        <input id="Numero1" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:60px" type="text" />
                    </div>
                    <div class="col-xs-offset-3"></div>
                    <div class="col-xs-4">
                        <label class="labelsFormNav">E</label>
                        <input id="Numero2" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:60px" type="text" />
                    </div>


                    <br />
                    <br />
                    <br />

                    <div class="col-xs-4"><a href="#" onclick="limpaFiltro();"><img src="~/images/filter_delete.png" title="Limpar Filtro" width="25" height="25" /></a></div>
                    <div class="col-xs-8"><a href="#" onclick="postToController();"><img src="~/images/binoculars_128.png" title="Filtrar" width="35" height="35" /></a></div>
                    


                    <br />
                    <label  class="fontTableBodyNavBar">Exportar Pijama Formato Novatec</label>
                    <a href="#" onclick="ExportaPadraoNovatec();">
                        <img src="~/images/ms_excel.png" style="margin-left:19px;" width="30" height="30" />
                    </a>

                    <br />

                    <label class="fontTableBodyNavBar">Exportar Pijama Formato Gás Natural</label>

                    <a href="#" onclick="ExportaPadraoGas();">
                        <img src="~/images/ms_excel.png" width="30" height="30" />
                    </a>
                    <br />

                </form>

                        <!--
              -------------------------------------------------------------------------------------------------------------------
                fim dos Filtros Laterais
              -------------------------------------------------------------------------------------------------------------------
                -->


            </nav>
        </div>


              <!--
              -------------------------------------------------------------------------------------------------------------------
                Listagem
              -------------------------------------------------------------------------------------------------------------------
                -->

        <div class="col-md-9 col-lg-10   ">
            <div id="page-selection"></div>
            <table id="tabelaEnderecoVisitas" class="table table-bordered table-striped tabelaModal">
                <thead id="headTabelaLote" >
                    <tr >
                       <!-- <th class="text-center">Casa</th>  retirados 11/05/2017 à pedido do Javier
                        <th class="text-center">Lote</th> --> 
                        <th class="text-center">Z</th>
                        <th class="text-center">D</th>
                        <th class="text-center">AR</th>
                        <th class="text-center">PT</th>
                        <th class="text-center">CONDOMÍNIO</th>
                        <th class="text-center">LOCALIDADE</th>
                        <th class="text-center">BAIRRO</th>
                        <th class="text-center">VIA</th>
                        <th class="text-center">LOGRADOURO</th>
                        <th class="text-center">NUM</th>
                        <th class="text-center">COMP</th>
                        <th class="text-center">BLOCO</th>
                        <th class="text-center">APT</th>
                        <th class="text-center">ÚLTIMO MOTIVO (ULT)</th>
                        <th class="text-center">AGENTE ULT</th>
                        <th class="text-center">DT ULT</th>
                    </tr>
                </thead>
                <tbody id="corpoTabelaAtivos" class="corpoTabela">
                   
                </tbody>

            </table>
        </div>

        <!--
          -------------------------------------------------------------------------------------------------------------------
            fim da Listagem
          -------------------------------------------------------------------------------------------------------------------
            -->

    </div>
</div>
@section Scripts{
<script type="text/javascript" src="~/js/lotePorCliente.js"></script>
<script type="text/javascript">
   
    function postPaginacao(num) {
        $("#load").fadeIn(); // chama animacao de carregando

        var data = getFormDataAsJson();
        data.PaginaClicada = num;
        $.post("@Url.Action("GetLotePorClienteEstatistica", "LotePorCliente")", data, tabelaLoteAtivos);

        $("#load").fadeOut(); // apaga animacao carregando
    }

 
    function postToController() {
        $("#load").fadeIn(); // chama animacao de carregando
        var data = getFormDataAsJson();
        //, 'application/json; charset=utf-8'
        $.post("@Url.Action("GetLotePorClienteEstatistica", "LotePorCliente")", data, atualizaView);
        $("#load").fadeOut(); // apaga animacao carregando
    }

    function postToControllerSemLote() {
            var data = getFormDataAsJson();
            $.post("@Url.Action("GetListLoteNaoView","LotePorCliente")", data, atualizaViewNao);
        }

   
    function limpaFiltro() {

        $("#load").fadeIn(); // chama animacao de carregando

        $('#lotes').val("");
        $('#CasaStatus').val("");
        $('#motivosRejeicao').val("");
        $('#dtult').val("");
        $('#clientesCeg').val("");
        $('#zonas').val("");
        $('#delegacoes').val("");
        $('#areas').val("");
        $('#statusCond').val("");
        $('#condominiosId').val("");
        $('#CondNome').val("");
        $('#Localidade').val("");
        $('#Bairro').val("");
        $('#Logradouro').val("");
        $('#Numero1').val("");
        $('#Numero2').val("");

        var parametro = {};
        parametro.Botao = clicado();
        parametro.LimpaFiltro = true;


        if ($("#todosli").hasClass('disabled')) {
            id = 'todos';
        } else if ($("#ativosli").hasClass('disabled')) {
            id = 'ativos';
        } else if ($("#semLoteTodosli").hasClass('disabled')) {
            id = 'semLoteTodos';
        } else if ($("#semLoteNaoli").hasClass('disabled')) {
            id = 'semLoteNao';
        }

        $.post("@Url.Action("LimpaFiltros", "LotePorCliente")", parametro, bindSelects);

        $("#load").fadeOut(); // apaga animacao carregando

    }

    function bindSelects(retorno) {
        atualizaView(retorno);
        var parametro = {};

        parametro.LimpaFiltro = true;
        $.post("@Url.Action("LimpaSelects","LotePorCliente")", parametro, atualizaSelects);
    }

    function ExportaPadraoNovatec() {
        $("#load").fadeIn(); // chama animacao de carregando

        var data = getFormDataAsJson();
        //   $.get('/LotePorCliente/ExportaExcel', data, DownloadExcel); //loteAtivo=' + JSON.stringify(data)
        //  window.location = '/LotePorCliente/ExportaExcel?loteAtivo=' + JSON.stringify(data);
        //"@Url.Action("ExportaExcel?loteAtivo= JSON.stringify(data);", "LotePorCliente")";
        var urlconfig = '@AppSettings.ExcelExportUrl';
        window.location.href = '' + urlconfig + '/LotePorCliente/ExportaExcel?loteAtivo=' + JSON.stringify(data);
        //'/Adesao/ExportaExcel?loteAtivo=' + JSON.stringify(data);

        $("#load").fadeOut(); // apaga animacao carregando

    }

    function ExportaPadraoGas() {
        
        var data = getFormDataAsJson();
        //   $.get('/LotePorCliente/ExportaExcel', data, DownloadExcel); //loteAtivo=' + JSON.stringify(data)
        //  window.location = '/LotePorCliente/ExportaExcel?loteAtivo=' + JSON.stringify(data);
        var lc = $('#lotes').val();
        var url = '@AppSettings.ExcelExportUrl';

        if (lc != null) {
            $("#load").fadeIn(); // chama animacao de carregando
            window.location.href = '' + url + '/LotePorCliente/ExportaPadraoGasNatural?loteAtivo=' + JSON.stringify(data);
            $("#load").fadeOut(); // apaga animacao de carregando
        } else {
            alert('Selecione um lote');
        }
        
    }


    function postZona() {
        var p = {};
        p.zona = $("#zonas").val();
        $.post("@Url.Action("ZonaCascade","LotePorCliente")", p, atualizaDropsZona);
    }

    function postDelegacao() {
        var p = {};
        p.delegacao = $("#delegacoes").val();
        $.post("@Url.Action("DelegacaoCascade","LotePorCliente")", p, atualizaDropsDelegacao);
    }

 
    function postArea() {
        var p = {};

        p.area = $("#areas").val();
        $.post("@Url.Action("AreaCascade", "LotePorCliente")", p, atualizaDropsArea);
    }

    function postLote() {
        var p = {};

        p.lote = $("#lotes").val();
        $.post("@Url.Action("LoteCascade", "LotePorCliente")", p, atualizaDropsLote);
    }

    function atualizaDropsLote(retorno) {
        preencheCondominio(retorno);
    }

    function postStatusCond() {
        var p = {};

        p.status = $("#statusCond").val();
        p.area = $("#areas").val();
        $.post("@Url.Action("StatusCliCascade", "LotePorCliente")", p, atualizaDropsStatus);
    }

    function selecionaInfoCliente() {
        var zs = '';
        var ds = '';

        if ('@ViewBag.ZonaSelecionada' != '') {
            zs = '@ViewBag.ZonaSelecionada';
            $("#zonas").prop("selectedIndex", zs);
        }

        if ('@ViewBag.DelegacaoSel' != '') {
            ds = '@ViewBag.DelegacaoSel';
            $("#delegacoes").prop("selectedIndex", ds);

            if ('@ViewBag.areaQuantidade' < 1) {
                postDelegacao();
            }
        }

        if ('@Context.Session.GetString("UserTipo")' == 'cli') {
            selecionaAreaCliente();
        }
    }

    function selecionaAreaCliente() {
        var data = {};
       $.post("@Url.Action("AreasDoCliente", "LotePorCliente")", data, atualizaDropsDelegacao);
    }

</script>



}
   
   