@using NovatecEnergyWeb.Models;

@model IEnumerable<NovatecEnergyWeb.Models.MetasViewModels.ResultadosViewModel>
@{ 
    ViewData["Title"] = "Metas - Cargas";
}

<h2>@ViewData["Title"]</h2>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Resultados</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Fev</th>
            <th class="text-center">Mar</th>
            <th class="text-center">1ºTrim</th>
            <th class="text-center">Abr</th>
            <th class="text-center">Mai</th>
            <th class="text-center">Jun</th>
            <th class="text-center">2ºTrim</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Set</th>
            <th class="text-center">3ºTrim</th>
            <th class="text-center">Out</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">4ºTrim</th>
            <th class="text-center">Anual</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Zona</td>
                    <td>@item.Meses[0]</td>
                    <td>@item.Meses[1]</td>
                    <td>@item.Meses[2]</td>
                    <td>@item.Trim1</td>
                    <td>@item.Meses[3]</td>
                    <td>@item.Meses[4]</td>
                    <td>@item.Meses[5]</td>
                    <td>@item.Trim2</td>
                    <td>@item.Meses[6]</td>
                    <td>@item.Meses[7]</td>
                    <td>@item.Meses[8]</td>
                    <td>@item.Trim3</td>
                    <td>@item.Meses[9]</td>
                    <td>@item.Meses[10]</td>
                    <td>@item.Meses[11]</td>
                    <td>@item.Trim4</td>
                    <td>@item.Anual</td>
                </tr>
            }
            
          
    </tbody>
</table>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Metas</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Fev</th>
            <th class="text-center">Mar</th>
            <th class="text-center">1ºTrim</th>
            <th class="text-center">Abr</th>
            <th class="text-center">Mai</th>
            <th class="text-center">Jun</th>
            <th class="text-center">2ºTrim</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Set</th>
            <th class="text-center">3ºTrim</th>
            <th class="text-center">Out</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">4ºTrim</th>
            <th class="text-center">Anual</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>Fluminense</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Metropolitana</td>
            <td>0</td>
            <td>0</td>
        </tr>

    </tbody>
</table>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Cargas</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Fev</th>
            <th class="text-center">Mar</th>
            <th class="text-center">1ºTrim</th>
            <th class="text-center">Abr</th>
            <th class="text-center">Mai</th>
            <th class="text-center">Jun</th>
            <th class="text-center">2ºTrim</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Set</th>
            <th class="text-center">3ºTrim</th>
            <th class="text-center">Out</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">4ºTrim</th>
            <th class="text-center">Anual</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>Fluminense</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Metropolitana</td>
            <td>4</td>
            <td>15</td>
        </tr>

    </tbody>
</table>