@using NovatecEnergyWeb.Models;

@model dynamic
@{ 
    ViewData["Title"] = "Metas - Cargas";
}

<h2>@ViewData["Title"]</h2>

<script type="text/javascript">
    function chamaGetResultados() {
        var parametro = {};
        parametro.anoSelecionado = document.getElementById("anos").value;

        $.post("@Url.Action("BuscaMetasFiltradas", "Metas")", parametro, alteraColunas);
    };

    function alteraColunas(retorno) {
        tabelaResultados(retorno);
        tabelaMetas(retorno);
    }

    function tabelaResultados(retorno) {
        $("#zonaRes_" + retorno.Resultados[0].id).html(retorno.Resultados[0].zona); // 0 fluminense
        $("#zonaRes_" + retorno.Resultados[1].id).html(retorno.Resultados[1].zona); // 1 metropolitana

        for (var i = 0; i < 12; i++) {
            $('#zonaResmes' + i + '_' + retorno.Resultados[0].id).html(retorno.Resultados[0].meses[i]);
            $('#zonaResmes' + i + '_' + retorno.Resultados[1].id).html(retorno.Resultados[1].meses[i]);
        }

        $('#zonaResTri1_' + retorno.Resultados[0].id).html(retorno.Resultados[0].trim1);
        $('#zonaResTri2_' + retorno.Resultados[0].id).html(retorno.Resultados[0].trim2);
        $('#zonaResTri3_' + retorno.Resultados[0].id).html(retorno.Resultados[0].trim3);
        $('#zonaResTri4_' + retorno.Resultados[0].id).html(retorno.Resultados[0].trim4);

        $('#zonaResTri1_' + retorno.Resultados[1].id).html(retorno.Resultados[1].trim1);
        $('#zonaResTri2_' + retorno.Resultados[1].id).html(retorno.Resultados[1].trim2);
        $('#zonaResTri3_' + retorno.Resultados[1].id).html(retorno.Resultados[1].trim3);
        $('#zonaResTri4_' + retorno.Resultados[1].id).html(retorno.Resultados[1].trim4);

        $('#zonaResAnual_' + retorno.Resultados[0].id).html(retorno.Resultados[0].anual);
        $('#zonaResAnual_' + retorno.Resultados[1].id).html(retorno.Resultados[1].anual);
    }

    function tabelaMetas(retorno) {
        $("#MetasZona_" + retorno.Metas[0].id).html(retorno.Metas[0].zona);
        $("#MetasZona_" + retorno.Metas[1].id).html(retorno.Metas[1].zona);

        for (var i = 0; i < 12; i++) {
            $("#MetasMes" + i + "_" + retorno.Metas[0].id).html(retorno.Metas[0].meses[i]);
            $("#MetasMes" + i + "_" + retorno.Metas[1].id).html(retorno.Metas[1].meses[i]);
        }
        $("#MetasTri1_" + retorno.Metas[0].id).html(retorno.Metas[0].trim1);
        $("#MetasTri2_" + retorno.Metas[0].id).html(retorno.Metas[0].trim2);
        $("#MetasTri3_" + retorno.Metas[0].id).html(retorno.Metas[0].trim3);
        $("#MetasTri4_" + retorno.Metas[0].id).html(retorno.Metas[0].trim4);

        $("#MetasTri1_" + retorno.Metas[1].id).html(retorno.Metas[1].trim1);
        $("#MetasTri2_" + retorno.Metas[1].id).html(retorno.Metas[1].trim2);
        $("#MetasTri3_" + retorno.Metas[1].id).html(retorno.Metas[1].trim3);
        $("#MetasTri4_" + retorno.Metas[1].id).html(retorno.Metas[1].trim4);

        $("#MetasAnual_" + retorno.Metas[0].id).html(retorno.Metas[0].anual);
        $("#MetasAnual_" + retorno.Metas[1].id).html(retorno.Metas[1].anual);
        
        

    }

</script>
<select id="anos" onchange="chamaGetResultados()" >
    <option>2014</option>
    <option >2015</option>
    <option>2016</option>
    <option selected>2017</option>
</select>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-left">Tabela Resumo</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Fev</th>
            <th class="text-center">Mar</th>
            <th class="text-center">1ºTrim</th>
            <th class="text-center">Abr</th>
            <th class="text-center">Mai</th>
            <th class="text-center">Jun</th>
            <th class="text-center">2ºTrim</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Set</th>
            <th class="text-center">3ºTrim</th>
            <th class="text-center">Out</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">4ºTrim</th>
            <th class="text-center">Anual</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Resumos)
            {
             <tr>
                    <td>@item.Zona</td>
                    <td>@item.Meses[0]</td>
                    <td>@item.Meses[1]</td>
                    <td>@item.Meses[2]</td>
                    <td>@item.Trim1</td>
                    <td>@item.Meses[3]</td>
                    <td>@item.Meses[4]</td>
                    <td>@item.Meses[5]</td>
                    <td>@item.Trim2</td>
                    <td>@item.Meses[6]</td>
                    <td>@item.Meses[7]</td>
                    <td>@item.Meses[8]</td>
                    <td>@item.Trim3</td>
                    <td>@item.Meses[9]</td>
                    <td>@item.Meses[10]</td>
                    <td>@item.Meses[11]</td>
                    <td>@item.Trim4</td>
                    <td>@item.Anual</td>
                </tr>
        }


    </tbody>
</table>

<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Resultados</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Fev</th>
            <th class="text-center">Mar</th>
            <th class="text-center">1ºTrim</th>
            <th class="text-center">Abr</th>
            <th class="text-center">Mai</th>
            <th class="text-center">Jun</th>
            <th class="text-center">2ºTrim</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Set</th>
            <th class="text-center">3ºTrim</th>
            <th class="text-center">Out</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">4ºTrim</th>
            <th class="text-center">Anual</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.Resultados)
            {
                <tr>
                    <td id="zonaRes_@item.Id">@item.Zona</td>
                    <td id="zonaResmes0_@item.Id">@item.Meses[0]</td>
                    <td id="zonaResmes1_@item.Id">@item.Meses[1]</td>
                    <td id="zonaResmes2_@item.Id">@item.Meses[2]</td>
                    <td id="zonaResTri1_@item.Id">@item.Trim1</td>
                    <td id="zonaResmes3_@item.Id">@item.Meses[3]</td>
                    <td id="zonaResmes4_@item.Id">@item.Meses[4]</td>
                    <td id="zonaResmes5_@item.Id">@item.Meses[5]</td>
                    <td id="zonaResTri2_@item.Id">@item.Trim2</td>
                    <td id="zonaResmes6_@item.Id">@item.Meses[6]</td>
                    <td id="zonaResmes7_@item.Id">@item.Meses[7]</td>
                    <td id="zonaResmes8_@item.Id">@item.Meses[8]</td>
                    <td id="zonaResTri3_@item.Id">@item.Trim3</td>
                    <td id="zonaResmes9_@item.Id">@item.Meses[9]</td>
                    <td id="zonaResmes10_@item.Id">@item.Meses[10]</td>
                    <td id="zonaResmes11_@item.Id">@item.Meses[11]</td>
                    <td id="zonaResTri4_@item.Id">@item.Trim4</td>
                    <td id="zonaResAnual_@item.Id">@item.Anual</td>
                </tr>
            }
            
          
    </tbody>
</table>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Metas</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Fev</th>
            <th class="text-center">Mar</th>
            <th class="text-center">1ºTrim</th>
            <th class="text-center">Abr</th>
            <th class="text-center">Mai</th>
            <th class="text-center">Jun</th>
            <th class="text-center">2ºTrim</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Set</th>
            <th class="text-center">3ºTrim</th>
            <th class="text-center">Out</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">4ºTrim</th>
            <th class="text-center">Anual</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Metas)
            {
            <tr>
                <td id="MetasZona_@item.Id">@item.Zona</td>
                <td id="MetasMes0_@item.Id">@item.Meses[0]</td>
                <td id="MetasMes1_@item.Id">@item.Meses[1]</td>
                <td id="MetasMes2_@item.Id">@item.Meses[2]</td>
                <td id="MetasTri1_@item.Id">@item.Trim1</td>
                <td id="MetasMes3_@item.Id">@item.Meses[3]</td>
                <td id="MetasMes4_@item.Id">@item.Meses[4]</td>
                <td id="MetasMes5_@item.Id">@item.Meses[5]</td>
                <td id="MetasTri2_@item.Id">@item.Trim2</td>
                <td id="MetasMes6_@item.Id">@item.Meses[6]</td>
                <td id="MetasMes7_@item.Id">@item.Meses[7]</td>
                <td id="MetasMes8_@item.Id">@item.Meses[8]</td>
                <td id="MetasTri3_@item.Id">@item.Trim3</td>
                <td id="MetasMes9_@item.Id">@item.Meses[9]</td>
                <td id="MetasMes10_@item.Id">@item.Meses[10]</td>
                <td id="MetasMes11_@item.Id">@item.Meses[11]</td>
                <td id="MetasTri4_@item.Id">@item.Trim4</td>
                <td id="MetasAnual_@item.Id">@item.Anual</td>
            </tr>
         }

    </tbody>
</table>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Cargas</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Fev</th>
            <th class="text-center">Mar</th>
            <th class="text-center">1ºTrim</th>
            <th class="text-center">Abr</th>
            <th class="text-center">Mai</th>
            <th class="text-center">Jun</th>
            <th class="text-center">2ºTrim</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Set</th>
            <th class="text-center">3ºTrim</th>
            <th class="text-center">Out</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">4ºTrim</th>
            <th class="text-center">Anual</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Cargas)
            {
            <tr>
                <td>@item.Zona</td>
                <td>@item.Meses[0]</td>
                <td>@item.Meses[1]</td>
                <td>@item.Meses[2]</td>
                <td>@item.Trim1</td>
                <td>@item.Meses[3]</td>
                <td>@item.Meses[4]</td>
                <td>@item.Meses[5]</td>
                <td>@item.Trim2</td>
                <td>@item.Meses[6]</td>
                <td>@item.Meses[7]</td>
                <td>@item.Meses[8]</td>
                <td>@item.Trim3</td>
                <td>@item.Meses[9]</td>
                <td>@item.Meses[10]</td>
                <td>@item.Meses[11]</td>
                <td>@item.Trim4</td>
                <td>@item.Anual</td>
            </tr>
        }

    </tbody>
</table>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Metas D2</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Fev</th>
            <th class="text-center">Mar</th>
            <th class="text-center">1ºTrim</th>
            <th class="text-center">Abr</th>
            <th class="text-center">Mai</th>
            <th class="text-center">Jun</th>
            <th class="text-center">2ºTrim</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Set</th>
            <th class="text-center">3ºTrim</th>
            <th class="text-center">Out</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">4ºTrim</th>
            <th class="text-center">Anual</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model.MetasD2)
            {
            <tr>
                <td>@item.Zona</td>
                <td>@item.Meses[0]</td>
                <td>@item.Meses[1]</td>
                <td>@item.Meses[2]</td>
                <td>@item.Trim1</td>
                <td>@item.Meses[3]</td>
                <td>@item.Meses[4]</td>
                <td>@item.Meses[5]</td>
                <td>@item.Trim2</td>
                <td>@item.Meses[6]</td>
                <td>@item.Meses[7]</td>
                <td>@item.Meses[8]</td>
                <td>@item.Trim3</td>
                <td>@item.Meses[9]</td>
                <td>@item.Meses[10]</td>
                <td>@item.Meses[11]</td>
                <td>@item.Trim4</td>
                <td>@item.Anual</td>
            </tr>
       }
       

    </tbody>
</table>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Nº Cargas D2</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Fev</th>
            <th class="text-center">Mar</th>
            <th class="text-center">1ºTrim</th>
            <th class="text-center">Abr</th>
            <th class="text-center">Mai</th>
            <th class="text-center">Jun</th>
            <th class="text-center">2ºTrim</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Set</th>
            <th class="text-center">3ºTrim</th>
            <th class="text-center">Out</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">4ºTrim</th>
            <th class="text-center">Anual</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CargasD2)
            {
            <tr>
                <td>@item.Zona</td>
                <td>@item.Meses[0]</td>
                <td>@item.Meses[1]</td>
                <td>@item.Meses[2]</td>
                <td>@item.Trim1</td>
                <td>@item.Meses[3]</td>
                <td>@item.Meses[4]</td>
                <td>@item.Meses[5]</td>
                <td>@item.Trim2</td>
                <td>@item.Meses[6]</td>
                <td>@item.Meses[7]</td>
                <td>@item.Meses[8]</td>
                <td>@item.Trim3</td>    
                <td>@item.Meses[9]</td>
                <td>@item.Meses[10]</td>
                <td>@item.Meses[11]</td>
                <td>@item.Trim4</td>    
                <td>@item.Anual</td>
            </tr>
         }


    </tbody>
</table>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Resultado D2</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Fev</th>
            <th class="text-center">Mar</th>
            <th class="text-center">1ºTrim</th>
            <th class="text-center">Abr</th>
            <th class="text-center">Mai</th>
            <th class="text-center">Jun</th>
            <th class="text-center">2ºTrim</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Set</th>
            <th class="text-center">3ºTrim</th>
            <th class="text-center">Out</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">4ºTrim</th>
            <th class="text-center">Anual</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model.ResultadoD2)
            {
            <tr>
                <td>@item.Zona</td>
                <td>@item.Meses[0]</td>
                <td>@item.Meses[1]</td>
                <td>@item.Meses[2]</td>
                <td>@item.Trim1</td>
                <td>@item.Meses[3]</td>
                <td>@item.Meses[4]</td>
                <td>@item.Meses[5]</td>
                <td>@item.Trim2</td>
                <td>@item.Meses[6]</td>
                <td>@item.Meses[7]</td>
                <td>@item.Meses[8]</td>
                <td>@item.Trim3</td>
                <td>@item.Meses[9]</td>
                <td>@item.Meses[10]</td>
                <td>@item.Meses[11]</td>
                <td>@item.Trim4</td>
                <td>@item.Anual</td>
            </tr>

        }


    </tbody>
</table>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">% Cargas D2</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Fev</th>
            <th class="text-center">Mar</th>
            <th class="text-center">1ºTrim</th>
            <th class="text-center">Abr</th>
            <th class="text-center">Mai</th>
            <th class="text-center">Jun</th>
            <th class="text-center">2ºTrim</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Set</th>
            <th class="text-center">3ºTrim</th>
            <th class="text-center">Out</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">4ºTrim</th>
            <th class="text-center">Anual</th>
        </tr>
    </thead>
    <tbody>



        @foreach (var item in Model.PorcentagemD2)
        {
            <tr>
                <td>@item.Zona</td>
                <td>@item.Meses[0]</td>
                <td>@item.Meses[1]</td>
                <td>@item.Meses[2]</td>
                @{
                    if (item.Trim1 == 0)
                    {
                        <td>@item.Trim1</td>
                    }
                    else
                    {
                        <td>@item.Trim1%</td>
                    }

                }
                <td>@item.Meses[3]</td>
                <td>@item.Meses[4]</td>
                <td>@item.Meses[5]</td>
                @{
                    if (item.Trim2 == 0)
                    {
                        <td>@item.Trim2</td>
                    }
                    else
                    {
                        <td>@item.Trim2%</td>
                    }

                }
                <td>@item.Meses[6]</td>
                <td>@item.Meses[7]</td>
                <td>@item.Meses[8]</td>
                @{
                    if (item.Trim3 == 0)
                    {
                        <td>@item.Trim3</td>
                    }
                    else
                    {
                        <td>@item.Trim3%</td>
                    }

                }
                <td>@item.Meses[9]</td>
                <td>@item.Meses[10]</td>
                <td>@item.Meses[11]</td>
                @{
                    if (item.Trim4 == 0)
                    {
                        <td>@item.Trim4</td>
                    }
                    else
                    {
                        <td>@item.Trim4%</td>
                    }

                }
                @{
                    if (item.Anual == 0)
                    {
                        <td>@item.Anual</td>
                    }
                    else
                    {
                        <td>@item.Anual%</td>
                    }

                }
            </tr>
          }


    </tbody>
</table>