@using NovatecEnergyWeb.Models;

@model dynamic
@{ 
    ViewData["Title"] = "Metas - Cargas";
}

<h3>@ViewData["Title"]</h3>

<script type="text/javascript">
    //Muda o valor selecionado do select para ano atual
    window.onload = function () {
        $("#anos").val("@DateTime.Now.Year");
    };
    function chamaGetResultados() {
        var parametro = {};
        parametro.anoSelecionado = document.getElementById("anos").value;

        $.post("@Url.Action("BuscaMetasFiltradas", "Metas")", parametro, alteraColunas);
    };

    function alteraColunas(retorno) {
        tabelaResultados(retorno);
        tabelaMetas(retorno);
        tabelaCargas(retorno);
        tabelaMetasD2(retorno);
        tabelaNumeroCargasD2(retorno);
        tabelaResultadoD2(retorno);
        tabelaPorcentagemD2(retorno);
        tabelaResumos(retorno);
    }

    function tabelaResultados(retorno) {
        $("#zonaRes_" + retorno.Resultados[0].id).html(retorno.Resultados[0].zona); // 0 fluminense
        $("#zonaRes_" + retorno.Resultados[1].id).html(retorno.Resultados[1].zona); // 1 metropolitana

        for (var i = 0; i < 12; i++) {
            $('#zonaResmes' + i + '_' + retorno.Resultados[0].id).html(retorno.Resultados[0].meses[i]);
            $('#zonaResmes' + i + '_' + retorno.Resultados[1].id).html(retorno.Resultados[1].meses[i]);
        }

        $('#zonaResTri1_' + retorno.Resultados[0].id).html(retorno.Resultados[0].trim1);
        $('#zonaResTri2_' + retorno.Resultados[0].id).html(retorno.Resultados[0].trim2);
        $('#zonaResTri3_' + retorno.Resultados[0].id).html(retorno.Resultados[0].trim3);
        $('#zonaResTri4_' + retorno.Resultados[0].id).html(retorno.Resultados[0].trim4);

        $('#zonaResTri1_' + retorno.Resultados[1].id).html(retorno.Resultados[1].trim1);
        $('#zonaResTri2_' + retorno.Resultados[1].id).html(retorno.Resultados[1].trim2);
        $('#zonaResTri3_' + retorno.Resultados[1].id).html(retorno.Resultados[1].trim3);
        $('#zonaResTri4_' + retorno.Resultados[1].id).html(retorno.Resultados[1].trim4);

        $('#zonaResAnual_' + retorno.Resultados[0].id).html(retorno.Resultados[0].anual);
        $('#zonaResAnual_' + retorno.Resultados[1].id).html(retorno.Resultados[1].anual);
    }

    function tabelaMetas(retorno) {
        $("#MetasZona_" + retorno.Metas[0].id).html(retorno.Metas[0].zona);
        $("#MetasZona_" + retorno.Metas[1].id).html(retorno.Metas[1].zona);

        for (var i = 0; i < 12; i++) {
            $("#MetasMes" + i + "_" + retorno.Metas[0].id).html(retorno.Metas[0].meses[i]);
            $("#MetasMes" + i + "_" + retorno.Metas[1].id).html(retorno.Metas[1].meses[i]);
        }
        $("#MetasTri1_" + retorno.Metas[0].id).html(retorno.Metas[0].trim1);
        $("#MetasTri2_" + retorno.Metas[0].id).html(retorno.Metas[0].trim2);
        $("#MetasTri3_" + retorno.Metas[0].id).html(retorno.Metas[0].trim3);
        $("#MetasTri4_" + retorno.Metas[0].id).html(retorno.Metas[0].trim4);

        $("#MetasTri1_" + retorno.Metas[1].id).html(retorno.Metas[1].trim1);
        $("#MetasTri2_" + retorno.Metas[1].id).html(retorno.Metas[1].trim2);
        $("#MetasTri3_" + retorno.Metas[1].id).html(retorno.Metas[1].trim3);
        $("#MetasTri4_" + retorno.Metas[1].id).html(retorno.Metas[1].trim4);

        $("#MetasAnual_" + retorno.Metas[0].id).html(retorno.Metas[0].anual);
        $("#MetasAnual_" + retorno.Metas[1].id).html(retorno.Metas[1].anual);
    }

    function tabelaCargas(retorno) {
        $("#CargasZona_" + retorno.Cargas[0].id).html(retorno.Cargas[0].zona);
        $("#CargasZona_" + retorno.Cargas[1].id).html(retorno.Cargas[1].zona);

        for (var i = 0; i < 12; i++) {
            $("#CargasMes"+i+"_" + retorno.Cargas[0].id).html(retorno.Cargas[0].meses[i]);
            $("#CargasMes"+i+"_" + retorno.Cargas[1].id).html(retorno.Cargas[1].meses[i]);
        }
        $("#CargasTri1_" + retorno.Cargas[0].id).html(retorno.Cargas[0].trim1);
        $("#CargasTri2_" + retorno.Cargas[0].id).html(retorno.Cargas[0].trim2);
        $("#CargasTri3_" + retorno.Cargas[0].id).html(retorno.Cargas[0].trim3);
        $("#CargasTri4_" + retorno.Cargas[0].id).html(retorno.Cargas[0].trim4);

        $("#CargasTri1_" + retorno.Cargas[1].id).html(retorno.Cargas[1].trim1);
        $("#CargasTri2_" + retorno.Cargas[1].id).html(retorno.Cargas[1].trim2);
        $("#CargasTri3_" + retorno.Cargas[1].id).html(retorno.Cargas[1].trim3);
        $("#CargasTri4_" + retorno.Cargas[1].id).html(retorno.Cargas[1].trim4);

        $("#CargasAnual_" + retorno.Cargas[0].id).html(retorno.Cargas[0].anual);
        $("#CargasAnual_" + retorno.Cargas[1].id).html(retorno.Cargas[1].anual);
    }

    function tabelaMetasD2(retorno) {
        $("#MetasD2Zona_" + retorno.MetasD2[0].id).html(retorno.MetasD2[0].zona);
        $("#MetasD2Zona_" + retorno.MetasD2[1].id).html(retorno.MetasD2[1].zona);

        for (var i = 0; i < 12; i++) {
            $("#MetasD2Mes" + i + "_" + retorno.MetasD2[0].id).html(retorno.MetasD2[0].meses[i]);
            $("#MetasD2Mes" + i + "_" + retorno.MetasD2[1].id).html(retorno.MetasD2[1].meses[i]);
        }
        $("#MetasD2Tri1_" + retorno.MetasD2[0].id).html(retorno.MetasD2[0].trim1);
        $("#MetasD2Tri2_" + retorno.MetasD2[0].id).html(retorno.MetasD2[0].trim2);
        $("#MetasD2Tri3_" + retorno.MetasD2[0].id).html(retorno.MetasD2[0].trim3);
        $("#MetasD2Tri4_" + retorno.MetasD2[0].id).html(retorno.MetasD2[0].trim4);

        $("#MetasD2Tri1_" + retorno.MetasD2[1].id).html(retorno.MetasD2[1].trim1);
        $("#MetasD2Tri2_" + retorno.MetasD2[1].id).html(retorno.MetasD2[1].trim2);
        $("#MetasD2Tri3_" + retorno.MetasD2[1].id).html(retorno.MetasD2[1].trim3);
        $("#MetasD2Tri4_" + retorno.MetasD2[1].id).html(retorno.MetasD2[1].trim4);

        $("#MetasD2Anual_" + retorno.MetasD2[0].id).html(retorno.MetasD2[0].anual);
        $("#MetasD2Anual_" + retorno.MetasD2[1].id).html(retorno.MetasD2[1].anual);
    }

    function tabelaNumeroCargasD2(retorno) {
        $("#Nd2Zona_" + retorno.CargasD2[0].id).html(retorno.CargasD2[0].zona);
        $("#Nd2Zona_" + retorno.CargasD2[1].id).html(retorno.CargasD2[1].zona);

        for (var i = 0; i < 12; i++) {
            $("#Nd2Mes" + i + "_" + retorno.CargasD2[0].id).html(retorno.CargasD2[0].meses[i]);
            $("#Nd2Mes" + i + "_" + retorno.CargasD2[1].id).html(retorno.CargasD2[1].meses[i]);
        }
        $("#Nd2Tri1_" + retorno.CargasD2[0].id).html(retorno.CargasD2[0].trim1);
        $("#Nd2Tri2_" + retorno.CargasD2[0].id).html(retorno.CargasD2[0].trim2);
        $("#Nd2Tri3_" + retorno.CargasD2[0].id).html(retorno.CargasD2[0].trim3);
        $("#Nd2Tri4_" + retorno.CargasD2[0].id).html(retorno.CargasD2[0].trim4);
                                                             
        $("#Nd2Tri1_" + retorno.CargasD2[1].id).html(retorno.CargasD2[1].trim1);
        $("#Nd2Tri2_" + retorno.CargasD2[1].id).html(retorno.CargasD2[1].trim2);
        $("#Nd2Tri3_" + retorno.CargasD2[1].id).html(retorno.CargasD2[1].trim3);
        $("#Nd2Tri4_" + retorno.CargasD2[1].id).html(retorno.CargasD2[1].trim4);

        $("#Nd2Anual_" + retorno.CargasD2[0].id).html(retorno.CargasD2[0].anual);
        $("#Nd2Anual_" + retorno.CargasD2[1].id).html(retorno.CargasD2[1].anual);
    }

    function tabelaResultadoD2(retorno) {
        $("#ResultadosD2Zona_" + retorno.ResultadoD2[0].id).html(retorno.ResultadoD2[0].zona);
        $("#ResultadosD2Zona_" + retorno.ResultadoD2[1].id).html(retorno.ResultadoD2[1].zona);

        for (var i = 0; i < 12; i++) {
            $("#ResultadosD2Mes" + i + "_" + retorno.ResultadoD2[0].id).html(retorno.ResultadoD2[0].meses[i]);
            $("#ResultadosD2Mes" + i + "_" + retorno.ResultadoD2[1].id).html(retorno.ResultadoD2[1].meses[i]);
        }
        $("#ResultadosD2Tri1_" + retorno.ResultadoD2[0].id).html(retorno.ResultadoD2[0].trim1);
        $("#ResultadosD2Tri2_" + retorno.ResultadoD2[0].id).html(retorno.ResultadoD2[0].trim2);
        $("#ResultadosD2Tri3_" + retorno.ResultadoD2[0].id).html(retorno.ResultadoD2[0].trim3);
        $("#ResultadosD2Tri4_" + retorno.ResultadoD2[0].id).html(retorno.ResultadoD2[0].trim4);

        $("#ResultadosD2Tri1_" + retorno.ResultadoD2[1].id).html(retorno.ResultadoD2[1].trim1);
        $("#ResultadosD2Tri2_" + retorno.ResultadoD2[1].id).html(retorno.ResultadoD2[1].trim2);
        $("#ResultadosD2Tri3_" + retorno.ResultadoD2[1].id).html(retorno.ResultadoD2[1].trim3);
        $("#ResultadosD2Tri4_" + retorno.ResultadoD2[1].id).html(retorno.ResultadoD2[1].trim4);

        $("#ResultadosD2Anual_" + retorno.ResultadoD2[0].id).html(retorno.ResultadoD2[0].anual);
        $("#ResultadosD2Anual_" + retorno.ResultadoD2[1].id).html(retorno.ResultadoD2[1].anual);

    }

    function tabelaPorcentagemD2(retorno) {
        $("#PercentZona_" + retorno.PorcentagemD2[0].id).html(retorno.PorcentagemD2[0].zona);
        $("#PercentZona_" + retorno.PorcentagemD2[1].id).html(retorno.PorcentagemD2[1].zona);

        for (var i = 0; i < 12; i++) {
            $("#PercentMes" + i + "_" + retorno.PorcentagemD2[0].id).html(retorno.PorcentagemD2[0].meses[i]);
            $("#PercentMes" + i + "_" + retorno.PorcentagemD2[1].id).html(retorno.PorcentagemD2[1].meses[i]);
        }
        $("#PercentTri1_" + retorno.PorcentagemD2[0].id).html(retorno.PorcentagemD2[0].trim1+'%');
        $("#PercentTri2_" + retorno.PorcentagemD2[0].id).html(retorno.PorcentagemD2[0].trim2 + '%');
        $("#PercentTri3_" + retorno.PorcentagemD2[0].id).html(retorno.PorcentagemD2[0].trim3 + '%');
        $("#PercentTri4_" + retorno.PorcentagemD2[0].id).html(retorno.PorcentagemD2[0].trim4 + '%');

        $("#PercentTri1_" + retorno.PorcentagemD2[1].id).html(retorno.PorcentagemD2[1].trim1 + '%');
        $("#PercentTri2_" + retorno.PorcentagemD2[1].id).html(retorno.PorcentagemD2[1].trim2 + '%');
        $("#PercentTri3_" + retorno.PorcentagemD2[1].id).html(retorno.PorcentagemD2[1].trim3 + '%');
        $("#PercentTri4_" + retorno.PorcentagemD2[1].id).html(retorno.PorcentagemD2[1].trim4 + '%');

        $("#PercentAnual_" + retorno.PorcentagemD2[0].id).html(retorno.PorcentagemD2[0].anual + '%');
        $("#PercentAnual_" + retorno.PorcentagemD2[1].id).html(retorno.PorcentagemD2[1].anual + '%');

    }

    function tabelaResumos(retorno) {
        $("#ResumoZona_" + retorno.Resumos[0].id).html(retorno.Resumos[0].zona);
        $("#ResumoZona_" + retorno.Resumos[1].id).html(retorno.Resumos[1].zona);
        $("#ResumoZona_" + retorno.Resumos[2].id).html(retorno.Resumos[2].zona);

        for (var i = 0; i < 12; i++) {
            $("#ResumoMes" + i + "_" + retorno.Resumos[0].id).html(retorno.Resumos[0].meses[i]);
            $("#ResumoMes" + i + "_" + retorno.Resumos[1].id).html(retorno.Resumos[1].meses[i]);
            $("#ResumoMes" + i + "_" + retorno.Resumos[2].id).html(retorno.Resumos[2].meses[i]);
        }

        $("#ResumoTri1_" + retorno.Resumos[0].id).html(retorno.Resumos[0].trim1 );
        $("#ResumoTri2_" + retorno.Resumos[0].id).html(retorno.Resumos[0].trim2 );
        $("#ResumoTri3_" + retorno.Resumos[0].id).html(retorno.Resumos[0].trim3 );
        $("#ResumoTri4_" + retorno.Resumos[0].id).html(retorno.Resumos[0].trim4 );

        $("#ResumoTri1_" + retorno.Resumos[1].id).html(retorno.Resumos[1].trim1 );
        $("#ResumoTri2_" + retorno.Resumos[1].id).html(retorno.Resumos[1].trim2 );
        $("#ResumoTri3_" + retorno.Resumos[1].id).html(retorno.Resumos[1].trim3 );
        $("#ResumoTri4_" + retorno.Resumos[1].id).html(retorno.Resumos[1].trim4 );

        $("#ResumoTri1_" + retorno.Resumos[2].id).html(retorno.Resumos[2].trim1 );
        $("#ResumoTri2_" + retorno.Resumos[2].id).html(retorno.Resumos[2].trim2 );
        $("#ResumoTri3_" + retorno.Resumos[2].id).html(retorno.Resumos[2].trim3 );
        $("#ResumoTri4_" + retorno.Resumos[2].id).html(retorno.Resumos[2].trim4 );

        $("#ResumoAnual_" + retorno.Resumos[0].id).html(retorno.Resumos[0].anual );
        $("#ResumoAnual_" + retorno.Resumos[1].id).html(retorno.Resumos[1].anual );
        $("#ResumoAnual_" + retorno.Resumos[2].id).html(retorno.Resumos[2].anual );

    }
</script>
<select id="anos" onchange="chamaGetResultados()" >
    <option >2015</option>
    <option>2016</option>
    <option selected>2017</option>
</select>
<hr class="hrMetasSelect"/>
        <table class="tableMetas table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Tabela Resumo</th>
                    <th class="text-center">Jan</th>
                    <th class="text-center">Fev</th>
                    <th class="text-center">Mar</th>
                    <th class="text-center">1ºTrim</th>
                    <th class="text-center">Abr</th>
                    <th class="text-center">Mai</th>
                    <th class="text-center">Jun</th>
                    <th class="text-center">2ºTrim</th>
                    <th class="text-center">Jul</th>
                    <th class="text-center">Ago</th>
                    <th class="text-center">Set</th>
                    <th class="text-center">3ºTrim</th>
                    <th class="text-center">Out</th>
                    <th class="text-center">Nov</th>
                    <th class="text-center">Dec</th>
                    <th class="text-center">4ºTrim</th>
                    <th class="text-center">Anual</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Resumos)
            {
                    <tr>
                        <td class="text-center" id="ResumoZona_@item.Id">@item.Zona</td>
                        <td class="text-center" id="ResumoMes0_@item.Id">@item.Meses[0]</td>
                        <td class="text-center" id="ResumoMes1_@item.Id">@item.Meses[1]</td>
                        <td class="text-center" id="ResumoMes2_@item.Id">@item.Meses[2]</td>
                        <td class="text-center" id="ResumoTri1_@item.Id">@item.Trim1</td>
                        <td class="text-center" id="ResumoMes3_@item.Id">@item.Meses[3]</td>
                        <td class="text-center" id="ResumoMes4_@item.Id">@item.Meses[4]</td>
                        <td class="text-center" id="ResumoMes5_@item.Id">@item.Meses[5]</td>
                        <td class="text-center" id="ResumoTri2_@item.Id">@item.Trim2</td>
                        <td class="text-center" id="ResumoMes6_@item.Id">@item.Meses[6]</td>
                        <td class="text-center" id="ResumoMes7_@item.Id">@item.Meses[7]</td>
                        <td class="text-center" id="ResumoMes8_@item.Id">@item.Meses[8]</td>
                        <td class="text-center" id="ResumoTri3_@item.Id">@item.Trim3</td>
                        <td class="text-center" id="ResumoMes9_@item.Id">@item.Meses[9]</td>
                        <td class="text-center" id="ResumoMes10_@item.Id">@item.Meses[10]</td>
                        <td class="text-center" id="ResumoMes11_@item.Id">@item.Meses[11]</td>
                        <td class="text-center" id="ResumoTri4_@item.Id">@item.Trim4</td>
                        <td class="text-center" id="ResumoAnual_@item.Id">@item.Anual</td>
                    </tr>
                }


            </tbody>
        </table>
<hr class="hrMetas" />
<table class="tableMetas table-bordered">
    <thead>
        <tr>
            <th class="text-center">Resultados</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Fev</th>
            <th class="text-center">Mar</th>
            <th class="text-center">1ºTrim</th>
            <th class="text-center">Abr</th>
            <th class="text-center">Mai</th>
            <th class="text-center">Jun</th>
            <th class="text-center">2ºTrim</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Set</th>
            <th class="text-center">3ºTrim</th>
            <th class="text-center">Out</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">4ºTrim</th>
            <th class="text-center">Anual</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.Resultados)
            {
                <tr>
                    <td class="text-center" id="zonaRes_@item.Id">@item.Zona</td>
                    <td class="text-center" id="zonaResmes0_@item.Id">@item.Meses[0]</td>
                    <td class="text-center" id="zonaResmes1_@item.Id">@item.Meses[1]</td>
                    <td class="text-center" id="zonaResmes2_@item.Id">@item.Meses[2]</td>
                    <td class="text-center" id="zonaResTri1_@item.Id">@item.Trim1</td>
                    <td class="text-center" id="zonaResmes3_@item.Id">@item.Meses[3]</td>
                    <td class="text-center" id="zonaResmes4_@item.Id">@item.Meses[4]</td>
                    <td class="text-center" id="zonaResmes5_@item.Id">@item.Meses[5]</td>
                    <td class="text-center" id="zonaResTri2_@item.Id">@item.Trim2</td>
                    <td class="text-center" id="zonaResmes6_@item.Id">@item.Meses[6]</td>
                    <td class="text-center" id="zonaResmes7_@item.Id">@item.Meses[7]</td>
                    <td class="text-center" id="zonaResmes8_@item.Id">@item.Meses[8]</td>
                    <td class="text-center" id="zonaResTri3_@item.Id">@item.Trim3</td>
                    <td class="text-center" id="zonaResmes9_@item.Id">@item.Meses[9]</td>
                    <td class="text-center" id="zonaResmes10_@item.Id">@item.Meses[10]</td>
                    <td class="text-center" id="zonaResmes11_@item.Id">@item.Meses[11]</td>
                    <td class="text-center" id="zonaResTri4_@item.Id">@item.Trim4</td>
                    <td class="text-center" id="zonaResAnual_@item.Id">@item.Anual</td>
                </tr>
            }
            
          
    </tbody>
</table>
<hr class="hrMetas" />
<table class="tableMetas table-bordered">
    <thead>
        <tr>
            <th class="text-center">Metas</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Fev</th>
            <th class="text-center">Mar</th>
            <th class="text-center">1ºTrim</th>
            <th class="text-center">Abr</th>
            <th class="text-center">Mai</th>
            <th class="text-center">Jun</th>
            <th class="text-center">2ºTrim</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Set</th>
            <th class="text-center">3ºTrim</th>
            <th class="text-center">Out</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">4ºTrim</th>
            <th class="text-center">Anual</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Metas)
            {
            <tr>
                <td class="text-center" id="MetasZona_@item.Id">@item.Zona</td>
                <td class="text-center" id="MetasMes0_@item.Id">@item.Meses[0]</td>
                <td class="text-center" id="MetasMes1_@item.Id">@item.Meses[1]</td>
                <td class="text-center" id="MetasMes2_@item.Id">@item.Meses[2]</td>
                <td class="text-center" id="MetasTri1_@item.Id">@item.Trim1</td>
                <td class="text-center" id="MetasMes3_@item.Id">@item.Meses[3]</td>
                <td class="text-center" id="MetasMes4_@item.Id">@item.Meses[4]</td>
                <td class="text-center" id="MetasMes5_@item.Id">@item.Meses[5]</td>
                <td class="text-center" id="MetasTri2_@item.Id">@item.Trim2</td>
                <td class="text-center" id="MetasMes6_@item.Id">@item.Meses[6]</td>
                <td class="text-center" id="MetasMes7_@item.Id">@item.Meses[7]</td>
                <td class="text-center" id="MetasMes8_@item.Id">@item.Meses[8]</td>
                <td class="text-center" id="MetasTri3_@item.Id">@item.Trim3</td>
                <td class="text-center" id="MetasMes9_@item.Id">@item.Meses[9]</td>
                <td class="text-center" id="MetasMes10_@item.Id">@item.Meses[10]</td>
                <td class="text-center" id="MetasMes11_@item.Id">@item.Meses[11]</td>
                <td class="text-center" id="MetasTri4_@item.Id">@item.Trim4</td>
                <td class="text-center" id="MetasAnual_@item.Id">@item.Anual</td>
            </tr>
         }

    </tbody>
</table>
<hr class="hrMetas" />
<table class="tableMetas table-bordered">
    <thead>
        <tr>
            <th class="text-center">Cargas</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Fev</th>
            <th class="text-center">Mar</th>
            <th class="text-center">1ºTrim</th>
            <th class="text-center">Abr</th>
            <th class="text-center">Mai</th>
            <th class="text-center">Jun</th>
            <th class="text-center">2ºTrim</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Set</th>
            <th class="text-center">3ºTrim</th>
            <th class="text-center">Out</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">4ºTrim</th>
            <th class="text-center">Anual</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Cargas)
            {
            <tr>
                <td class="text-center" id="CargasZona_@item.Id">@item.Zona</td>
                <td class="text-center" id="CargasMes0_@item.Id">@item.Meses[0]</td>
                <td class="text-center" id="CargasMes1_@item.Id">@item.Meses[1]</td>
                <td class="text-center" id="CargasMes2_@item.Id">@item.Meses[2]</td>
                <td class="text-center" id="CargasTri1_@item.Id">@item.Trim1</td>
                <td class="text-center" id="CargasMes3_@item.Id">@item.Meses[3]</td>
                <td class="text-center" id="CargasMes4_@item.Id">@item.Meses[4]</td>
                <td class="text-center" id="CargasMes5_@item.Id">@item.Meses[5]</td>
                <td class="text-center" id="CargasTri2_@item.Id">@item.Trim2</td>
                <td class="text-center" id="CargasMes6_@item.Id">@item.Meses[6]</td>
                <td class="text-center" id="CargasMes7_@item.Id">@item.Meses[7]</td>
                <td class="text-center" id="CargasMes8_@item.Id">@item.Meses[8]</td>
                <td class="text-center" id="CargasTri3_@item.Id">@item.Trim3</td>
                <td class="text-center" id="CargasMes9_@item.Id">@item.Meses[9]</td>
                <td class="text-center" id="CargasMes10_@item.Id">@item.Meses[10]</td>
                <td class="text-center" id="CargasMes11_@item.Id">@item.Meses[11]</td>
                <td class="text-center" id="CargasTri4_@item.Id">@item.Trim4</td>
                <td class="text-center" id="CargasAnual_@item.Id">@item.Anual</td>
            </tr>
        }

    </tbody>
</table>
<hr class="hrMetas" />
<table class="tableMetas table-bordered">
    <thead>
        <tr>
            <th class="text-center">Metas D2</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Fev</th>
            <th class="text-center">Mar</th>
            <th class="text-center">1ºTrim</th>
            <th class="text-center">Abr</th>
            <th class="text-center">Mai</th>
            <th class="text-center">Jun</th>
            <th class="text-center">2ºTrim</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Set</th>
            <th class="text-center">3ºTrim</th>
            <th class="text-center">Out</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">4ºTrim</th>
            <th class="text-center">Anual</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model.MetasD2)
            {
            <tr>
                <td class="text-center" id="MetasD2Zona_@item.Id">@item.Zona</td>
                <td class="text-center" id="MetasD2Mes0_@item.Id">@item.Meses[0]</td>
                <td class="text-center" id="MetasD2Mes1_@item.Id">@item.Meses[1]</td>
                <td class="text-center" id="MetasD2Mes2_@item.Id">@item.Meses[2]</td>
                <td class="text-center" id="MetasD2Tri1_@item.Id">@item.Trim1</td>
                <td class="text-center" id="MetasD2Mes3_@item.Id">@item.Meses[3]</td>
                <td class="text-center" id="MetasD2Mes4_@item.Id">@item.Meses[4]</td>
                <td class="text-center" id="MetasD2Mes5_@item.Id">@item.Meses[5]</td>
                <td class="text-center" id="MetasD2Tri2_@item.Id">@item.Trim2</td>
                <td class="text-center" id="MetasD2Mes6_@item.Id">@item.Meses[6]</td>
                <td class="text-center" id="MetasD2Mes7_@item.Id">@item.Meses[7]</td>
                <td class="text-center" id="MetasD2Mes8_@item.Id">@item.Meses[8]</td>
                <td class="text-center" id="MetasD2Tri3_@item.Id">@item.Trim3</td>
                <td class="text-center" id="MetasD2Mes9_@item.Id">@item.Meses[9]</td>
                <td class="text-center" id="MetasD2Mes10_@item.Id">@item.Meses[10]</td>
                <td class="text-center" id="MetasD2Mes11_@item.Id">@item.Meses[11]</td>
                <td class="text-center" id="MetasD2Tri4_@item.Id">@item.Trim4</td>
                <td class="text-center" id="MetasD2Anual_@item.Id">@item.Anual</td>
            </tr>
       }
       

    </tbody>
</table>
<hr class="hrMetas" />
<table class="tableMetas table-bordered">
    <thead>
        <tr>
            <th class="text-center">Nº Cargas D2</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Fev</th>
            <th class="text-center">Mar</th>
            <th class="text-center">1ºTrim</th>
            <th class="text-center">Abr</th>
            <th class="text-center">Mai</th>
            <th class="text-center">Jun</th>
            <th class="text-center">2ºTrim</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Set</th>
            <th class="text-center">3ºTrim</th>
            <th class="text-center">Out</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">4ºTrim</th>
            <th class="text-center">Anual</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CargasD2)
            {
            <tr>
                <td class="text-center" id="Nd2Zona_@item.Id">@item.Zona</td>
                <td class="text-center" id="Nd2Mes0_@item.Id">@item.Meses[0]</td>
                <td class="text-center" id="Nd2Mes1_@item.Id">@item.Meses[1]</td>
                <td class="text-center" id="Nd2Mes2_@item.Id">@item.Meses[2]</td>
                <td class="text-center" id="Nd2Tri1_@item.Id">@item.Trim1</td>
                <td class="text-center" id="Nd2Mes3_@item.Id">@item.Meses[3]</td>
                <td class="text-center" id="Nd2Mes4_@item.Id">@item.Meses[4]</td>
                <td class="text-center" id="Nd2Mes5_@item.Id">@item.Meses[5]</td>
                <td class="text-center" id="Nd2Tri2_@item.Id">@item.Trim2</td>
                <td class="text-center" id="Nd2Mes6_@item.Id">@item.Meses[6]</td>
                <td class="text-center" id="Nd2Mes7_@item.Id">@item.Meses[7]</td>
                <td class="text-center" id="Nd2Mes8_@item.Id">@item.Meses[8]</td>
                <td class="text-center" id="Nd2Tri3_@item.Id">@item.Trim3</td>    
                <td class="text-center" id="Nd2Mes9_@item.Id">@item.Meses[9]</td>
                <td class="text-center" id="Nd2Mes10_@item.Id">@item.Meses[10]</td>
                <td class="text-center" id="Nd2Mes11_@item.Id">@item.Meses[11]</td>
                <td class="text-center" id="Nd2Tri4_@item.Id">@item.Trim4</td>    
                <td class="text-center" id="Nd2Anual_@item.Id">@item.Anual</td>
            </tr>
         }


    </tbody>
</table>
<hr class="hrMetas" />
<table class="tableMetas table-bordered">
    <thead>
        <tr>
            <th class="text-center">Resultado D2</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Fev</th>
            <th class="text-center">Mar</th>
            <th class="text-center">1ºTrim</th>
            <th class="text-center">Abr</th>
            <th class="text-center">Mai</th>
            <th class="text-center">Jun</th>
            <th class="text-center">2ºTrim</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Set</th>
            <th class="text-center">3ºTrim</th>
            <th class="text-center">Out</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">4ºTrim</th>
            <th class="text-center">Anual</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model.ResultadoD2)
            {
            <tr>
                <td class="text-center" id="ResultadosD2Zona_@item.Id">@item.Zona</td>
                <td class="text-center" id="ResultadosD2Mes0_@item.Id">@item.Meses[0]</td>
                <td class="text-center" id="ResultadosD2Mes1_@item.Id">@item.Meses[1]</td>
                <td class="text-center" id="ResultadosD2Mes2_@item.Id">@item.Meses[2]</td>
                <td class="text-center" id="ResultadosD2Tri1_@item.Id">@item.Trim1</td>
                <td class="text-center" id="ResultadosD2Mes3_@item.Id">@item.Meses[3]</td>
                <td class="text-center" id="ResultadosD2Mes4_@item.Id">@item.Meses[4]</td>
                <td class="text-center" id="ResultadosD2Mes5_@item.Id">@item.Meses[5]</td>
                <td class="text-center" id="ResultadosD2Tri2_@item.Id">@item.Trim2</td>
                <td class="text-center" id="ResultadosD2Mes6_@item.Id">@item.Meses[6]</td>
                <td class="text-center" id="ResultadosD2Mes7_@item.Id">@item.Meses[7]</td>
                <td class="text-center" id="ResultadosD2Mes8_@item.Id">@item.Meses[8]</td>
                <td class="text-center" id="ResultadosD2Tri3_@item.Id">@item.Trim3</td>
                <td class="text-center" id="ResultadosD2Mes9_@item.Id">@item.Meses[9]</td>
                <td class="text-center" id="ResultadosD2Mes10_@item.Id">@item.Meses[10]</td>
                <td class="text-center" id="ResultadosD2Mes11_@item.Id">@item.Meses[11]</td>
                <td class="text-center" id="ResultadosD2Tri4_@item.Id">@item.Trim4</td>
                <td class="text-center" id="ResultadosD2Anual_@item.Id">@item.Anual</td>
            </tr>

        }


    </tbody>
</table>
<hr class="hrMetas" />
<table class="tableMetas table-bordered">
    <thead>
        <tr>
            <th class="text-center">% Cargas D2</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Fev</th>
            <th class="text-center">Mar</th>
            <th class="text-center">1ºTrim</th>
            <th class="text-center">Abr</th>
            <th class="text-center">Mai</th>
            <th class="text-center">Jun</th>
            <th class="text-center">2ºTrim</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Set</th>
            <th class="text-center">3ºTrim</th>
            <th class="text-center">Out</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">4ºTrim</th>
            <th class="text-center">Anual</th>
        </tr>
    </thead>
    <tbody>



        @foreach (var item in Model.PorcentagemD2)
        {
            <tr>
                <td class="text-center" id="PercentZona_@item.Id">@item.Zona</td>
                <td class="text-center" id="PercentMes0_@item.Id">@item.Meses[0]</td>
                <td class="text-center" id="PercentMes1_@item.Id">@item.Meses[1]</td>
                <td class="text-center" id="PercentMes2_@item.Id">@item.Meses[2]</td>
                @{
                    if (item.Trim1 == 0)
                    {
                        <td class="text-center" id="PercentTri1_@item.Id">@item.Trim1</td>
                    }
                    else
                    {
                        <td  class="text-center" id="PercentTri1_@item.Id">@item.Trim1%</td>
                    }

                }
                <td class="text-center" id="PercentMes3_@item.Id">@item.Meses[3]</td>
                <td class="text-center" id="PercentMes4_@item.Id">@item.Meses[4]</td>
                <td class="text-center" id="PercentMes5_@item.Id">@item.Meses[5]</td>
                @{
                    if (item.Trim2 == 0)
                    {
                        <td class="text-center" id="PercentTri2_@item.Id">@item.Trim2</td>
                    }
                    else
                    {
                        <td class="text-center" id="PercentTri2_@item.Id">@item.Trim2%</td>
                    }

                }
                <td class="text-center" id="PercentMes6_@item.Id">@item.Meses[6]</td>
                <td class="text-center" id="PercentMes7_@item.Id">@item.Meses[7]</td>
                <td class="text-center" id="PercentMes8_@item.Id">@item.Meses[8]</td>
                @{
                    if (item.Trim3 == 0)
                    {
                        <td class="text-center" id="PercentTri3_@item.Id">@item.Trim3</td>
                    }
                    else
                    {
                        <td class="text-center" id="PercentTri3_@item.Id">@item.Trim3%</td>
                    }

                }
                <td class="text-center" id="PercentMes9_@item.Id">@item.Meses[9]</td>
                <td class="text-center" id="PercentMes10_@item.Id">@item.Meses[10]</td>
                <td class="text-center" id="PercentMes11_@item.Id">@item.Meses[11]</td>
                @{
                    if (item.Trim4 == 0)
                    {
                        <td class="text-center" id="PercentTri4_@item.Id">@item.Trim4</td>
                    }
                    else
                    {
                        <td class="text-center" id="PercentTri4_@item.Id">@item.Trim4%</td>
                    }

                }
                @{
                    if (item.Anual == 0)
                    {
                        <td class="text-center" id="PercentAnual_@item.Id">@item.Anual</td>
                    }
                    else
                    {
                        <td class="text-center" id="PercentAnual_@item.Id">@item.Anual%</td>
                    }

                }
            </tr>
          }
    </tbody>
</table>