@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NovatecEnergyWeb</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <environment names="Development,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
        
    </environment>
    <environment names="Staging">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/navbar-fixed-side.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
    </environment>
    <link href="~/logo-61x64.ico" rel="shortcut icon" type="image/x-icon" />

    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">NovatecEnergyWeb</a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_MenuPrincipal")


                @Html.Partial("_Perfil")

            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year.ToString() Novatec Energy. Todos os Direitos Reservados.</p>

        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <environment names="Development">
        
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" ></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/encrypto.js" asp-append-version="true"></script>
        <script src="~/lib/Chart.js/dist/Chart.bundle.js" asp-append-version="true"></script>

        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/encrypto.js" asp-append-version="true"></script>
        <script src="~/lib/Chart.js/dist/Chart.bundle.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js" asp-append-version="true"></script>
        
        
    </environment>
    @RenderSection("scripts", required: false)
</body>

</html>
