@using NovatecEnergyWeb.Models.StoredProcedures;
@using Microsoft.AspNetCore.Http;
@using NovatecEnergyWeb.Core;
@model IEnumerable<_11_LoteAtivoEnderecos>
@{
    Layout = "~/Views/Shared/_LayoutSideNavBar.cshtml";
    ViewData["Title"] = "Status de Clientes Com Tratamento Comercial";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side">
                <h4 id="titulo" class="text-center">Clientes de Lotes Ativos</h4>

                <table>
                    <tbody class="fontTableBodyNavBar">
                        <tr>
                            <td class="col-xs-9" style="padding-right:0px; ">Total de Endereços</td>
                            <td id="e0" class="col-xs-2 text-right">@Model.Count()</td>
                            <td class="col-xs-1 text-right"></td>
                        </tr>
                        <tr>
                            <td class="col-xs-9" style="padding-right:0px; ">Total Unidades (Potencial) </td>
                            <td id="e0" class="col-xs-2 text-right">@Model.Count()</td>
                            <td class="col-xs-1 text-right"></td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Unidades Visitadas</td>
                            <td id="e1" class="col-sm-2 text-right">@ViewBag.Visitados</td>
                            <td id="ep0" class="col-sm-2 text-right">@ViewBag.VisitadosPercent%</td>
                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-xs-8" style="padding-right:0px;">Unidades Não Visitadas</td>
                            <td id="e2" class="col-xs-2 text-right">@ViewBag.NaoVisitados</td>
                            <td id="ep1" class="col-xs-2 text-right">@ViewBag.NaoVisitadosPercent%</td>
                        </tr>


                        <tr class="espacoAbaixo">
                            <td class="col-sm-8">Unidades Agendadas</td>
                            <td id="e3" class="col-sm-2 text-right">@ViewBag.VisitaAgendada</td>
                            <td id="ep2" class="col-sm-2 text-right">@ViewBag.VisitaAgendadaPercent%</td>
                        </tr>

                        <tr>
                            <td class="col-sm-8">Unidades Contratadas</td>
                            <td id="e4" class="col-sm-2 text-right">@ViewBag.Contratados</td>
                            <td id="ep3" class="col-sm-2 text-right">@ViewBag.ContratadosPercent%</td>
                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-sm-8" style="padding-right:0px;">Unidades Não Contratadas</td>
                            <td id="e5" class="col-sm-2 text-right">@ViewBag.NaoContratados</td>
                            <td id="ep4" class="col-sm-2 text-right">@ViewBag.NaoContratadosPercent%</td>

                        </tr>

                        <tr>
                            <td class="col-sm-8">D2 Contratados</td>
                            <td id="e6" class="col-sm-2 text-right">@ViewBag.D2</td>
                            <td id="ep5" class="col-sm-2 text-right">@ViewBag.D2Percent%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">SVG Contratados</td>
                            <td id="e7" class="col-sm-2 text-right">@ViewBag.Svg</td>
                            <td id="ep6" class="col-sm-2 text-right">@ViewBag.SvgPercent%</td>
                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-sm-8">SVE Contratados</td>
                            <td id="e8" class="col-sm-2 text-right">@ViewBag.Sve</td>
                            <td id="ep7" class="col-sm-2 text-right">@ViewBag.SvePercent%</td>
                        </tr>

                        <tr class="espacoAbaixo">
                            <td class="col-xs-8" style="padding-right:0px;">Visitas Agendadas</td>
                            <td id="e9" class="col-sm-2 text-right">@ViewBag.NovaVisitaAgendada</td>
                            <td class="col-sm-2 text-right"></td>
                        </tr>

                        <tr>
                            <td class="col-sm-8">Visitas Realizadas</td>
                            <td id="e10" class="col-sm-2 text-right">@ViewBag.Visitas</td>
                            <td class="col-sm-2 text-right"></td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Entrevistas Realizadas</td>
                            <td id="e11" class="col-sm-2 text-right">@ViewBag.VisitasComResposta</td>
                            <td id="ep8" class="col-sm-2 text-right">@ViewBag.VisitasComRespostaPercent%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Visitas - Ausentes</td>
                            <td id="e12" class="col-sm-2 text-right">@ViewBag.Ausentes</td>
                            <td id="ep9" class="col-sm-2 text-right">@ViewBag.AusentesPercent%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Visitas - Endereços Inex.</td>
                            <td id="e13" class="col-sm-2 text-right">@ViewBag.Endinex</td>
                            <td id="ep10" class="col-sm-2 text-right">0%</td>
                        </tr>


                    </tbody>
                </table>

                <div class="buttonGroupNavBar">
                    <ul class="nav ">
                        <li id="todosli" class="fontTableBodyNavBar">
                            <a href="#" onclick="$(this).data('clicked', true); $('#titulo').html('Clientes de Lotes - Todos'); postToController();" id="todos">Todos os Lotes</a>
                        </li>
                        <li id="ativosli" class="disabled fontTableBodyNavBar">
                            <a href="#" id="ativos" onclick="$(this).data('clicked', true); $('#titulo').html('Clientes de Lotes Ativos'); postToController();">Lotes Ativos</a>
                        </li>
                   
                    </ul>
                </div>



                <form class="form-horizontal" style="padding-left:15px;padding-right:15px;">
                    <div class="control-group">
                        <label class="control-label labelsFormNav">Lote</label>
                        <div class="controls">
                            <select id="lotes" name="LoteError" onchange="postLote(); postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:100px;">

                                @foreach (var item in ViewBag.Lotes)
                                {
                                    <option value="@item[0]">
                                        @item[1]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @item[2]
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @item[3]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item[4]
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item[5]
                                    </option>
                                }

                            </select>
                        </div>
                    </div>



                    <div class="control-group">
                        <label class="control-label labelsFormNav">Zona</label>
                        <div class="controls">
                            @{
                                int? zona = Context.Session.GetInt32("Zona");

                                if (zona != null)
                                {
                                    <select id="zonas" onchange="postZona(); postToController();" disabled="disabled" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                        @for (int i = 0; i < ViewBag.Zonas.Count; i++)
                                        {
                                            if (zona == ViewBag.Zonas[i].Id)
                                            {
                                                ViewBag.ZonaSelecionada = i;
                                                <option value="@ViewBag.Zonas[i].Id">@ViewBag.Zonas[i].Zona</option>
                                            }
                                            else
                                            {
                                                <option value="@ViewBag.Zonas[i].Id">@ViewBag.Zonas[i].Zona</option>
                                            }
                                        }

                                    </select>
                                }
                                else
                                {
                                    <select id="zonas" onchange="postZona();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                        @foreach (var item in ViewBag.Zonas)
                                        {
                                            <option value="@item.Id">@item.Zona</option>
                                        }
                                    </select>
                                }
                            }
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label labelsFormNav">Delegação</label>
                        <div class="controls">
                            @{
                                int? delegacao = Context.Session.GetInt32("Delegação");

                                if (delegacao != null)
                                {
                                    <select id="delegacoes" onchange="postDelegacao();" disabled="disabled" class="alturaFormNavInput form-control fontTableBodyNavBar delegacaoSelect">
                                        @for (int i = 0; i < ViewBag.Delegacao.Count; i++)
                                        {
                                            if (delegacao == ViewBag.Delegacao[i].Id)
                                            {
                                                ViewBag.DelegacaoSel = i;
                                            }
                                            <option value="@ViewBag.Delegacao[i].Id">@ViewBag.Delegacao[i].Delegacao</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select id="delegacoes" onchange="postDelegacao(); postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar delegacaoSelect">
                                        @foreach (var item in ViewBag.Delegacao)
                                        {
                                            <option value="@item.Id">@item.Delegacao</option>
                                        }
                                    </select>
                                }
                            }
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Área</label>
                        <div class="controls">

                            @{
                                int? area = Context.Session.GetInt32("Área");
                                int? areaQuantidade = Context.Session.GetInt32("QuantidadeArea");
                                if ((area != null) && (areaQuantidade != null && areaQuantidade == 1))
                                {
                                    <select id="areas" onchange="postArea(); postToController();" disabled="disabled" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:70px;">
                                        @for (int i = 0; i < ViewBag.Areas.Count; i++)
                                        {
                                            if (area == ViewBag.Areas[i].Id)
                                            {
                                                ViewBag.AreaSel = i;
                                            }
                                            <option value="@ViewBag.Areas[i].Id">@ViewBag.Areas[i].Area</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select id="areas" onchange="postArea(); postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:70px;">
                                        @foreach (var item in ViewBag.Areas)
                                        {
                                            <option value="@item.Id">@item.Area</option>
                                        }
                                    </select>
                                }
                            }

                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label labelsFormNav">Endereço</label>
                        <div class="controls">
                            <input id="Endereco" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    
                  
                    <br />
                    <div class="col-xs-4"><a href="#" onclick="limpaFiltro();"><img src="~/images/filter_delete.png" title="Limpar Filtro" width="25" height="25" /></a></div>
                    <div class="col-xs-8"><a href="#" onclick="postToController();"><img src="~/images/binoculars_128.png" title="Filtrar" width="35" height="35" /></a></div>

                    <br />

                    <label class="fontTableBodyNavBar">Exportar Agenda Formato Gás Natural</label>

                    <a href="#" onclick="ExportaPadraoGas();">
                        <img src="~/images/ms_excel.png" width="30" height="30" />
                    </a>
                </form>
            </nav>
        </div>

         <div class="col-sm-9 col-lg-10">
             <table id="tabelaEnderecoVisitas" class="table table-bordered table-striped tabelaModal">
                 <thead id="headTabelaLote">
                     <tr>
                         <th class="text-center">Z</th>
                         <th class="text-center">D</th>
                         <th class="text-center">AR</th>
                         <th class="text-center">Endereço</th>
                         <th class="text-center">Potencial</th>
                         <th class="text-center">Visitados</th>
                         <th class="text-center">Contratados</th>
                         <th class="text-center">UnidadesAgendadas</th>
                         <th class="text-center">VisitasAgendadas</th>
                         <th class="text-center">Visitas</th>
                         <th class="text-center">Entrevistas</th>
                         <th class="text-center">Ausências</th>
                         <th class="text-center">Endinex</th>
                         <th class="text-center">D2</th>
                         <th class="text-center">Svg</th>
                         <th class="text-center">Sve</th>
                    
                     </tr>
                 </thead>
                 <tbody id="corpoTabelaAtivos" class="corpoTabela">
                     @foreach (var item in Model)
                     {
                         <tr>
                           
                         </tr>
                     }
                 </tbody>
             </table>

         </div>
    </div>
</div>