@using NovatecEnergyWeb.Models.StoredProcedures;
@using Microsoft.AspNetCore.Http;

@model IEnumerable<_11_LoteAtivo>
@{ 
    Layout = "~/Views/Shared/_LayoutSideNavBar.cshtml";
    ViewData["Title"] = "Status de Clientes Com Tratamento Comercial";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side">
                <h4 class="text-center">Clientes de Lotes Ativos</h4>


                <table>
                    <tbody class="fontTableBodyNavBar">
                        <tr>
                            <td class="col-xs-9">Total Unidades (Potencial) </td>
                            <td id="e0" class="col-xs-2 text-right">@Model.Count()</td>
                            <td class="col-xs-1 text-right">100%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Unidades Visitadas</td>
                            <td id="e1" class="col-sm-2 text-right">@ViewBag.Visitados</td>
                            <td id="ep0" class="col-sm-2 text-right">@ViewBag.VisitadosPercent%</td>
                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-sm-8">Unidades Não Visitadas</td>
                            <td id="e2" class="col-sm-2 text-right">@ViewBag.NaoVisitados</td>
                            <td id="ep1" class="col-sm-2 text-right">@ViewBag.NaoVisitadosPercent%</td>
                        </tr>

                        <tr>
                            <td class="col-sm-8">Unidades Contratadas</td>
                            <td id="e3" class="col-sm-2 text-right">@ViewBag.Contratados</td>
                            <td id="ep2" class="col-sm-2 text-right">@ViewBag.ContratadosPercent%</td>
                        </tr>
                        <tr  class="espacoAbaixo">
                            <td class="col-sm-8">Unidades Não Contratadas</td>
                            <td id="e4" class="col-sm-2 text-right">@ViewBag.NaoContratados</td>
                            <td id="ep3" class="col-sm-2 text-right">@ViewBag.NaoContratadosPercent%</td>

                        </tr>

                        <tr >
                            <td class="col-sm-8">D2 Contratados</td>
                            <td id="e5" class="col-sm-2 text-right">0</td>
                            <td id="ep4" class="col-sm-2 text-right">0%</td>
                        </tr>
                        <tr >
                            <td class="col-sm-8">SVG Contratados</td>
                            <td id="e5" class="col-sm-2 text-right">0</td>
                            <td id="ep4" class="col-sm-2 text-right">0%</td>
                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-sm-8">SVE Contratados</td>
                            <td id="e5" class="col-sm-2 text-right">0</td>
                            <td id="ep4" class="col-sm-2 text-right">0%</td>
                        </tr>

                        <tr >
                            <td class="col-sm-8">Visita Agendadas</td>
                            <td id="e5" class="col-sm-2 text-right">@ViewBag.VisitaAgendada</td>
                            <td id="ep4" class="col-sm-2 text-right">@ViewBag.VisitaAgendadaPercent%</td>
                        </tr>

                        <tr>
                            <td class="col-sm-8">Visitas Realizadas</td>
                            <td id="e6" class="col-sm-2 text-right">@ViewBag.Visitas</td>
                            <td class="col-sm-2 text-right">100%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Entrevistas Realizadas</td>
                            <td id="e7" class="col-sm-2 text-right">@ViewBag.VisitasComResposta</td>
                            <td id="ep5" class="col-sm-2 text-right">@ViewBag.VisitasComRespostaPercent%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Visitas - Ausentes</td>
                            <td id="e8" class="col-sm-2 text-right">@ViewBag.Ausentes</td>
                            <td id="ep6" class="col-sm-2 text-right">@ViewBag.AusentesPercent%</td>
                        </tr>
                    </tbody>
                </table>

                <div class="buttonGroupNavBar">
                    <ul class="nav ">
                        <li id ="todosli" class="fontTableBodyNavBar">
                            <a href="#" onclick="$(this).data('clicked', true); postToController();" id="todos" >Clientes de Lotes - Todos</a>
                        </li>
                        <li id ="ativosli" class="disabled fontTableBodyNavBar">
                            <a href="#" id="ativos" onclick="$(this).data('clicked', true); postToController();" > Clientes de Lotes Ativos</a>
                        </li>
                     <!--    <li id ="semLoteTodosli" class="fontTableBodyNavBar">
                            !--href="/Adesao/EnderecosVisitasSemLote"-- 
                            <a href="#" onclick="$(this).data('clicked', true);  postToControllerSemLote();" id="semLoteTodos" >Clientes Sem Lote - Todos</a>
                        </li>
                        <li id ="semLoteNaoli" class="fontTableBodyNavBar ">
                            <a href="#" id="semLoteNao">Clientes Sem Lote - Não Contratados</a>
                        </li> 
                         -->
                    </ul>
                </div>


                <form class="form-horizontal" style="padding-left:15px;padding-right:15px;">
                    <div class="control-group">
                        <label class="control-label labelsFormNav">Cliente</label>
                        <div class="controls">
                            <select id="clientesCeg" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                <option value="12">CEG</option>
                                <option value="13">CEG RIO</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label labelsFormNav">Zona</label>
                        <div class="controls">
                            @{
                                int? zona = Context.Session.GetInt32("Zona");

                                if (zona != null)
                                {
                                    <select id="zonas" onchange="postToController();" disabled="disabled" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                        @for (int i = 0; i < ViewBag.Zonas.Count; i++)
                                        {
                                            if (zona == ViewBag.Zonas[i].Id)
                                            {
                                                ViewBag.ZonaSelecionada = i;
                                                <option value="@ViewBag.Zonas[i].Id">@ViewBag.Zonas[i].Zona</option>
                                            }
                                            else
                                            {
                                                <option value="@ViewBag.Zonas[i].Id">@ViewBag.Zonas[i].Zona</option>
                                            }
                                        }

                                    </select>
                                }
                                else
                                {
                                    <select id="zonas" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                        @foreach (var item in ViewBag.Zonas)
                                        {
                                            <option value="@item.Id">@item.Zona</option>
                                        }
                                    </select>
                                }
                            }
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Delegação</label>
                        <div class="controls">
                            @{
                                int? delegacao = Context.Session.GetInt32("Delegação");

                                if (delegacao != null)
                                {
                                    <select id="delegacoes" onchange="postToController();" disabled="disabled" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                        @for (int i = 0; i < ViewBag.Delegacao.Count; i++)
                                        {
                                            if (delegacao == ViewBag.Delegacao[i].Id)
                                            {
                                                ViewBag.DelegacaoSel = i;
                                            }
                                            <option value="@ViewBag.Delegacao[i].Id">@ViewBag.Delegacao[i].Delegacao</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select id="delegacoes" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                        @foreach (var item in ViewBag.Delegacao)
                                        {
                                            <option value="@item.Id">@item.Delegacao</option>
                                        }
                                    </select>
                                }
                            }
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Área</label>
                        <div class="controls">

                            @{
                                int? area = Context.Session.GetInt32("Área");
                                if (area != null)
                                {
                                    <select id="areas" onchange="postToController();" disabled="disabled" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:70px;">
                                        @for (int i = 0; i < ViewBag.Areas.Count; i++)
                                        {
                                            if (area == ViewBag.Areas[i].Id)
                                            {
                                                ViewBag.AreaSel = i;
                                            }
                                            <option value="@ViewBag.Areas[i].Id">@ViewBag.Areas[i].Area</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select id="areas" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:70px;">
                                        @foreach (var item in ViewBag.Areas)
                                        {
                                            <option value="@item.Id">@item.Area</option>
                                        }
                                    </select>

                                }
                            }

                        </div>
                    </div>


                     <div class="control-group">
                        <label class="control-label labelsFormNav">Lote</label>
                        <div class="controls">
                            <select id="lotes" name="LoteError" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:100px;">

                                @foreach (var item in ViewBag.Lotes)
                                {
                                    <option value="@item[0]">
                                        @item[1]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @item[2]
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @item[3]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item[4]
                                    </option>
                                }

                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Status Casa</label>
                        <div class="controls">
                            <select id="CasaStatus" name="CasaStatus" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                <option value="1">NÃO CONTRATADO</option>
                                <option value="2">VISITA AGENDADA</option>
                                <option value="3">CONTRATADO</option>
                            </select>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label labelsFormNav">Ult. Rejeição</label>
                        <div class="controls">
                            <select id="motivosRejeicao" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.MotivosRejeicao)
                                {
                                    <option value="@item.Id">@item.Motivo</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Data da Ult. Rejeição</label>
                        <div class="controls">
                            <input id="dtult" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text">
                        </div>
                    </div>

                   

                   

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Status Cond.</label>
                        <div class="controls">
                            <select id="statusCond" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.StatusCondominios)
                                {
                                    <option value="@item.Id">@item.Item</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Condomínio</label>
                        <div class="controls">
                            <select id="condominiosId" onclick="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.ListaCondominios)
                                {
                                    <option value="@item.Id">
                                        @item.Nome
                                        @item.Num
                                        @item.Complemento
                                        @item.Item
                                        @item.Z
                                        @item.D
                                    </option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Condomínio</label>
                        <div class="controls">
                            <input id="CondNome" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Localidade</label>
                        <div class="controls">
                            <input id="Localidade" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label  labelsFormNav">Bairro</label>
                        <div class="controls">
                            <input id="Bairro" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Logradouro</label>
                        <div class="controls">
                            <input id="Logradouro" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <label class="labelsFormNav">Número Entre</label>
                        <input id="Numero1" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:60px" type="text" />
                    </div>
                    <div class="col-xs-offset-3"></div>
                    <div class="col-xs-4">
                        <label class="labelsFormNav">E</label>
                        <input id="Numero2" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:60px" type="text" />
                    </div>


                    <br />
                    <br />
                    <br />

                    <div class="col-xs-4"><a href="#" onclick="limpaFiltro();"><img src="~/images/filter_delete.png" title="Limpar Filtro" width="25" height="25" /></a></div>
                    <div class="col-xs-8"><a href="#" onclick="postToController();"><img src="~/images/binoculars_128.png" title="Filtrar" width="35" height="35" /></a></div>
                    


                    <br />
                    <label class="fontTableBodyNavBar">Exportar Pijama Formato Novatec</label>
                    <a href="#" onclick="ExportaPadraoNovatec();">
                        <img src="~/images/ms_excel.png" width="30" height="30" />
                    </a>

                    <br />

                    <label class="fontTableBodyNavBar">Exportar Pijama Formato Gás Natural</label>

                    <a href="#" onclick="ExportaPadraoGas();">
                        <img src="~/images/excel.png" width="25" height="25" />
                    </a>
                    <br />

                </form>

            </nav>
        </div>
        <div class="col-sm-9 col-lg-10">
            <table id="tabelaEnderecoVisitas" class="table table-bordered table-striped tabelaModal">
                <thead id="headTabelaLote" >
                    <tr>
                        <th class="text-center">Casa</th>
                        <th class="text-center">Lote</th>
                        <th class="text-center">Z</th>
                        <th class="text-center">D</th>
                        <th class="text-center">AR</th>
                        <th class="text-center">PT</th>
                        <th class="text-center">Localidade</th>
                        <th class="text-center">Bairro</th>
                        <th class="text-center">Via</th>
                        <th class="text-center">Logradouro</th>
                        <th class="text-center">Num</th>
                        <th class="text-center">Comp</th>
                        <th class="text-center">Bloco</th>
                        <th class="text-center">Apt</th>
                        <th class="text-center">ULTMOTIVO</th>
                        <th class="text-center">AGULT</th>
                        <th class="text-center">DTULT</th>
                        <th class="text-center">STATUSCL</th>
                        <th class="text-center">DTSTATUSCL</th>
                        <th class="text-center">CASASTATUS</th>
                        <th class="text-center">Visitado</th>
                        <th class="text-center">Contratado</th>
                        <th class="text-center">VendaApp</th>
                        <th class="text-center">Visitas</th>
                        <th class="text-center">Entrevistas</th>
                        <th class="text-center">Ausentes</th>
                        <th class="text-center">Endinex</th>
                        <th class="text-center">D2</th>
                        <th class="text-center">SVG</th>
                        <th class="text-center">SVE</th>
                        <th class="text-center">Condomínio</th>
                        <th class="text-center">CASOA</th>
                        <th class="text-center">CASOB</th>
                        <th class="text-center">CASOC</th>
                        <th class="text-center">CASOD</th>
                        <th class="text-center">DTULT2</th>
                        <th class="text-center">HRULT</th>
                    </tr>
                </thead>
                <tbody id="corpoTabelaAtivos" class="corpoTabela">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td id="Casa_@item.Id" class="text-left">@item.Casa</td>
                            <td id="Lote_@item.Id">@item.Lote</td>
                            <td id="Z_@item.Id">@item.Z</td>
                            <td id="D_@item.Id">@item.D</td>
                            <td id="AR_@item.Id">@item.Ar</td>
                            <td id="PT_@item.Id">@item.Pt</td>
                            <td id="Localidade_@item.Id">@item.Localidade</td>
                            <td id="Bairro_@item.Id">@item.Bairro</td>
                            <td id="Via_@item.Id">@item.Via</td>
                            <td id="Logradouro_@item.Id" class="text-left" >@item.Logradouro</td>
                            <td id="Num_@item.Id">@item.Num</td>
                            <td id="Comp_@item.Id">@item.Complemento</td>
                            <td id="Bloco_@item.Id">@item.Bloco</td>
                            <td id="Apt_@item.Id">@item.Apt</td>
                            <td id="UltMotivo_@item.Id">@item.UltMotivo</td>
                            <td id="Agult_@item.Id">@item.Agult</td>
                            <td id="Dtult_@item.Id">@item.Dtult</td>
                            <td id="StatusCl_@item.Id">@item.StatusCl</td>
                            <td id="DtStatusCl_@item.Id">@item.DtStatusCl</td>
                            <td id="CasaStatus_@item.Id">@item.CasaStatus</td>
                            <td id="Visitado_@item.Id">@item.Visitado</td>
                            <td id="Contratado_@item.Id">@item.Contratado</td>
                            <td id="VendaApp_@item.Id">@item.VendaApp</td>
                            <td id="Visitas_@item.Id">@item.Visitas</td>
                            <td id="Entrevistas_@item.Id">@item.Entrevistas</td>
                            <td id="Ausentes_@item.Id">@item.Ausencias</td>
                            <td id="Endinex_@item.Id">@item.Endinex</td>
                            <td id="D2_@item.Id">@item.D2</td>
                            <td id="Svg_@item.Id">@item.Svg</td>
                            <td id="Sve_@item.Id">@item.Sve</td>
                            <td id="Condominio_@item.Id">@item.Condominio</td>
                            <td id="CasoA_@item.Id">@item.CasoA</td>
                            <td id="CasoB_@item.Id">@item.CasoB</td>
                            <td id="CasoC_@item.Id">@item.CasoC</td>
                            <td id="CasoD_@item.Id">@item.CasoD</td>
                            <td id="Dtult2_@item.Id">@item.Dtult2</td>
                            <td id="Hrult_@item.Id">@item.Hrult</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        var zs = @ViewBag.ZonaSelecionada;
        var ds = @ViewBag.DelegacaoSel;
        var as = @ViewBag.AreaSel;

        if (zs != null){
            $("#zonas").prop("selectedIndex", zs);
        }

        if (ds !=null){
            $("#delegacoes").prop("selectedIndex", ds);
        }

        if (as != null){
            $("#areas").prop("selectedIndex", as);
        }
    </script>
    }