@using NovatecEnergyWeb.Models.StoredProcedures;

@model IEnumerable<_11_LoteNao>
@{
    Layout = "~/Views/Shared/_LayoutSideNavBar.cshtml";
    ViewData["Title"] = "Status de Clientes Com Tratamento Comercial";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side">
                <!-- normal collapsible navbar markup -->
                <h4 class="text-center">Clientes Sem Lote - Todos</h4>
                

                <table>
                    <tbody class="fontTableBodyNavBar">
                        <tr>
                            <td class="col-sm-8">Total de Endereços </td>
                            <td id="e0" class="col-sm-2 text-right">@Model.Count()</td>
                            <td class="col-sm-2 text-right">100%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Endereços Visitados</td>
                            <td id="e1" class="col-sm-2 text-right">@ViewBag.Visitados</td>
                            <td id="ep0" class="col-sm-2 text-right">@ViewBag.VisitadosPercent%</td>
                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-sm-8">Endereços Não Visitados</td>
                            <td id="e2" class="col-sm-2 text-right">@ViewBag.NaoVisitados</td>
                            <td id="ep1" class="col-sm-2 text-right">@ViewBag.NaoVisitadosPercent%</td>
                        </tr>

                        <tr>
                            <td class="col-sm-8">Contratados</td>
                            <td id="e3" class="col-sm-2 text-right">@ViewBag.Contratados</td>
                            <td id="ep2" class="col-sm-2 text-right">@ViewBag.ContratadosPercent%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Não Contratados</td>
                            <td id="e4" class="col-sm-2 text-right">@ViewBag.NaoContratados</td>
                            <td id="ep3" class="col-sm-2 text-right">@ViewBag.NaoContratadosPercent%</td>

                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-sm-8">Visita Agendada</td>
                            <td id="e5" class="col-sm-2 text-right">@ViewBag.VisitaAgendada</td>
                            <td id="ep4" class="col-sm-2 text-right">@ViewBag.VisitaAgendadaPercent%</td>
                        </tr>

                        <tr>
                            <td class="col-sm-8">Visitas Realizadas</td>
                            <td id="e6" class="col-sm-2 text-right">@ViewBag.Visitas</td>
                            <td class="col-sm-2 text-right">100%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Visitas com Resposta</td>
                            <td id="e7" class="col-sm-2 text-right">@ViewBag.VisitasComResposta</td>
                            <td id="ep5" class="col-sm-2 text-right">@ViewBag.VisitasComRespostaPercent%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Visitas - Ausentes</td>
                            <td id="e8" class="col-sm-2 text-right">@ViewBag.Ausentes</td>
                            <td id="ep6" class="col-sm-2 text-right">@ViewBag.AusentesPercent%</td>
                        </tr>
                    </tbody>
                </table>

                <div class="buttonGroupNavBar">
                    <ul class="nav ">
                        <li id="todosli" class="fontTableBodyNavBar">
                            <a href="#" onclick="$(this).data('clicked', true); postToController();" id="todos" >Clientes de Lotes - Todos</a>
                        </li>
                        <li id="ativosli" class="fontTableBodyNavBar">
                            <a href="#" onclick="$(this).data('clicked', true); postToController();" id="ativos" > Clientes de Lotes Ativos</a>
                        </li>
                        <li id="semLoteTodosli" class="disabled fontTableBodyNavBar">
                            <a href="#" onclick="$(this).data('clicked', true);  postToControllerSemLote();" id="semLoteTodos">Clientes Sem Lote - Todos</a>
                        </li>
                        <li id="semLoteNaoli" class="fontTableBodyNavBar ">
                            <a href="/Adesao/EnderecosVisitasSemLoteNao" id="semLoteNao" >Clientes Sem Lote - Não Contratados</a>
                        </li>
                    </ul>
                </div>


                <form class="form-horizontal" style="padding-left:15px;padding-right:15px;">
                    <div class="control-group">
                        <label class="control-label labelsFormNav">Lote</label>
                        <div class="controls">
                            <select id="lotes" name="LoteError" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar disabled" style="width:100px;">

                                @foreach (var item in ViewBag.Lotes)
                                {
                                    <option value="@item[0]">
                                        @item[1]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @item[2]
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @item[3]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item[4]
                                    </option>
                                }

                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Status Casa</label>
                        <div class="controls">
                            <select id="CasaStatus" name="CasaStatus" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                <option value="1">NÃO CONTRATADO</option>
                                <option value="2">VISITA AGENDADA</option>
                                <option value="3">CONTRATADO</option>
                            </select>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label labelsFormNav">Ult. Rejeição</label>
                        <div class="controls">
                            <select id="motivosRejeicao" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.MotivosRejeicao)
                                {
                                    <option value="@item.Id">@item.Motivo</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Data da Ult. Rejeição</label>
                        <div class="controls">
                            <input id="dtult" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Cliente</label>
                        <div class="controls">
                            <select id="clientesCeg" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                <option value="12">CEG</option>
                                <option value="13">CEG RIO</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Zona</label>
                        <div class="controls">
                            <select id="zonas" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.Zonas)
                                {
                                    <option value="@item.Id">@item.Zona</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Delegação</label>
                        <div class="controls">
                            <select id="delegacoes" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.Delegacao)
                                {
                                    <option value="@item.Id">@item.Delegacao</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Área</label>
                        <div class="controls">
                            <select id="areas" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:70px;">
                                @foreach (var item in ViewBag.Areas)
                                {
                                    <option value="@item.Id">@item.Area</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Status Cond.</label>
                        <div class="controls">
                            <select id="statusCond" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.StatusCondominios)
                                {
                                    <option value="@item.Id">@item.Item</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Condomínio</label>
                        <div class="controls">
                            <select id="condominiosId" onclick="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.ListaCondominios)
                                {
                                    <option value="@item.Id">
                                        @item.Nome
                                        @item.Num
                                        @item.Complemento
                                        @item.Item
                                        @item.Z
                                        @item.D
                                    </option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Condomínio</label>
                        <div class="controls">
                            <input id="CondNome" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Localidade</label>
                        <div class="controls">
                            <input id="Localidade" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label  labelsFormNav">Bairro</label>
                        <div class="controls">
                            <input id="Bairro" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Logradouro</label>
                        <div class="controls">
                            <input id="Logradouro" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="labelsFormNav">Número Entre</label>
                        <input id="Numero1" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:60px" type="text" />
                        <label class="labelsFormNav">E</label>
                        <input id="Numero2" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:50px" type="text" />
                    </div>


                    <br />

                    <a href="#" onclick="limpaFiltro();"><img src="~/images/filter_delete.png" title="Limpar Filtro" width="25" height="25" /></a>
                    <a href="#" onclick="postToController();"><img src="~/images/binoculars_128.png" title="Filtrar" width="35" height="35" /></a>


                    <br />
                    <label class="fontTableBodyNavBar">Exportar Pijama Formato Novatec</label>
                    <a href="#" onclick="ExportaPadraoNovatec();">
                        <img src="~/images/ms_excel.png" width="30" height="30" />
                    </a>

                    <br />

                    <label class="fontTableBodyNavBar">Exportar Pijama Formato Gás Natural</label>

                    <a href="#" onclick="ExportaPadraoGas();">
                        <img src="~/images/excel.png" width="25" height="25" />
                    </a>
                    <br />

                </form>

            </nav>
        </div>
        <div class="col-sm-9 col-lg-10">
            <table id="tabelaEnderecoVisitas" class="table table-bordered table-striped tabelaModal">
                <thead>
                    <tr>
                        <th class="text-center">Casa</th>
                        <th class="text-center">Lote</th>
                        <th class="text-center">AR</th>
                        <th class="text-center">Localidade</th>
                        <th class="text-center">Bairro</th>
                        <th class="text-center">Endereço</th>
                        <th class="text-center">PT</th>
                        <th class="text-center">ULTMOTIVO</th>
                        <th class="text-center">AGULT</th>
                        <th class="text-center">DTULT</th>
                        <th class="text-center">HRULT</th>
                        <th class="text-center">CASASTATUS</th>
                        <th class="text-center">Zid</th>
                        <th class="text-center">Did</th>
                        <th class="text-center">Aid</th>
                        <th class="text-center">CondId</th>
                        <th class="text-center">PtId</th>
                        <th class="text-center">IdLote</th>
                        <th class="text-center">STATUSCLID</th>
                        <th class="text-center">CLID</th>
                                               
                    </tr>
                </thead>
                <tbody id="corpoTabelaAtivos" class="corpoTabela">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td id="Casa_@item.Casa" class="text-left">@item.Casa</td>
                            <td id="Lote_@item.Casa">@item.Lote</td>
                            <td id="Ar_@item.Casa">@item.Ar</td>
                            <td id="Localidade_@item.Casa">@item.Localidade</td>
                            <td id="Bairro_@item.Casa">@item.Bairro</td>
                            <td id="Endereco_@item.Casa">@item.Endereco</td>
                            <td id="Pt_@item.Casa">@item.Pt</td>
                            <td id="UltMotivo_@item.Casa">@item.UltMotivo</td>
                            <td id="Agult_@item.Casa">@item.Agult</td>
                            <td id="Dtult_@item.Casa">@item.Dtult</td>
                            <td id="Hrult_@item.Casa">@item.Hrult</td>
                            <td id="CasaStatus_@item.Casa">@item.CasaStatus</td>
                            <td id="Zid_@item.Casa">@item.Zid</td>
                            <td id="Did_@item.Casa">@item.Did</td>
                            <td id="Aid_@item.Casa">@item.Aid</td>
                            <td id="CondId_@item.Casa">@item.CondId</td>
                            <td id="PtId_@item.Casa">@item.PtId</td>
                            <td id="IdLote_@item.Casa">@item.IdLote</td>
                            <td id="StatusClid_@item.Casa">@item.StatusClid</td>
                            <td id="ClId_@item.Casa">@item.ClId</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">


    </script>
}