@using NovatecEnergyWeb.Models.StoredProcedures;

@model IEnumerable<_11_LoteAtivo>
@{ 
    Layout = "~/Views/Shared/_LayoutSideNavBar.cshtml";
    ViewData["Title"] = "Status de Clientes Com Tratamento Comercial";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side">
                <!-- normal collapsible navbar markup -->
                <h4 class="text-center">Clientes de Lotes Ativos</h4>
                
               
                <table>
                    <tbody class="fontTableBodyNavBar">
                        <tr>        
                            <td class="col-sm-8">Total de Endereços </td>
                            <td id="e0" class="col-sm-2 text-right">@Model.Count()</td>
                            <td  class="col-sm-2 text-right">100%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Endereços Visitados</td>
                            <td id ="e1" class="col-sm-2 text-right">@ViewBag.Visitados</td>
                            <td id ="ep0" class="col-sm-2 text-right">@ViewBag.VisitadosPercent%</td>
                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-sm-8">Endereços Não Visitados</td>
                            <td id ="e2"class="col-sm-2 text-right">@ViewBag.NaoVisitados</td>
                            <td id ="ep1" class="col-sm-2 text-right">@ViewBag.NaoVisitadosPercent%</td>
                        </tr>

                        <tr>
                            <td class="col-sm-8">Contratados</td>
                            <td id ="e3" class="col-sm-2 text-right">@ViewBag.Contratados</td>
                            <td id ="ep2" class="col-sm-2 text-right">@ViewBag.ContratadosPercent%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Não Contratados</td>
                            <td id ="e4" class="col-sm-2 text-right">@ViewBag.NaoContratados</td>
                            <td id ="ep3" class="col-sm-2 text-right">@ViewBag.NaoContratadosPercent%</td>

                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-sm-8">Visita Agendada</td>
                            <td id ="e5" class="col-sm-2 text-right">@ViewBag.VisitaAgendada</td>
                            <td id ="ep4" class="col-sm-2 text-right">@ViewBag.VisitaAgendadaPercent%</td>
                        </tr>
                        
                        <tr>
                            <td class="col-sm-8">Visitas Realizadas</td>
                            <td id ="e6" class="col-sm-2 text-right">@ViewBag.Visitas</td>
                            <td class="col-sm-2 text-right">100%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Visitas com Resposta</td>
                            <td id ="e7" class="col-sm-2 text-right">@ViewBag.VisitasComResposta</td>
                            <td id ="ep5" class="col-sm-2 text-right">@ViewBag.VisitasComRespostaPercent%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Visitas - Ausentes</td>
                            <td id ="e8"  class="col-sm-2 text-right">@ViewBag.Ausentes</td>
                            <td id ="ep6" class="col-sm-2 text-right">@ViewBag.AusentesPercent%</td>
                        </tr>
                    </tbody>
                </table>

                <div class="buttonGroupNavBar">
                    <ul class="nav ">
                        <li class="fontTableBodyNavBar">
                            <a href="#" >Clientes de Lotes - Todos</a>
                        </li>
                        <li class="disabled fontTableBodyNavBar a-desableColor" >
                            <a  href="#"> Clientes de Lotes Ativos</a>
                        </li>
                        <li class="fontTableBodyNavBar">
                            <a href="#" >Clientes Sem Lote - Todos</a>
                        </li>
                        <li class="fontTableBodyNavBar ">
                            <a href="#">Clientes Sem Lote - Não Contratados</a>
                        </li>
                    </ul>
                </div>

                
                    <form class="form-horizontal">
                            <label class="labelsFormNav">Lote</label>                    
                            <select id="lotes" name="LoteError"  onchange="postToController();" class="fontTableBodyNavBar selectsNav">
                                   
                                @foreach (var item in ViewBag.Lotes)
                                {
                                <option value="@item[0]">@item[1]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                              
                                @item[2]
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @item[3]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item[4]</option>
                                }

                            </select>
                                @Html.ValidationMessage("LoteError", new { @class = "text-danger" })    
                            <br />
                        
                            <label class="labelsFormNav" >Status Casa</label>
                            <select id="CasaStatus" name="CasaStatus" onchange="postToController();" class="fontTableBodyNavBar selectsNav">
                                <option value="1">NÃO CONTRATADO</option>
                                <option value="2">VISITA AGENDADA</option>
                                <option value="3">CONTRATADO</option>
                            </select>
                            <br />
                  
                            <label class="labelsFormNav">Ult. Rejeição</label>                                             
                            <select id="motivosRejeicao" onchange="postToController();" class="fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.MotivosRejeicao)
                                {
                                    <option value="@item.Id">@item.Motivo</option>
                                }
                            </select>
                            <br />
                
                            <label class="labelsFormNav">Data da Ult. Rejeição</label>
                            <input id="dtult" class="fontTableBodyNavBar" type="text" >
                            <br />

                            <label class="labelsFormNav">Cliente</label>
                            <select id="clientesCeg" onchange="postToController();" class="fontTableBodyNavBar selectsNav">
                                <option value="12">CEG</option>
                                <option value="13">CEG RIO</option>
                            </select>
                            <br />
                            <label class="labelsFormNav">Zona</label>
                            <select id="zonas" onchange="postToController();" class="fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.Zonas)
                                {
                                    <option value="@item.Id">@item.Zona</option>
                                }
                            </select>
                            <br />

                            <label class="labelsFormNav">Delegação</label>
                            <select id="delegacoes" onchange="postToController();" class="fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.Delegacao)
                                {
                                    <option value="@item.Id">@item.Delegacao</option>
                                }
                            </select>
                            <br />
                            <label class="labelsFormNav">Área</label>
                            <select id="areas" onchange="postToController();" class="fontTableBodyNavBar" style="width:50px;">
                                @foreach (var item in ViewBag.Areas)
                                {
                                    <option value="@item.Id">@item.Area</option>
                                }
                            </select>
                            <br />
                            <label class="labelsFormNav">Status Cond.</label>
                            <select id="statusCond" onchange="postToController();" class="fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.StatusCondominios)
                                {
                                    <option value="@item.Id">@item.Item</option>
                                }
                            </select>
                            <br />
                            <label class="labelsFormNav">Condomínio</label>
                            <select id="condominiosId" onclick="postToController();" class="fontTableBodyNavBar selectsNav"  >
                                @foreach (var item in ViewBag.ListaCondominios)
                                {
                                    <option value="@item.Id">@item.Nome
                                @item.Num 
                                @item.Complemento 
                                @item.Item 
                                @item.Z 
                                @item.D</option>
                                }
                            </select>
                            <br />
                        
                       <label class="labelsFormNav">Condomínio</label>
                       <input id="CondNome" class="fontTableBodyNavBar" type="text" />
                       <br />
                            
                        <label class="labelsFormNav">Localidade</label>
                            <input id="Localidade" class="fontTableBodyNavBar" type="text" />
                            <br />
                       
                        <label class="labelsFormNav">Bairro</label>
                            <input id="Bairro" class="fontTableBodyNavBar" type="text" />
                            <br />
                        
                        <label class="labelsFormNav">Logradouro</label>
                            <input id="Logradouro" class="fontTableBodyNavBar" type="text" />
                            <br />
                       
                        <label class="labelsFormNav">Número</label>
                        <label class="labelsFormNav">Entre</label>
                        <input id="Numero1" class="fontTableBodyNavBar" style="width:60px" type="text" />
                       
                       <label class="labelsFormNav">E</label>
                       <input id="Numero2" class="fontTableBodyNavBar" style="width:50px" type="text" />
                            
                        <br />
                        
                        <a href="#" onclick="limpaFiltro();"><img src="~/images/filter_delete.png" title="Limpar Filtro" width="25" height="25" /></a>
                        <a href="#" onclick="postToController();"><img src="~/images/binoculars_128.png" title="Filtrar" width="35" height="35" /></a>
                        

                         <br />
                        <label class="fontTableBodyNavBar">Exportar Pijama Formato Novatec</label>
                        <a  href="#" onclick="ExportaPadraoNovatec();" >
                            <img src="~/images/ms_excel.png" width="30" height="30" />
                        </a>

                            <br />
                       
                            <label class="fontTableBodyNavBar">Exportar Pijama Formato Gás Natural</label>
                        
                        <a href="#" onclick="ExportaPadraoGas();">
                            <img src="~/images/excel.png" width="25" height="25" />
                        </a>
                            <br />

</form>
               
        </nav>
        </div>
        <div class="col-sm-9 col-lg-10">
            <table id="tabelaEnderecoVisitas" class="table table-bordered table-striped tabelaModal">
                <thead>
                    <tr>
                        <th class="text-center">Casa</th>
                        <th class="text-center">Lote</th>
                        <th class="text-center">Z</th>
                        <th class="text-center">D</th>
                        <th class="text-center">AR</th>
                        <th class="text-center">PT</th>
                        <th class="text-center">Localidade</th>
                        <th class="text-center">Bairro</th>
                        <th class="text-center">Via</th>
                        <th class="text-center">Logradouro</th>
                        <th class="text-center">Num</th>
                        <th class="text-center">Comp</th>
                        <th class="text-center">Bloco</th>
                        <th class="text-center">Apt</th>
                        <th class="text-center">ULTMOTIVO</th>
                        <th class="text-center">AGULT</th>
                        <th class="text-center">DTULT</th>
                        <th class="text-center">STATUSCL</th>
                        <th class="text-center">DTSTATUSCL</th>
                        <th class="text-center">CASASTATUS</th>
                        <th class="text-center">Visitado</th>
                        <th class="text-center">Visitas</th>
                        <th class="text-center">Ausentes</th>
                        <th class="text-center">VendaApp</th>
                        <th class="text-center">Condomínio</th>
                        <th class="text-center">CASOA</th>
                        <th class="text-center">CASOB</th>
                        <th class="text-center">CASOC</th>
                        <th class="text-center">CASOD</th>
                        <th class="text-center">DTULT2</th>
                        <th class="text-center">HRULT</th>
                    </tr>
                </thead>
                <tbody id="corpoTabelaAtivos" class="corpoTabela">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td id="Casa_@item.Id" class="text-left">@item.Casa</td>
                            <td id="Lote_@item.Id">@item.Lote</td>
                            <td id="Z_@item.Id">@item.Z</td>
                            <td id="D_@item.Id">@item.D</td>
                            <td id="AR_@item.Id">@item.Ar</td>
                            <td id="PT_@item.Id">@item.Pt</td>
                            <td id="Localidade_@item.Id">@item.Localidade</td>
                            <td id="Bairro_@item.Id">@item.Bairro</td>
                            <td id="Via_@item.Id">@item.Via</td>
                            <td id="Logradouro_@item.Id" class="text-left" >@item.Logradouro</td>
                            <td id="Num_@item.Id">@item.Num</td>
                            <td id="Comp_@item.Id">@item.Complemento</td>
                            <td id="Bloco_@item.Id">@item.Bloco</td>
                            <td id="Apt_@item.Id">@item.Apt</td>
                            <td id="UltMotivo_@item.Id">@item.UltMotivo</td>
                            <td id="Agult_@item.Id">@item.Agult</td>
                            <td id="Dtult_@item.Id">@item.Dtult</td>
                            <td id="StatusCl_@item.Id">@item.StatusCl</td>
                            <td id="DtStatusCl_@item.Id">@item.DtStatusCl</td>
                            <td id="CasaStatus_@item.Id">@item.CasaStatus</td>
                            <td id="Visitado_@item.Id">@item.Visitado</td>
                            <td id="Visitas_@item.Id">@item.Visitas</td>
                            <td id="Ausentes_@item.Id">@item.Ausentes</td>
                            <td id="VendaApp_@item.Id">@item.VendaApp</td>
                            <td id="Condominio_@item.Id">@item.Condominio</td>
                            <td id="CasoA_@item.Id">@item.CasoA</td>
                            <td id="CasoB_@item.Id">@item.CasoB</td>
                            <td id="CasoC_@item.Id">@item.CasoC</td>
                            <td id="CasoD_@item.Id">@item.CasoD</td>
                            <td id="Dtult2_@item.Id">@item.Dtult2</td>
                            <td id="Hrult_@item.Id">@item.Hrult</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">

        $("#lotes").prop("selectedIndex", -1);
        $("#CasaStatus").prop("selectedIndex", -1);
        $("#motivosRejeicao").prop("selectedIndex", -1);
        $("#clientesCeg").prop("selectedIndex", -1);
        $("#zonas").prop("selectedIndex", -1);
        $("#delegacoes").prop("selectedIndex", -1);
        $("#areas").prop("selectedIndex", -1);
        $("#statusCond").prop("selectedIndex", -1);
        $("#condominiosId").prop("selectedIndex", -1);

        $('#dtult').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            language: "pt-BR",
            orientation: "bottom left"
        });


        function getFormDataAsJson() {
            return {
                IdLote: $('#lotes').val(),
                CasaStatus: $('#CasaStatus').val(),
                IdultMotivo: $('#motivosRejeicao').val(),
                Dtult: $('#dtult').val(),
                ClId: $('#clientesCeg').val(),
                ZId: $('#zonas').val(),
                DId: $('#delegacoes').val(),
                AId: $('#areas').val(),
                StatusId: $('#statusCond').val(),
                CondId: $('#condominiosId').val(),
                CondNome: $('#CondNome').val().toString().trim(),
                Localidade: $('#Localidade').val().toString().trim(),
                Bairro: $('#Bairro').val().toString().trim(),
                Logradouro: $('#Logradouro').val().toString().trim(),
                Numero1: $('#Numero1').val(),
                Numero2: $('#Numero2').val()
            }
        }

        function postToController() {
            var data = getFormDataAsJson();
            //, 'application/json; charset=utf-8'
            $.post('/Adesao/GetListLoteAtivoView', data, atualizaView);
        }

        function tabelaLoteAtivos(retorno) {
            $('#corpoTabelaAtivos tr').remove();

            var tr;

            for (var i = 0; i < retorno.EV.length; i++) {
                tr = $('<tr/>');

                tr.append("<td>" + retorno.EV[i].casa + "</td>");
                tr.append("<td>" +retorno.EV[i].lote+ "</td>");
                tr.append("<td>" +retorno.EV[i].z+ "</td>");
                tr.append("<td>" +retorno.EV[i].d+ "</td>");
                tr.append("<td>" +retorno.EV[i].ar+ "</td>");
                tr.append("<td>" +retorno.EV[i].pt+ "</td>");
                tr.append("<td>" +retorno.EV[i].localidade+ "</td>");
                tr.append("<td>" +retorno.EV[i].bairro+ "</td>");
                tr.append("<td>" +retorno.EV[i].via+ "</td>");
                tr.append("<td>" + retorno.EV[i].logradouro + "</td>");
                tr.append("<td>" + retorno.EV[i].num + "</td>");
                tr.append("<td>" + retorno.EV[i].complemento + "</td>");
                tr.append("<td>" + retorno.EV[i].bloco + "</td>");
                tr.append("<td>" + retorno.EV[i].apt + "</td>");
                tr.append("<td>" + retorno.EV[i].ultMotivo + "</td>");
                tr.append("<td>" + retorno.EV[i].agult + "</td>");
                tr.append("<td>" + retorno.EV[i].dtult + "</td>");
                tr.append("<td>" + retorno.EV[i].statusCl + "</td>");
                tr.append("<td>" + retorno.EV[i].dtStatusCl + "</td>");
                tr.append("<td>" + retorno.EV[i].casaStatus + "</td>");
                tr.append("<td>" + retorno.EV[i].visitado + "</td>");
                tr.append("<td>" + retorno.EV[i].visitas + "</td>");
                tr.append("<td>" + retorno.EV[i].ausentes + "</td>");
                tr.append("<td>" + retorno.EV[i].vendaApp + "</td>");
                tr.append("<td>" + retorno.EV[i].condominio + "</td>");
                tr.append("<td>" + retorno.EV[i].casoA + "</td>");
                tr.append("<td>" + retorno.EV[i].casoB + "</td>");
                tr.append("<td>" + retorno.EV[i].casoC + "</td>");
                tr.append("<td>" + retorno.EV[i].casoD + "</td>");
                tr.append("<td>" + retorno.EV[i].dtult2 + "</td>");
                tr.append("<td>" + retorno.EV[i].hrult + "</td>");
                $('#corpoTabelaAtivos').append(tr);
            }

        };

        function tabelaEstatisticas(retorno) {
            for (var i = 0; i < retorno.Numeracoes.length; i++) {
                $('#e' + i).html(retorno.Numeracoes[i]);
            }

            for (var i = 0; i < retorno.Porcentagens.length; i++) {
                $('#ep' + i).html(retorno.Porcentagens[i]+'%');
            }

        }

        function atualizaView(retorno) {
            tabelaEstatisticas(retorno)
            tabelaLoteAtivos(retorno);
        };

        function limpaFiltro() {
            $('#lotes').val("");
            $('#CasaStatus').val("");
            $('#motivosRejeicao').val("");
            $('#dtult').val("");
            $('#clientesCeg').val("");
            $('#zonas').val("");
            $('#delegacoes').val("");
            $('#areas').val("");
            $('#statusCond').val("");
            $('#condominiosId').val("");
            $('#CondNome').val("");
            $('#Localidade').val("");
            $('#Bairro').val("");
            $('#Logradouro').val("");
            $('#Numero1').val("");
            $('#Numero2').val("");

            $.post('/Adesao/LimpaFiltros', null, atualizaView);
        }

        function ExportaPadraoNovatec() {
            var data = getFormDataAsJson();
        //   $.get('/Adesao/ExportaExcel', data, DownloadExcel); //loteAtivo=' + JSON.stringify(data)
            //  window.location = '/Adesao/ExportaExcel?loteAtivo=' + JSON.stringify(data);

            window.location.href = '/Adesao/ExportaExcel?loteAtivo=' + JSON.stringify(data);


        }

        function ExportaPadraoGas() {

            var data = getFormDataAsJson();
            //   $.get('/Adesao/ExportaExcel', data, DownloadExcel); //loteAtivo=' + JSON.stringify(data)
            //  window.location = '/Adesao/ExportaExcel?loteAtivo=' + JSON.stringify(data);
            var lc = $('#lotes').val();

            if (lc != null) {
                window.location.href = '/Adesao/ExportaPadraoGasNatural?loteAtivo=' + JSON.stringify(data);
            } else {
                alert('Selecione um lote');
            }

           //
        }

    </script>
    }