@using NovatecEnergyWeb.Models.StoredProcedures;

@model IEnumerable<_11_LoteAtivo>
@{ 
    Layout = "~/Views/Shared/_LayoutSideNavBar.cshtml";
    ViewData["Title"] = "Status de Clientes Com Tratamento Comercial";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side">
                <!-- normal collapsible navbar markup -->
                <h4 class="text-center">Clientes de Lotes Ativos</h4>
                
               
                <table>
                    <tbody class="fontTableBodyNavBar">
                        <tr>        
                            <td class="col-sm-8">Total de Endereços </td>
                            <td class="col-sm-2 text-right">@Model.Count()</td>
                            <td class="col-sm-2 text-right">100%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Endereços Visitados</td>
                            <td class="col-sm-2 text-right">@ViewBag.Visitados</td>
                            <td class="col-sm-2 text-right">@ViewBag.VisitadosPercent%</td>
                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-sm-8">Endereços Não Visitados</td>
                            <td class="col-sm-2 text-right">@ViewBag.NaoVisitados</td>
                            <td class="col-sm-2 text-right">@ViewBag.NaoVisitadosPercent%</td>
                        </tr>

                        <tr>
                            <td class="col-sm-8">Contratados</td>
                            <td class="col-sm-2 text-right">@ViewBag.Contratados</td>
                            <td class="col-sm-2 text-right">@ViewBag.ContratadosPercent%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Não Contratados</td>
                            <td class="col-sm-2 text-right">@ViewBag.NaoContratados</td>
                            <td class="col-sm-2 text-right">@ViewBag.NaoContratadosPercent%</td>

                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-sm-8">Visita Agendada</td>
                            <td class="col-sm-2 text-right">@ViewBag.VisitaAgendada</td>
                            <td class="col-sm-2 text-right">@ViewBag.VisitaAgendadaPercent%</td>
                        </tr>
                        
                        <tr>
                            <td class="col-sm-8">Visitas Realizadas</td>
                            <td class="col-sm-2 text-right">@ViewBag.Visitas</td>
                            <td class="col-sm-2 text-right">100%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Visitas com Resposta</td>
                            <td class="col-sm-2 text-right">@ViewBag.VisitasComResposta</td>
                            <td class="col-sm-2 text-right">@ViewBag.VisitasComRespostaPercent%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Visitas - Ausentes</td>
                            <td class="col-sm-2 text-right">@ViewBag.Ausentes</td>
                            <td class="col-sm-2 text-right">@ViewBag.AusentesPercent%</td>
                        </tr>
                    </tbody>
                </table>

                <div class="buttonGroupNavBar">
                    <ul class="nav ">
                        <li class="fontTableBodyNavBar">
                            <a href="#" >Clientes de Lotes - Todos</a>
                        </li>
                        <li class="disabled fontTableBodyNavBar a-desableColor" >
                            <a  href="#"> Clientes de Lotes Ativos</a>
                        </li>
                        <li class="fontTableBodyNavBar">
                            <a href="#" >Clientes Sem Lote - Todos</a>
                        </li>
                        <li class="fontTableBodyNavBar ">
                            <a href="#">Clientes Sem Lote - Não Contratados</a>
                        </li>
                    </ul>
                </div>
              <label class="fontTableBodyNavBar">Lote</label>
               <select id="lotes" class="fontTableBodyNavBar">
                       <option value="">Terminar depois...</option>
               </select>
                <br />
               <label class="fontTableBodyNavBar" >Status Casa</label>
               <select id="statusCasa" class="fontTableBodyNavBar" >
                   <option value="1">NÃO CONTRATADO</option>
                   <option value="2">VISITA AGENDADA</option>
                   <option value="3">CONTRATADO</option>
               </select>
                
                <label class="fontTableBodyNavBar">Ult. Rejeição</label>
                <select id="motivosRejeicao" class="fontTableBodyNavBar" style="width:160px">
                    @foreach (var item in ViewBag.MotivosRejeicao)
                    {
                        <option value="@item.Id">@item.Motivo</option>
                    }
                </select>
                <br />
                <label class="fontTableBodyNavBar">Data da Ult. Rejeição</label>
                <div id="sandbox-container">
                    <input class="fontTableBodyNavBar" type="text"/>
                </div>
                <br />
                <label class="fontTableBodyNavBar">Cliente</label>
                <select id="clientesCeg" class="fontTableBodyNavBar">
                    <option value="12">CEG</option>
                    <option value="13">CEG RIO</option>
                </select>
                <br />
                <label class="fontTableBodyNavBar">Zona</label>
                <select id="zonas" class="fontTableBodyNavBar">
                    @foreach (var item in ViewBag.Zonas)
                    {
                        <option value="@item.Id">@item.Zona</option>
                    }
                </select>
                <br />

                <label class="fontTableBodyNavBar">Delegação</label>
                <select id="delegacoes" class="fontTableBodyNavBar" style="width:150px;">
                    @foreach (var item in ViewBag.Delegacao)
                    {
                        <option value="@item.Id">@item.Delegacao</option>
                    }
                </select>
                <br />
                <label class="fontTableBodyNavBar">Área</label>
                <select id="areas" class="fontTableBodyNavBar" >
                    @foreach (var item in ViewBag.Areas)
                    {
                        <option value="@item.Id">@item.Area</option>
                    }
                </select>
                <br />
                <label class="fontTableBodyNavBar">Status Cond.</label>
                <select id="statusCond" class="fontTableBodyNavBar">
                    @foreach (var item in ViewBag.StatusCondominios)
                    {
                        <option value="@item.Id">@item.Item</option>
                    }
                </select>
                <br />
                <label class="fontTableBodyNavBar">Condomínio</label>
                <select class="fontTableBodyNavBar">
                    <option value="">Terminar depois..</option>
                </select>
                <br />
                <label class="fontTableBodyNavBar">Condomínio</label>
                <input class="fontTableBodyNavBar" type="text" />
                <br />
                <label class="fontTableBodyNavBar">Localidade</label>
                <input class="fontTableBodyNavBar" type="text" />
                <br />
                <label class="fontTableBodyNavBar">Bairro</label>
                <input class="fontTableBodyNavBar" type="text" />
                <br />
                <label class="fontTableBodyNavBar">Logradouro</label>
                <input class="fontTableBodyNavBar" type="text" />
                <br />
                <label class="fontTableBodyNavBar" >Número</label>
                <label class="fontTableBodyNavBar">Entre</label>
                <input class="fontTableBodyNavBar" style="width:60px" type="text" /> 
                <label class="fontTableBodyNavBar">E</label>
                <input class="fontTableBodyNavBar" style="width:50px" type="text" /> 
                <br />
                <img src="~/images/filter_delete.png" title="Limpar Filtro" width="25" height="25"/>
                <img src="~/images/binoculars_128.png" title="Filtrar" width="35" height="35" />
                <br />
                <label class="fontTableBodyNavBar">Exportar Pijama Formato Novatec</label>
                <img src="~/images/ms_excel.png" width="30" height="30" />
                <br />
                <label class="fontTableBodyNavBar">Exportar Pijama Formato Gás Natural</label>
                <img src="~/images/excel.png" width="25" height="25" />
                <br />
        </nav>
        </div>
        <div class="col-sm-9 col-lg-10">
            <table style="white-space:nowrap;" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Casa</th>
                        <th class="text-center">Lote</th>
                        <th class="text-center">Z</th>
                        <th class="text-center">D</th>
                        <th class="text-center">AR</th>
                        <th class="text-center">PT</th>
                        <th class="text-center">Localidade</th>
                        <th class="text-center">Bairro</th>
                        <th class="text-center">Via</th>
                        <th class="text-center">Logradouro</th>
                        <th class="text-center">Num</th>
                        <th class="text-center">Comp</th>
                        <th class="text-center">Bloco</th>
                        <th class="text-center">Apt</th>
                        <th class="text-center">ULTMOTIVO</th>
                        <th class="text-center">AGULT</th>
                        <th class="text-center">DTULT</th>
                        <th class="text-center">STATUSCL</th>
                        <th class="text-center">DTSTATUSCL</th>
                        <th class="text-center">CASASTATUS</th>
                        <th class="text-center">Visitado</th>
                        <th class="text-center">Visitas</th>
                        <th class="text-center">Ausentes</th>
                        <th class="text-center">VendaApp</th>
                        <th class="text-center">Condomínio</th>
                        <th class="text-center">CASOA</th>
                        <th class="text-center">CASOB</th>
                        <th class="text-center">CASOC</th>
                        <th class="text-center">CASOD</th>
                        <th class="text-center">DTULT2</th>
                        <th class="text-center">HRULT</th>
                    </tr>
                </thead>
                <tbody class="fontTableBodyTelasNav">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td id="Casa_@item.Casa" class="text-left">@item.Casa</td>
                            <td id="Lote_@item.Lote">@item.Lote</td>
                            <td id="Z_@item.Z">@item.Z</td>
                            <td id="D_@item.D">@item.D</td>
                            <td id="AR_@item.Ar">@item.Ar</td>
                            <td id="PT_@item.Pt">@item.Pt</td>
                            <td id="Localidade_@item.Localidade">@item.Localidade</td>
                            <td id="Bairro_@item.Bairro">@item.Bairro</td>
                            <td id="Via_@item.Via">@item.Via</td>
                            <td id="Logradouro_@item.Logradouro" class="text-left" >@item.Logradouro</td>
                            <td id="Num_@item.Num">@item.Num</td>
                            <td id="Comp_@item.Complemento">@item.Complemento</td>
                            <td id="Bloco_@item.Bloco">@item.Bloco</td>
                            <td id="Apt_@item.Apt">@item.Apt</td>
                            <td id="UltMotivo_@item.UltMotivo">@item.UltMotivo</td>
                            <td id="Agult_@item.Agult">@item.Agult</td>
                            <td id="Dtult_@item.Dtult">@item.Dtult</td>
                            <td id="StatusCl_@item.StatusCl">@item.StatusCl</td>
                            <td id="DtStatusCl_@item.DtStatusCl">@item.DtStatusCl</td>
                            <td id="CasaStatus_@item.CasaStatus">@item.CasaStatus</td>
                            <td id="Visitado_@item.Visitado">@item.Visitado</td>
                            <td id="Visitas_@item.Visitas">@item.Visitas</td>
                            <td id="Ausentes_@item.Ausentes">@item.Ausentes</td>
                            <td id="VendaApp_@item.VendaApp">@item.VendaApp</td>
                            <td id="Condominio_@item.Condominio">@item.Condominio</td>
                            <td id="CasoA_@item.CasoA">@item.CasoA</td>
                            <td id="CasoB_@item.CasoB">@item.CasoB</td>
                            <td id="CasoC_@item.CasoC">@item.CasoC</td>
                            <td id="CasoD_@item.CasoD">@item.CasoD</td>
                            <td id="Dtult2_@item.Dtult2">@item.Dtult2</td>
                            <td id="Hrult_@item.Hrult">@item.Hrult</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

    $("#lotes").prop("selectedIndex", -1);
    $("#statusCasa").prop("selectedIndex", -1);
    $("#motivosRejeicao").prop("selectedIndex", -1);
    $("#clientesCeg").prop("selectedIndex", -1);
    $("#zonas").prop("selectedIndex", -1);
    $("#delegacoes").prop("selectedIndex", -1);
    $("#areas").prop("selectedIndex", -1);
    $("#statusCond").prop("selectedIndex", -1);
    
    $('#sandbox-container input').datepicker({
        format: "dd/mm/yyyy",
        todayBtn: true,
        language: "pt-BR",
        orientation: "bottom left"
    });
</script>