@using NovatecEnergyWeb.Models.StoredProcedures;
@using Microsoft.AspNetCore.Http;
@using NovatecEnergyWeb.Core;
@model IEnumerable<_11_LoteAtivo>
@{ 
    Layout = "~/Views/Shared/_LayoutSideNavBar.cshtml";
    ViewData["Title"] = "Status de Clientes Com Tratamento Comercial";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side">
                <h4 id="titulo" class="text-center">Clientes de Lotes Ativos</h4>

                <table>
                    <tbody class="fontTableBodyNavBar">
                        <tr>
                            <td class="col-xs-9" style="padding-right:0px; ">Total Unidades (Potencial) </td>
                            <td id="e0" class="col-xs-2 text-right">@Model.Count()</td>
                            <td class="col-xs-1 text-right"></td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Unidades Visitadas</td>
                            <td id="e1" class="col-sm-2 text-right">@ViewBag.Visitados</td>
                            <td id="ep0" class="col-sm-2 text-right">@ViewBag.VisitadosPercent%</td>
                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-xs-8"style="padding-right:0px;">Unidades Não Visitadas</td>
                            <td id="e2" class="col-xs-2 text-right">@ViewBag.NaoVisitados</td>
                            <td id="ep1" class="col-xs-2 text-right">@ViewBag.NaoVisitadosPercent%</td>
                        </tr>


                        <tr class="espacoAbaixo">
                            <td class="col-sm-8">Unidades Agendadas</td>
                            <td id="e3" class="col-sm-2 text-right">@ViewBag.VisitaAgendada</td>
                            <td id="ep2" class="col-sm-2 text-right">@ViewBag.VisitaAgendadaPercent%</td>
                        </tr>

                        <tr>
                            <td class="col-sm-8">Unidades Contratadas</td>
                            <td id="e4" class="col-sm-2 text-right">@ViewBag.Contratados</td>
                            <td id="ep3" class="col-sm-2 text-right">@ViewBag.ContratadosPercent%</td>
                        </tr>
                        <tr  class="espacoAbaixo">
                            <td class="col-sm-8" style="padding-right:0px;">Unidades Não Contratadas</td>
                            <td id="e5" class="col-sm-2 text-right">@ViewBag.NaoContratados</td>
                            <td id="ep4" class="col-sm-2 text-right">@ViewBag.NaoContratadosPercent%</td>

                        </tr>

                        <tr >
                            <td class="col-sm-8">D2 Contratados</td>
                            <td id="e6" class="col-sm-2 text-right">@ViewBag.D2</td>
                            <td id="ep5" class="col-sm-2 text-right">@ViewBag.D2Percent%</td>
                        </tr>
                        <tr >
                            <td class="col-sm-8">SVG Contratados</td>
                            <td id="e7" class="col-sm-2 text-right">@ViewBag.Svg</td>
                            <td id="ep6" class="col-sm-2 text-right">@ViewBag.SvgPercent%</td>
                        </tr>
                        <tr class="espacoAbaixo">
                            <td class="col-sm-8">SVE Contratados</td>
                            <td id="e8" class="col-sm-2 text-right">@ViewBag.Sve</td>
                            <td id="ep7" class="col-sm-2 text-right">@ViewBag.SvePercent%</td>
                        </tr>

                       <tr class="espacoAbaixo">
                           <td class="col-xs-8"style="padding-right:0px;">Visitas Agendadas</td>
                           <td id="e9" class="col-sm-2 text-right">@ViewBag.NovaVisitaAgendada</td>
                           <td class="col-sm-2 text-right"></td>
                       </tr>

                        <tr>
                            <td class="col-sm-8">Visitas Realizadas</td>
                            <td id="e10" class="col-sm-2 text-right">@ViewBag.Visitas</td>
                            <td class="col-sm-2 text-right"></td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Entrevistas Realizadas</td>
                            <td id="e11" class="col-sm-2 text-right">@ViewBag.VisitasComResposta</td>
                            <td id="ep8" class="col-sm-2 text-right">@ViewBag.VisitasComRespostaPercent%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Visitas - Ausentes</td>
                            <td id="e12" class="col-sm-2 text-right">@ViewBag.Ausentes</td>
                            <td id="ep9" class="col-sm-2 text-right">@ViewBag.AusentesPercent%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-8">Visitas - Endereços Inex.</td>
                            <td id="e13" class="col-sm-2 text-right">@ViewBag.Endinex</td>
                            <td id="ep10"class="col-sm-2 text-right">0%</td>
                        </tr>


                    </tbody>
                </table>

                <div class="buttonGroupNavBar">
                    <ul class="nav ">
                        <li id ="todosli" class="fontTableBodyNavBar">
                            <a href="#" onclick="$(this).data('clicked', true); $('#titulo').html('Clientes de Lotes - Todos'); postToController();" id="todos" >Clientes de Lotes - Todos</a>
                        </li>
                        <li id ="ativosli" class="disabled fontTableBodyNavBar">
                            <a href="#" id="ativos" onclick="$(this).data('clicked', true); $('#titulo').html('Clientes de Lotes Ativos'); postToController();" > Clientes de Lotes Ativos</a>
                        </li>
                     <!--    <li id ="semLoteTodosli" class="fontTableBodyNavBar">
                            !--href="/Adesao/EnderecosVisitasSemLote"-- 
                            <a href="#" onclick="$(this).data('clicked', true);  postToControllerSemLote();" id="semLoteTodos" >Clientes Sem Lote - Todos</a>
                        </li>
                        <li id ="semLoteNaoli" class="fontTableBodyNavBar ">
                            <a href="#" id="semLoteNao">Clientes Sem Lote - Não Contratados</a>
                        </li> 
                         -->
                    </ul>
                </div>

               
                <form class="form-horizontal" style="padding-left:15px;padding-right:15px;">
                   <!-- <div class="control-group">
                        <label class="control-label labelsFormNav">Cliente</label>
                        <div class="controls">
                            <select id="clientesCeg" onchange="postCascadeCliente(); postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                <option value="12">CEG</option>
                                <option value="13">CEG RIO</option>
                            </select>
                        </div>
                    </div> -->
                    
                    <div class="control-group">
                        <label class="control-label labelsFormNav">Zona</label>
                        <div class="controls">
                            @{
                                int? zona = Context.Session.GetInt32("Zona");

                                if (zona != null)
                                {
                                    <select id="zonas" onchange="postZona(); postToController();" disabled="disabled" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                        @for (int i = 0; i < ViewBag.Zonas.Count; i++)
                                        {
                                            if (zona == ViewBag.Zonas[i].Id)
                                            {
                                                ViewBag.ZonaSelecionada = i;
                                                <option value="@ViewBag.Zonas[i].Id">@ViewBag.Zonas[i].Zona</option>
                                            }
                                            else
                                            {
                                                <option value="@ViewBag.Zonas[i].Id">@ViewBag.Zonas[i].Zona</option>
                                            }
                                        }

                                    </select>
                                }
                                else
                                {
                                    <select id="zonas" onchange="postZona();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                        @foreach (var item in ViewBag.Zonas)
                                        {
                                            <option value="@item.Id">@item.Zona</option>
                                        }
                                    </select>
                                }
                            }
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Delegação</label>
                        <div class="controls">
                            @{
                                int? delegacao = Context.Session.GetInt32("Delegação");

                                if (delegacao != null)
                                {
                                    <select id="delegacoes" onchange="postDelegacao();" disabled="disabled" class="alturaFormNavInput form-control fontTableBodyNavBar delegacaoSelect">
                                        @for (int i = 0; i < ViewBag.Delegacao.Count; i++)
                                        {
                                            if (delegacao == ViewBag.Delegacao[i].Id)
                                            {
                                                ViewBag.DelegacaoSel = i;
                                            }
                                            <option value="@ViewBag.Delegacao[i].Id">@ViewBag.Delegacao[i].Delegacao</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select id="delegacoes" onchange="postDelegacao(); postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar delegacaoSelect">
                                        @foreach (var item in ViewBag.Delegacao)
                                        {
                                            <option value="@item.Id">@item.Delegacao</option>
                                        }
                                    </select>
                                }
                            }
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Área</label>
                        <div class="controls">

                            @{
                                int? area = Context.Session.GetInt32("Área");
                                int? areaQuantidade = Context.Session.GetInt32("QuantidadeArea");
                                if ((area != null) && (areaQuantidade != null && areaQuantidade == 1))
                                {
                                    <select id="areas" onchange="postArea(); postToController();" disabled="disabled" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:70px;">
                                        @for (int i = 0; i < ViewBag.Areas.Count; i++)
                                        {
                                            if (area == ViewBag.Areas[i].Id)
                                            {
                                                ViewBag.AreaSel = i;
                                            }
                                            <option value="@ViewBag.Areas[i].Id">@ViewBag.Areas[i].Area</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select id="areas" onchange="postArea(); postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:70px;">
                                        @foreach (var item in ViewBag.Areas)
                                        {
                                            <option value="@item.Id">@item.Area</option>
                                        }
                                    </select>
                                }
                            }

                        </div>
                    </div>


                     <div class="control-group">
                        <label class="control-label labelsFormNav">Lote</label>
                        <div class="controls">
                            <select id="lotes" name="LoteError" onchange="postLote(); postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:100px;">

                                @foreach (var item in ViewBag.Lotes)
                                {
                                    <option value="@item[0]">
                                        @item[1]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @item[2]
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @item[3]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item[4]
                                    </option>
                                }

                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Status Casa</label>
                        <div class="controls">
                            <select id="CasaStatus" name="CasaStatus" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                <option value="1">NÃO CONTRATADO</option>
                                <option value="2">VISITA AGENDADA</option>
                                <option value="3">CONTRATADO</option>
                            </select>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label labelsFormNav">Ult. Rejeição</label>
                        <div class="controls">
                            <select id="motivosRejeicao" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.MotivosRejeicao)
                                {
                                    <option value="@item.Id">@item.Motivo</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Data da Ult. Rejeição</label>
                        <div class="controls">
                            <input id="dtult" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:100px;" type="text">
                        </div>
                    </div>

                   

                   

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Status Cond.</label>
                        <div class="controls">
                            <select id="statusCond" onchange="postStatusCond(); postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.StatusCondominios)
                                {
                                    <option value="@item.Id">@item.Item</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Condomínio</label>
                        <div class="controls">
                            <select id="condominiosId" onchange="postToController();" class="alturaFormNavInput form-control fontTableBodyNavBar selectsNav">
                                @foreach (var item in ViewBag.ListaCondominios)
                                {
                                    <option value="@item.Id">
                                        @item.Nome
                                        @item.Num
                                        @item.Complemento
                                        @item.Item
                                        @item.Z
                                        @item.D
                                    </option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Condomínio</label>
                        <div class="controls">
                            <input id="CondNome" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Localidade</label>
                        <div class="controls">
                            <input id="Localidade" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label  labelsFormNav">Bairro</label>
                        <div class="controls">
                            <input id="Bairro" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label labelsFormNav">Logradouro</label>
                        <div class="controls">
                            <input id="Logradouro" class="alturaFormNavInput form-control fontTableBodyNavBar" type="text" />
                        </div>
                    </div>

                    <div class="col-xs-6" style="padding-left:0px;">
                        <label class="labelsFormNav">Número Entre</label>
                        <input id="Numero1" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:60px" type="text" />
                    </div>
                    <div class="col-xs-offset-3"></div>
                    <div class="col-xs-4">
                        <label class="labelsFormNav">E</label>
                        <input id="Numero2" class="alturaFormNavInput form-control fontTableBodyNavBar" style="width:60px" type="text" />
                    </div>


                    <br />
                    <br />
                    <br />

                    <div class="col-xs-4"><a href="#" onclick="limpaFiltro();"><img src="~/images/filter_delete.png" title="Limpar Filtro" width="25" height="25" /></a></div>
                    <div class="col-xs-8"><a href="#" onclick="postToController();"><img src="~/images/binoculars_128.png" title="Filtrar" width="35" height="35" /></a></div>
                    


                    <br />
                    <label  class="fontTableBodyNavBar">Exportar Pijama Formato Novatec</label>
                    <a href="#" onclick="ExportaPadraoNovatec();">
                        <img src="~/images/ms_excel.png" style="margin-left:19px;" width="30" height="30" />
                    </a>

                    <br />

                    <label class="fontTableBodyNavBar">Exportar Pijama Formato Gás Natural</label>

                    <a href="#" onclick="ExportaPadraoGas();">
                        <img src="~/images/ms_excel.png" width="30" height="30" />
                    </a>
                    <br />

                </form>

            </nav>
        </div>
        <div class="col-sm-9 col-lg-10">
            <div id="page-selection"></div>
            <table id="tabelaEnderecoVisitas" class="table table-bordered table-striped tabelaModal">
                <thead id="headTabelaLote" >
                    <tr>
                        <th class="text-center">Casa</th>
                        <th class="text-center">Lote</th>
                        <th class="text-center">Z</th>
                        <th class="text-center">D</th>
                        <th class="text-center">AR</th>
                        <th class="text-center">PT</th>
                        <th class="text-center">Condomínio</th>
                        <th class="text-center">Localidade</th>
                        <th class="text-center">Bairro</th>
                        <th class="text-center">Via</th>
                        <th class="text-center">Logradouro</th>
                        <th class="text-center">Num</th>
                        <th class="text-center">Comp</th>
                        <th class="text-center">Bloco</th>
                        <th class="text-center">Apt</th>
                        <th class="text-center">ULTMOTIVO</th>
                        <th class="text-center">AGULT</th>
                        <th class="text-center">DTULT</th>
                       <!-- <th class="text-center">STATUSCL</th>
                        <th class="text-center">DTSTATUSCL</th>
                        <th class="text-center">CASASTATUS</th>
                        <th class="text-center">Visitado</th>
                        <th class="text-center">Contratado</th>
                        <th class="text-center">VendaApp</th>
                        <th class="text-center">Visitas</th>
                        <th class="text-center">Entrevistas</th>
                        <th class="text-center">Ausentes</th>
                        <th class="text-center">Endinex</th>
                        <th class="text-center">D2</th>
                        <th class="text-center">SVG</th>
                        <th class="text-center">SVE</th>
                        
                        <th class="text-center">CASOA</th>
                        <th class="text-center">CASOB</th>
                        <th class="text-center">CASOC</th>
                        <th class="text-center">CASOD</th>
                        <th class="text-center">DTULT2</th>
                        <th class="text-center">HRULT</th> -->
                    </tr>
                </thead>
                <tbody id="corpoTabelaAtivos" class="corpoTabela">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td id="Casa_@item.Id" class="text-left">@item.Casa</td>
                            <td id="Lote_@item.Id">@item.Lote</td>
                            <td id="Z_@item.Id">@item.Z</td>
                            <td id="D_@item.Id">@item.D</td>
                            <td id="AR_@item.Id">@item.Ar</td>
                            <td id="PT_@item.Id">@item.Pt</td>
                            <td id="Localidade_@item.Id">@item.Localidade</td>
                            <td id="Bairro_@item.Id">@item.Bairro</td>
                            <td id="Via_@item.Id">@item.Via</td>
                            <td id="Logradouro_@item.Id" class="text-left" >@item.Logradouro</td>
                            <td id="Num_@item.Id">@item.Num</td>
                            <td id="Comp_@item.Id">@item.Complemento</td>
                            <td id="Bloco_@item.Id">@item.Bloco</td>
                            <td id="Apt_@item.Id">@item.Apt</td>
                            <td id="UltMotivo_@item.Id">@item.UltMotivo</td>
                            <td id="Agult_@item.Id">@item.Agult</td>
                            <td id="Dtult_@item.Id">@item.Dtult</td>
                            
                            <td id="StatusCl_@item.Id">@item.StatusCl</td>
                            @{
                                if (item.DtStatusCl == null)
                                {
                                    <td id="DtStatusCl_@item.Id"></td>

                                }
                                else
                                {
                                <td id="DtStatusCl_@item.Id">@item.DtStatusCl</td>
                                }
                             }

                            <td id="CasaStatus_@item.Id">@item.CasaStatus</td>
                            <td id="Visitado_@item.Id">@item.Visitado</td>
                            <td id="Contratado_@item.Id">@item.Contratado</td>
                            <td id="VendaApp_@item.Id">@item.VendaApp</td>
                            <td id="Visitas_@item.Id">@item.Visitas</td>
                            <td id="Entrevistas_@item.Id">@item.Entrevistas</td>
                            <td id="Ausentes_@item.Id">@item.Ausencias</td>
                            <td id="Endinex_@item.Id">@item.Endinex</td>
                            <td id="D2_@item.Id">@item.D2</td>
                            <td id="Svg_@item.Id">@item.Svg</td>
                            <td id="Sve_@item.Id">@item.Sve</td>
                            <td id="Condominio_@item.Id">@item.Condominio</td>
                            <td id="CasoA_@item.Id">@item.CasoA</td>
                            <td id="CasoB_@item.Id">@item.CasoB</td>
                            <td id="CasoC_@item.Id">@item.CasoC</td>
                            <td id="CasoD_@item.Id">@item.CasoD</td>
                            <td id="Dtult2_@item.Id">@item.Dtult2</td>
                            <td id="Hrult_@item.Id">@item.Hrult</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
<script type="text/javascript">

    $("#lotes").prop("selectedIndex", -1);
    $("#CasaStatus").prop("selectedIndex", -1);
    $("#motivosRejeicao").prop("selectedIndex", -1);
    $("#clientesCeg").prop("selectedIndex", -1);
    $("#zonas").prop("selectedIndex", -1);
    $("#delegacoes").prop("selectedIndex", -1);
    $("#areas").prop("selectedIndex", -1);
    $("#statusCond").prop("selectedIndex", -1);
    $("#condominiosId").prop("selectedIndex", -1);

   


    ///--------------------------------------------COLADO de site.js
    $('#dtult').datepicker({
        format: "dd/mm/yyyy",
        todayBtn: "linked",
        language: "pt-BR",
        orientation: "bottom left"
    });

    function getFormDataAsJson() {
        var botaoClicado = clicado();

        return {
            IdLote: $('#lotes').val(),
            CasaStatus: $('#CasaStatus').val(),
            IdultMotivo: $('#motivosRejeicao').val(),
            Dtult: $('#dtult').val(),
            ClId: $('#clientesCeg').val(),
            ZId: $('#zonas').val(),
            DId: $('#delegacoes').val(),
            AId: $('#areas').val(),
            StatusId: $('#statusCond').val(),
            CondId: $('#condominiosId').val(),
            CondNome: $('#CondNome').val().toString().trim(),
            Localidade: $('#Localidade').val().toString().trim(),
            Bairro: $('#Bairro').val().toString().trim(),
            Logradouro: $('#Logradouro').val().toString().trim(),
            Numero1: $('#Numero1').val(),
            Numero2: $('#Numero2').val(),
            Botao: botaoClicado
        }
    }

    function clicado() {
        var id = '';
        if ($('#todos').data('clicked')) {
            $('#todos').data('clicked', false);
            id = 'todos';
            $('#todosli').addClass('disabled');

            $('#ativosli').removeClass('disabled');
            $('#semLoteTodosli').removeClass('disabled');
            $('#semLoteNaoli').removeClass('disabled');

        } else if ($('#ativos').data('clicked')) {
            $('#ativos').data('clicked', false);
            id = 'ativos';
            $('#todosli').removeClass('disabled')
            $('#ativosli').addClass('disabled');

            $('#semLoteTodosli').removeClass('disabled');
            $('#semLoteNaoli').removeClass('disabled');


        } else if ($('#semLoteTodos').data('clicked')) {
            $('#semLoteTodos').data('clicked', false)
            id = 'semLoteTodos';
            $('#todosli').removeClass('disabled')
            $('#ativosli').removeClass('disabled');

            $('#semLoteTodosli').addClass('disabled');
            $('#semLoteNaoli').removeClass('disabled');

        } else if ($('#semLoteNao').data('clicked')) {
            $('#semLoteNao').data('clicked', false)
            id = 'semLoteNao';
            $('#todosli').removeClass('disabled')
            $('#ativosli').removeClass('disabled');
            $('#semLoteTodosli').removeClass('disabled');

            $('#semLoteNaoli').addClass('disabled');
        } else if (id == '') {
            if ($("#todosli").hasClass('disabled')) {
                id = 'todos';
            } else if ($("#ativosli").hasClass('disabled')) {
                id = 'ativos';
            } else if ($("#semLoteTodosli").hasClass('disabled')) {
                id = 'semLoteTodos';
            } else if ($("#semLoteNaoli").hasClass('disabled')) {
                id = 'semLoteNao';
            }
        }

        return id;
    }

    function atualizaView(retorno) {
        tabelaEstatisticas(retorno)
        montaPaginacao(retorno);
        tabelaLoteAtivos(retorno);
    };

    function montaPaginacao(retorno) {
        //paginação
        $('#page-selection').unbind(); // limpa os eventos adicionados nessa tag

          $('#page-selection').bootpag({
              total: retorno.QuantasPaginasExistem,
              page: 1,
              maxVisible: 5,
              firstLastUse: true,
              first: '←',
              last: '→',
              nextClass: 'next',
              prevClass: 'prev',
              lastClass: 'last',
              firstClass: 'first'
              
          }).on("page", function (event, num) {
              // some ajax content loading...
              postPaginacao(num);
              
          }); 

    }

    function postPaginacao(num) {
        var data = getFormDataAsJson();
        data.PaginaClicada = num;
           $.post("@Url.Action("GetListLoteAtivoView", "Adesao")", data, tabelaLoteAtivos);
    }

    window.onload = function () {
       postToController();
    };

    function atualizaViewNao(retorno) {
        tabelaEstatisticas(retorno)
        tabelaLoteNao(retorno)
    }

    function montaHeadTabelaNao() {

        $('#headTabelaLote tr').remove();

        var tr = $('<tr/>');

        tr.append('<th class="text-center">Casa</th>');
        tr.append('<th class="text-center">Lote</th>');
        tr.append('<th class="text-center">AR</th>');
        tr.append('<th class="text-center">Localidade</th>');
        tr.append('<th class="text-center">Bairro</th>');
        tr.append('<th class="text-center">Endereço</th>');
        tr.append('<th class="text-center">PT</th>');
        tr.append('<th class="text-center">ULTMOTIVO</th>');
        tr.append('<th class="text-center">AGULT</th>');
        tr.append('<th class="text-center">DTULT</th>');
        tr.append('<th class="text-center">HRULT</th>');
        tr.append('<th class="text-center">CASASTATUS</th>');
        tr.append('<th class="text-center">Zid</th>');
        tr.append('<th class="text-center">Did</th>');
        tr.append('<th class="text-center">Aid</th>');
        tr.append('<th class="text-center">CondId</th>');
        tr.append('<th class="text-center">PtId</th>');
        tr.append('<th class="text-center">IdLote</th>');
        tr.append('<th class="text-center">STATUSCLID</th>');
        tr.append('<th class="text-center">CLID</th>');

        $('#headTabelaLote').append(tr);
    };

    function montaHeadLocal() {
        $('#headTabelaLote tr').remove();

        var tr = $('<tr/>');

        tr.append('<th class="text-center">Casa</th>');
        tr.append('<th class="text-center">Lote</th>');
        tr.append('<th class="text-center">Z</th>');
        tr.append('<th class="text-center">D</th>');
        tr.append('<th class="text-center">AR</th>');
        tr.append('<th class="text-center">PT</th>');
        tr.append('<th class="text-center">Condomínio</th>');

        tr.append('<th class="text-center">Localidade</th>');
        tr.append('<th class="text-center">Bairro</th>');
        tr.append('<th class="text-center">Via</th>');
        tr.append('<th class="text-center">Logradouro</th>');
        tr.append('<th class="text-center">Num</th>');
        tr.append('<th class="text-center">Comp</th>');
        tr.append('<th class="text-center">Bloco</th>');
        tr.append('<th class="text-center">Apt</th>');
        tr.append('<th class="text-center">ULTMOTIVO</th>');
        tr.append('<th class="text-center">AGULT</th>');
        tr.append('<th class="text-center">DTULT</th>');
      /*  tr.append('<th class="text-center">STATUSCL</th>');
        tr.append('<th class="text-center">DTSTATUSCL</th>');
        tr.append('<th class="text-center">CASASTATUS</th>');
        tr.append('<th class="text-center">Visitado</th>');
        tr.append('<th class="text-center">Contratado</th>');
        tr.append('<th class="text-center">VendaApp</th>');
        tr.append('<th class="text-center">Visitas</th>');
        tr.append('<th class="text-center">Entrevistas</th>');
        tr.append('<th class="text-center">Ausentes</th>');
        tr.append('<th class="text-center">Endinex</th>');
        tr.append('<th class="text-center">D2</th>');
        tr.append('<th class="text-center">SVG</th>');
        tr.append('<th class="text-center">SVE</th>');
        
        tr.append('<th class="text-center">CASOA</th>');
        tr.append('<th class="text-center">CASOB</th>');
        tr.append('<th class="text-center">CASOC</th>');
        tr.append('<th class="text-center">CASOD</th>');
        tr.append('<th class="text-center">DTULT2</th>');
        tr.append('<th class="text-center">HRULT</th>'); */

        $('#headTabelaLote').append(tr);
    };

    function postToController() {
        var data = getFormDataAsJson();
        //, 'application/json; charset=utf-8'
        $.post("@Url.Action("GetListLoteAtivoView", "Adesao")", data, atualizaView);
    }

    function postToControllerSemLote() {
            var data = getFormDataAsJson();
            $.post( "@Url.Action("GetListLoteNaoView","Adesao")", data, atualizaViewNao);
        }

   function tabelaLoteAtivos(retorno) {

       montaHeadLocal();

       $('#corpoTabelaAtivos tr').remove();

       var tr;
       var r = new Array();
       var j = -1;

        //tr = $('<tr/>');

       for (var i = 0; i < retorno.EV.length; i++) {
            
            r[++j] = "<tr>";
            r[++j] = "<td>" ;
            r[++j] = retorno.EV[i].casa;
            r[++j] =  "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].lote;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].z;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].d;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].ar;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].pt;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].condominio;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].localidade;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].bairro;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].via;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].logradouro;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].num;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].complemento;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].bloco;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].apt;
            r[++j] = "</td>";

            if (retorno.EV[i].ultMotivo == null) {
                r[++j] = "<td>";
                r[++j] = "</td>";
            } else {
                r[++j] = "<td>";
                r[++j] = retorno.EV[i].ultMotivo;
                r[++j] = "</td>";
            }

            if (retorno.EV[i].agult == null) {
                r[++j] = "<td>";
                r[++j] = "</td>";
            } else {
                r[++j] = "<td>";
                r[++j] = retorno.EV[i].agult;
                r[++j] = "</td>";
            }

            r[++j] = "<td>";
            r[++j] = retorno.EV[i].dtult;
            r[++j] = "</td>";
        /*    r[++j] = "<td>";
            r[++j] = retorno.EV[i].statusCl;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].dtStatusCl;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].casaStatus;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].visitado;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].contratado;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].vendaApp;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].visitas;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].entrevistas;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].ausencias;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].endinex;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].d2;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].svg;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].sve;
            r[++j] = "</td>";
           
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].casoA;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].casoB;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].casoC;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].casoD;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].dtult2;
            r[++j] = "</td>";
            r[++j] = "<td>";
            r[++j] = retorno.EV[i].hrult;
            r[++j] = "</td>";*/
            r[++j] = "</tr>";
        }
        $('#corpoTabelaAtivos').html(r.join(''));

    };

   function tabelaLoteNao(retorno) {
        // montaHeadTabelaNao();
        montaHeadTabelaNao();

        $('#corpoTabelaAtivos tr').remove();

        var tr;

        for (var i = 0; i < retorno.EV.length; i++) {
            tr = $('<tr/>');

            tr.append("<td>" + retorno.EV[i].casa + "</td>");
            tr.append("<td>" + retorno.EV[i].lote + "</td>");
            tr.append("<td>" + retorno.EV[i].ar + "</td>");
            tr.append("<td>" + retorno.EV[i].localidade + "</td>");
            tr.append("<td>" + retorno.EV[i].bairro + "</td>");
            tr.append("<td>" + retorno.EV[i].endereco + "</td>");
            tr.append("<td>" + retorno.EV[i].pt + "</td>");
            tr.append("<td>" + retorno.EV[i].ultMotivo + "</td>");
            tr.append("<td>" + retorno.EV[i].agult + "</td>");
            tr.append("<td>" + retorno.EV[i].dtult + "</td>");
            tr.append("<td>" + retorno.EV[i].hrult + "</td>");
            tr.append("<td>" + retorno.EV[i].casaStatus + "</td>");
            tr.append("<td>" + retorno.EV[i].zid + "</td>");
            tr.append("<td>" + retorno.EV[i].aid + "</td>");
            tr.append("<td>" + retorno.EV[i].condid + "</td>");
            tr.append("<td>" + retorno.EV[i].ptId + "</td>");
            tr.append("<td>" + retorno.EV[i].idLote + "</td>");
            tr.append("<td>" + retorno.EV[i].statusClid + "</td>");
            tr.append("<td>" + retorno.EV[i].clid + "</td>");


            $('#corpoTabelaAtivos').append(tr);
        }

    };

   function tabelaEstatisticas(retorno) {
        for (var i = 0; i < retorno.Numeracoes.length; i++) {
            $('#e' + i).html(retorno.Numeracoes[i]);
        }

        for (var j = 0; j < retorno.Porcentagens.length; j++) {
            $('#ep' + j).html(retorno.Porcentagens[j] + '%');
        }

    }

   function limpaFiltro() {
        $('#lotes').val("");
        $('#CasaStatus').val("");
        $('#motivosRejeicao').val("");
        $('#dtult').val("");
        $('#clientesCeg').val("");
        $('#zonas').val("");
        $('#delegacoes').val("");
        $('#areas').val("");
        $('#statusCond').val("");
        $('#condominiosId').val("");
        $('#CondNome').val("");
        $('#Localidade').val("");
        $('#Bairro').val("");
        $('#Logradouro').val("");
        $('#Numero1').val("");
        $('#Numero2').val("");

        var parametro = {};
        parametro.Botao = clicado();
        parametro.LimpaFiltro = true;


        if ($("#todosli").hasClass('disabled')) {
            id = 'todos';
        } else if ($("#ativosli").hasClass('disabled')) {
            id = 'ativos';
        } else if ($("#semLoteTodosli").hasClass('disabled')) {
            id = 'semLoteTodos';
        } else if ($("#semLoteNaoli").hasClass('disabled')) {
            id = 'semLoteNao';
        }

        if ((parametro.Botao == 'todos') || (parametro.Botao == 'ativos')) {
            $.post("@Url.Action("LimpaFiltros", "Adesao")", parametro, bindSelects);

        }
        else {
            $.post("@Url.Action("LimpaFiltrosNao", "Adesao")", parametro, atualizaViewNao);
        }
    }

    function bindSelects(retorno) {
        atualizaView(retorno);
        var parametro = {};

        parametro.LimpaFiltro = true;
        $.post("@Url.Action("LimpaSelects","Adesao")", parametro, atualizaSelects);
    }

    function atualizaSelects(retorno) {

        $('#lotes').empty();
        $('#motivosRejeicao').empty();
        $('#zonas').empty();
        $('#delegacoes').empty();
        $('#areas').empty();
        $('#statusCond').empty();
        $('#condominiosId').empty();

        var p = $('<p>').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');

        for (var i = 0; i < retorno.Lotes.length; i++) {
            $("#lotes").append($("<option />").val(retorno.Lotes[i][0]).text(retorno.Lotes[i][1] + p.text()
                  + retorno.Lotes[i][2] + p.text()
                  + retorno.Lotes[i][3] + p.text()
                  + retorno.Lotes[i][4]));
        }

        for (var i = 0; i < retorno.MotivosRejeicao.length; i++) {
            $('#motivosRejeicao').append($("<option />").val(retorno.MotivosRejeicao[i].id).text(retorno.MotivosRejeicao[i].motivo));
        }

        for (var i = 0; i < retorno.Zonas.length; i++) {
            $('#zonas').append($("<option />").val(retorno.Zonas[i].id).text(retorno.Zonas[i].zona));
        }

        for (var i = 0; i < retorno.Delegacao.length; i++) {
            $('#delegacoes').append($("<option />").val(retorno.Delegacao[i].id).text(retorno.Delegacao[i].delegacao));
        }

        for (var i = 0; i < retorno.Areas.length; i++) {
            $('#areas').append($("<option />").val(retorno.Areas[i].id).text(retorno.Areas[i].area));
        }

        for (var i = 0; i < retorno.StatusCondominios.length; i++) {
            $('#statusCond').append($("<option />").val(retorno.StatusCondominios[i].id).text(retorno.StatusCondominios[i].item));
        }

        for (var i = 0; i < retorno.ListaCondominios.length; i++) {
            var b = $('<p>').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
            $('#condominiosId').append($("<option />").val(retorno.ListaCondominios[i].id).text(retorno.ListaCondominios[i].nome +
                b.text() +
                retorno.ListaCondominios[i].num + b.text() + retorno.ListaCondominios[i].complemento + b.text() +
                retorno.ListaCondominios[i].item + b.text() + retorno.ListaCondominios[i].z + b.text()
                + retorno.ListaCondominios[i].d))
        }

        $("#lotes").prop("selectedIndex", -1);
        $('#CasaStatus').prop("selectedIndex", -1);
        $('#motivosRejeicao').prop("selectedIndex", -1);
        $('#zonas').prop("selectedIndex", -1);
        $('#delegacoes').prop("selectedIndex", -1);
        $('#areas').prop("selectedIndex", -1);
        $('#statusCond').prop("selectedIndex", -1);
        $('#condominiosId').prop("selectedIndex", -1);

    }

    function ExportaPadraoNovatec() {
        var data = getFormDataAsJson();
        //   $.get('/Adesao/ExportaExcel', data, DownloadExcel); //loteAtivo=' + JSON.stringify(data)
        //  window.location = '/Adesao/ExportaExcel?loteAtivo=' + JSON.stringify(data);
        //"@Url.Action("ExportaExcel?loteAtivo= JSON.stringify(data);", "Adesao")";
        var urlconfig = '@AppSettings.ExcelExportUrl';
        window.location.href = ''+urlconfig+'/Adesao/ExportaExcel?loteAtivo=' + JSON.stringify(data);
        //'/Adesao/ExportaExcel?loteAtivo=' + JSON.stringify(data);
    }

    function ExportaPadraoGas() {
        var data = getFormDataAsJson();
        //   $.get('/Adesao/ExportaExcel', data, DownloadExcel); //loteAtivo=' + JSON.stringify(data)
        //  window.location = '/Adesao/ExportaExcel?loteAtivo=' + JSON.stringify(data);
        var lc = $('#lotes').val();
        var url = '@AppSettings.ExcelExportUrl';

        if (lc != null) {
            window.location.href = '' + url + '/Adesao/ExportaPadraoGasNatural?loteAtivo=' + JSON.stringify(data);
        } else {
            alert('Selecione um lote');
        }
    }

    function postCascadeCliente() {
        var p = {};
        p.cliente = $('#clientesCeg').val();
        $.post('/Adesao/ClienteCascade', p, atualizaDropsCliente);

    }

    function atualizaDropsCliente(retorno) {
        $("#zonas").empty();
        $("#delegacoes").empty();
        $("#areas").empty();
        $("#lotes").empty();

        $.each(retorno.Zonas, function () {
            $("#zonas").append($("<option />").val(this.id).text(this.zona));
        });

        $.each(retorno.Delegacao, function () {
            $("#delegacoes").append($("<option />").val(this.id).text(this.delegacao));
        });

        $.each(retorno.Area, function () {
            $("#areas").append($("<option />").val(this.id).text(this.area));
        });

        $.each(retorno.Lote, function () {
            var p = $('<p>').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');

            $("#lotes").append($("<option />").val(this.id).text(this.loteNum + p.text()
                  + this.ge + p.text()
                  + this.dataLote + p.text()
                  + this.item));
        });

        $("#zonas").prop("selectedIndex", -1);
        $("#delegacoes").prop("selectedIndex", -1);
        $("#areas").prop("selectedIndex", -1);
        $("#lotes").prop("selectedIndex", -1);
    }

    function postZona() {
        var p = {};
        p.zona = $("#zonas").val();
        $.post("@Url.Action("ZonaCascade","Adesao")", p, atualizaDropsZona);

    }

    function atualizaDropsZona(retorno) {
        $("#delegacoes").empty();
        $("#areas").empty();
        $("#lotes").empty();
        $("#condominiosId").empty();


        $.each(retorno.Delegacao, function () {
            $("#delegacoes").append($("<option />").val(this.id).text(this.delegacao));
        });

        $.each(retorno.Area, function () {
            $("#areas").append($("<option />").val(this.id).text(this.area));
        });

        $.each(retorno.Lote, function () {
            var p = $('<p>').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');

            $("#lotes").append($("<option />").val(this.id).text(this.loteNum + p.text()
                  + this.ge + p.text()
                  + this.dataLote + p.text()
                  + this.item));
        });

        $.each(retorno.Condominio, function () {
            var p = $('<p>').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
            $("#condominiosId").append($("<option />").val(this.id)
            .text(this.nome + p.text() + this.num + p.text() + this.complemento + p.text() +
            this.item + p.text() + this.z + p.text() + this.d));
        });

        $("#lotes").prop("selectedIndex", -1);
        $("#delegacoes").prop("selectedIndex", -1);
        $("#areas").prop("selectedIndex", -1);
        $("#condominiosId").prop("selectedIndex", -1);

        postToController();
    }

    function postDelegacao() {
        var p = {};
        p.delegacao = $("#delegacoes").val();
        $.post("@Url.Action("DelegacaoCascade","Adesao")", p, atualizaDropsDelegacao);
    }

    function atualizaDropsDelegacao(retorno) {
        $("#areas").empty();
        $("#lotes").empty();
        $("#condominiosId").empty();

        $.each(retorno.Area, function () {
            $("#areas").append($("<option />").val(this.id).text(this.area));
        });

        $.each(retorno.Lote, function () {
            var p = $('<p>').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');

            $("#lotes").append($("<option />").val(this[0]).text(this[1] + p.text()
                  + this[2] + p.text()
                  + this[3] + p.text()
                  + this[4]));
        });

        $.each(retorno.Condominio, function () {
            var p = $('<p>').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
            $("#condominiosId").append($("<option />").val(this.id)
            .text(this.nome + p.text() + this.num + p.text() + this.complemento + p.text() +
            this.item + p.text() + this.z + p.text() + this.d));
        });

        $("#lotes").prop("selectedIndex", -1);
        $("#areas").prop("selectedIndex", -1);
        $("#condominiosId").prop("selectedIndex", -1);

        postToController();
    }

    function postArea() {
        var p = {};

        p.area = $("#areas").val();
        $.post("@Url.Action("AreaCascade", "Adesao")", p, atualizaDropsArea);
    }

    function atualizaDropsArea(retorno) {
        $("#lotes").empty();
        $("#condominiosId").empty();

        $.each(retorno.Lote, function () {
            var p = $('<p>').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');

            $("#lotes").append($("<option />").val(this[0]).text(this[1] + p.text()
                  + this[2] + p.text()
                  + this[3] + p.text()
                  + this[4]));
        });

        $.each(retorno.Condominio, function () {
            var p = $('<p>').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
            $("#condominiosId").append($("<option />").val(this.id)
            .text(this.nome + p.text() + this.num + p.text() + this.complemento + p.text() +
            this.item + p.text() + this.z + p.text() + this.d));
        });

        $("#lotes").prop("selectedIndex", -1);
        $("#condominiosId").prop("selectedIndex", -1);
    }

    function postLote() {
        var p = {};

        p.lote = $("#lotes").val();
        $.post("@Url.Action("LoteCascade", "Adesao")", p, atualizaDropsLote);
    }

    function atualizaDropsLote(retorno) {
        $("#condominiosId").empty();

        $.each(retorno.Condominio, function () {
            var p = $('<p>').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
            $("#condominiosId").append($("<option />").val(this.id)
            .text(this.nome + p.text() + this.num + p.text() + this.complemento + p.text() +
            this.item + p.text() + this.z + p.text() + this.d));
        });

        $("#condominiosId").prop("selectedIndex", -1);
    }

    function postStatusCond() {
        var p = {};

        p.status = $("#statusCond").val();
        p.area = $("#areas").val();
        $.post("@Url.Action("StatusCliCascade", "Adesao")", p, atualizaDropsStatus);
    }

    function atualizaDropsStatus(retorno) {
        $("#condominiosId").empty();

        $.each(retorno.Condominio, function () {
            var p = $('<p>').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
            $("#condominiosId").append($("<option />").val(this.id)
            .text(this.nome + p.text() + this.num + p.text() + this.complemento + p.text() +
            this.item + p.text() + this.z + p.text() + this.d));
        });

        $("#condominiosId").prop("selectedIndex", -1);
    }

    ///-----------------------------------------FIM---COLADO de site.js
    var as = '';
    var zs = '';
    var ds = '';

    if ('@ViewBag.ZonaSelecionada' !='') {
        zs = '@ViewBag.ZonaSelecionada';
    }

    if ('@ViewBag.AreaSel' != '') {
        as = '@ViewBag.AreaSel';
    }

    if ('@ViewBag.DelegacaoSel' != '') {
        ds = '@ViewBag.DelegacaoSel';
    }

    if (zs != '') {
        $("#zonas").prop("selectedIndex", zs);
    }

    if (ds != '') {
        $("#delegacoes").prop("selectedIndex", ds);
        postDelegacao();
    }

    if (as != '') {
        $("#areas").prop("selectedIndex", as);
    }


    //$("#areas").prop("selectedIndex", -1);

</script>
    }
   
   